@charset "utf-8";
/* @ color
 * ------------------------------------------------------------ */

/*doc
---
title: tool-color
name: tool-color
categories: [utilities, tool-color]
---


<div class="styleguide-table"></div>
 Class        |  Description
 -------------| ----------
 `is-color-success`      |
 `is-color-warning`      |
 `is-color-error`        |
 `is-color-info`         |
 `is-bg-color-success`   |
 `is-bg-color-warning`   |
 `is-bg-color-error`     |
 `is-bg-color-info`      |

*/





@mixin color-base($color-code, $color-name) {

  .is-color#{$color-name} {
    color: $color-code!important;
  }

  .is-bg-color#{$color-name} {
    background-color: $color-code!important;
  }
}

@include color-base ($primary-color-light, -primary-light);
@include color-base ($primary-color, -primary);
@include color-base ($primary-color-dark, -primary-dark);

@include color-base ($accent-color, -secondary);

@include color-base ($primary-text-color, -text);
@include color-base ($secondary-text-color, -text-sub);
@include color-base ($disabled-text-color, -text-week);

@include color-base ($primary-text-color-white, -text);
@include color-base ($secondary-text-color-white, -text-sub);
@include color-base ($disabled-text-color-white, -text-week);

@include color-base ($link-color, -link);
@include color-base ($link-color-visited, -link-visited);
@include color-base ($link-color-hover, -link-hover);

@include color-base ($success-color, -success);
@include color-base ($warning-color, -warning);
@include color-base ($error-color, -error);
@include color-base ($info-color, -info);
