//"material-design-icons": "^3.0.1"
//https://github.com/google/material-design-icons

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;

  //fix
  src: url(../iconfont/MaterialIcons-Regular.eot);
  src: local('Material Icons'), local('MaterialIcons-Regular'),
  url(../iconfont/MaterialIcons-Regular.woff2) format('woff2'),
  url(../iconfont/MaterialIcons-Regular.woff) format('woff'),
  url(../iconfont/MaterialIcons-Regular.ttf) format('truetype')
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: $fsize-material-icons;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  //fix
  font-size: inherit;
  display: none\9;
  @media all and (-ms-high-contrast:none){
    display: inline-block\0;
  }
}
