//"material-design-icons": "^3.0.1"
//https://github.com/google/material-design-icons

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;

  //fix
  src: url(../iconfont/MaterialIcons-Regular.eot);
  src: local('Material Icons'), local('MaterialIcons-Regular'),
  url(../iconfont/MaterialIcons-Regular.woff2) format('woff2'),
  url(../iconfont/MaterialIcons-Regular.woff) format('woff'),
  url(../iconfont/MaterialIcons-Regular.ttf) format('truetype')
}


.material-icons {

  @include material-icons(inherit);

  display: none\9;
  @media all and (-ms-high-contrast:none){
    display: inline-block\0;
  }
}