{% extends "_layout/_base.njk" %}

{% set page_title = "" %}
{% set page_url = "" %}
{% set page_description = "" %}
{% set page_keywords = "" %}

{% block main %}

<div class="c-breadcrumb" role="navigation" aria-label="現在地表示">
  <div class="c-breadcrumb__inner">
    <span><a href="/">ホーム</a></span>
    <span>お問い合わせ</span>
  </div>
</div>
<section class="l-container">
  <div class="l-block">


    <div class="e-heading-group">
      <h1 class="e-heading1">お問い合わせ</h1>
      <p class="e-heading-copy">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
    </div>

    <div class="l-unit">
      <form>
        <table class="e-form-table">


          <tr>
            <th>
              <label for="name">お名前<span class="e-form-req">必須</span></label>
            </th>
            <td>
              <div class="e-form-cols e-form-cols--break">
                <div class="e-form-col8">
                  <input type="text" name="name" id="name" value="" class="e-form-control is-error" aria-describedby="name-tip" placeholder="姓名">
                  <div class="e-form-message-box">
                    <p class="e-form-error-text">お名前を入力してください。</p>
                  </div>
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <th>
              <label for="">会社名</label>
            </th>
            <td>
              <div class="e-form-cols e-form-cols--break">
                <div class="e-form-col8">
                  <input type="text" name="" id="" value="" class="e-form-control " aria-describedby="" placeholder="">
                </div>

              </div>
            </td>
          </tr>

          <tr>
            <th>
              <label for="">郵便番号</label>
            </th>
            <td>
              <div class="e-form-cols e-form-cols--break">
                <div class="e-form-col8">
                  <input type="text" name="" id="" value="" class="e-form-control " aria-describedby="" placeholder="">
                </div>
              </div>
            </td>
          </tr>


          <tr>
            <th>都道府県 </th>
            <td>
              <div class="e-form-cols">
                <div class="e-form-col8">
                  <select name="" id="" value="" class="e-form-control">
                    <option value="">選択してください</option>
                  </select>
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <th>
              <label for="">市区町村・番地</label>
            </th>
            <td>
              <div class="e-form-cols e-form-cols--break">
                <div class="e-form-col8">
                  <input type="text" name="" id="" value="" class="e-form-control " aria-describedby="" placeholder="">

                </div>
              </div>
            </td>
          </tr>

          <tr>
            <th>
              <label for="">メールアドレス<span class="e-form-req">必須</span></label>
            </th>
            <td>
              <div class="e-form-cols e-form-cols--break">
                <div class="e-form-col8">
                  <input type="text" name="" id="" value="" class="e-form-control is-error" aria-describedby="" placeholder="">
                  <div class="e-form-message-box">
                    <p class="e-form-error-text">メールアドレスを入力してください。</p>
                  </div>
                </div>
              </div>
            </td>
          </tr>


          <tr>
            <th>
              <label for="">電話番号</label>
            </th>
            <td>
              <div class="e-form-cols e-form-cols--break">
                <div class="e-form-col8">
                  <input type="text" name="" id="" value="" class="e-form-control" aria-describedby="" placeholder="">
                </div>
              </div>
            </td>
          </tr>


          <tr>
            <th>性別</th>
            <td>
              <div class="e-form-cols">
                <div class="e-form-col12">
                  <ul aria-describedby="description1-1-tip" class="e-form-rc-box" id="description1-1">
                    <li>
                      <input checked type="radio" class="e-form-control is-valid" name="description1-1" id="description1-1_radio1" value="男性">
                      <label for="description1-1_radio1">男性</label>
                    </li>
                    <li>
                      <input type="radio" class="e-form-control" name="description1-1" id="description1-1_radio2" value="女性">
                      <label for="description1-1_radio2">女性</label>
                    </li>
                    <li>
                      <input type="radio" class="e-form-control" name="description1-1" id="description1-1_radio3" value="その他">
                      <label for="description1-1_radio3">その他</label>
                    </li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>



          <tr>
            <th>よく使う検索エンジン</th>
            <td>
              <div class="e-form-cols">
                <div class="e-form-col12">
                  <ul aria-describedby="description1-2-tip" class="e-form-rc-box" id="description1-2">
                    <li>
                      <input type="checkbox" name="description1-2" class="is-valid e-form-control" value="Google" id="description1-2_check1">
                      <label for="description1-2_check1">Google</label>
                    </li>
                    <li>
                      <input type="checkbox" name="description1-2" class="e-form-control" value="Yahoo" id="description1-2_check2">
                      <label for="description1-2_check2">Yahoo!</label>
                    </li>
                    <li>
                      <input type="checkbox" name="description1-2" class="e-form-control" value="Bing" id="description1-2_check3">
                      <label for="description1-2_check3">Bing</label>
                    </li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>


          <tr>
            <th>ご用件 <span class="e-form-req">必須</span></th>
            <td>
              <div class="e-form-cols">
                <div class="e-form-col8">
                  <select name="" id="" value="" class="e-form-control is-error">
                    <option value="">選択してください</option>
                  </select>
                  <div class="e-form-message-box">
                    <p class="e-form-error-text">ご用件を選択してください。</p>
                  </div>
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <th>
              <label for="">お問い合わせの内容<span class="e-form-req">必須</span></label>
            </th>
            <td>
              <div class="e-form-cols">
                <div class="e-form-col12">
                  <textarea name="" id="" cols="40" rows="10" class="e-form-control is-error" placeholder="具体的な内容をご記入ください"></textarea>

                  <div class="e-form-message-box">
                    <p class="e-form-error-text">お問い合わせ内容を入力してください。</p>
                  </div>

                </div>
              </div>
            </td>
          </tr>




          <tr>
            <th></th>
            <td>
              <div class="e-form-cols e-form-cols--break">
                <div class="e-form-col12">
                  <ul aria-describedby="" class="e-form-rc-box" id="description1-2">
                    <li>
                      <input type="checkbox" name="description1-2" class="is-valid e-form-control" value="お問い合わせ" id="description1-2_check1">
                      <label for="description1-2_check1"><strong>今後のご連絡に関しての同意</strong></label>
                    </li>
                  </ul>
                  <div class="e-form-message-box">
                    <p class="e-form-error-text">今後のご連絡に関しての同意を確認をしてください。</p>
                  </div>
                </div>
              </div>


              <div class="e-form-cols e-form-cols--break">
                <div class="e-form-col12">
                  <div class="e-box">
                    <p>リキャプチャエリア</p>
                  </div>
                  <p>不正なお問い合わせ防止のため、上記にチェックを入れてください。</p>
                </div>
              </div>


            </td>
          </tr>


        </table>


        <p class="e-text is-text-center">ご入力頂いた連絡先に、メール・郵便・電話などでご連絡させていただきます。</p>

        <div class="e-form-button-group">
          <button type="submit" class="e-button e-button--accent  e-button--large">確認画面へ</button>
        </div>
      </form>
    </div>
  </div>
</section>


{% endblock %}




