@charset "utf-8";

/* ==========================================================================
   #menu
   ========================================================================== */

/*doc
---
title: menu
name: menu
categories: [components, menu]
---

```html_example
<div class="c-menu">
  <h3 class="c-menu__title">階層構造メニュー</h3>
  <ul class="c-menu__list">
    <li><a href="">タイトル</a>
    <ul class="c-menu__list">
        <li><a href="" class="is-active">タイトル</a></li>
        <li><a href="">タイトル</a></li>
        <li><a href="">タイトル</a></li>
    </ul>
    </li>
    <li><a href="">タイトル</a></li>
    <li><a href="">タイトル</a></li>
  </ul>
</div>


```
*/

/* menu
   ========================================================================== */

.c-menu {

  @include mb-small;

  border-bottom: 1px dotted $border-color;

  &__title {
    background: $brand-primary;
    color: #fff;
    @include fsize($fsize-h4-pc, false, $fsize-h4-sp);
    padding: .6em 1em;
    font-weight: bold;
  }

  &__list {
    margin-bottom: 0;

    a {
      border-top: 1px dotted $border-color;
      @include fsize(14px);
      padding: .6em;
      display: block;
      text-decoration: none;
      color: $text-color;
      &:hover {
        background-color: $brand-primary;
        color: #fff;
      }
      &.is-active {
        font-weight: bold;
        background-color: $brand-primary;
        color: #fff;

      }
    }
    .c-menu__list {
      margin-left: 1.2em;
    }
  }
}

