@charset "utf-8";

/* ==========================================================================
   #Newslist
   ========================================================================== */

/*doc
---
title: newslist
name: newslist
categories: [js, newslist]
---

```html_example
   <div class="js-posts" data-url="hoge.json">
     <script type="text/html">
       <ul class="c-summary-horizontal">
         <% _.each(data, function(result) { %>
         <li class="c-summary__item c-card">
           <a href="<%-result.url %>">
             <div class="c-card__img"><img src="<%- result.image_path %>" alt=""></div>
               <div class="c-card__body">
               <p class="c-card__text is-text-week"> <%- result.date %></p>
               <div class="c-card__label">
               <% _.each(result.tags, function(key, tag) { %>
               <span class="e-label <%-key %>"> <%-tag %></span>
               <% }); %>
               </div>
               <p class="c-card__title"><%- result.title %></p>
             </div>
           </a>
         </li>
         <% }); %>
       </ul>;
     </script>
   </div>

```

*/


