@charset "utf-8";

/* ==========================================================================
   #BUTTONS
   ========================================================================== */

/* ボタンベース
   ========================================================================== */

/*doc
---
title: button
name: button
categories: [elements, button]
---


<h3 class="styleguide">Default</h3>

```html_example

<div class="e-button-group">
  <button id="button1" class="ripple e-button e-button--primary" type="button"><i class="material-icons is-icon-left">navigate_before</i>もっと見る<i class="material-icons is-icon-right">navigate_next</i></button>
  <button class="ripple e-button e-button--primary is-hover" type="button">もっと見る
  </button>
  <button class="ripple e-button e-button--primary is-disabled" type="button">もっと見る</button>
</div>

```


<h3 class="styleguide">Secondary</h3>

```html_example

<div class="e-button-group">
  <button class="e-button e-button--secondary" type="button"><i class="material-icons is-icon-left">navigate_before</i>もっと見る<i class="material-icons is-icon-right">navigate_next</i></button>
  <button class="e-button e-button--secondary is-hover" type="button">もっと見る</button>
  <button class="e-button e-button--secondary is-disabled" type="button">もっと見る</button>
</div>

```


*/

// .visual-editor 内でもつかるように button のcolor とtext-decoration は 「!important」とします

$button-padding-vertical: .9rem !default;
$button-padding-horizon: 1.6rem !default;
$button-line-height: 1.2 !default;
$button-border: 0 !default;
$button-border-radius: 2px !default;

.e-button {

  font-weight: bold;
  text-decoration: none !important;
  color: $text-color !important;
  padding: $button-padding-vertical $button-padding-horizon;
  min-width: 64px;
  max-width: 100%;
  box-sizing: border-box;
  transition: all $animation;
  border-radius: $button-border-radius;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  white-space: nowrap;
  appearance: none;
  user-select: none;
  outline: none;
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: $button-line-height;
  background-color: #fff;
  border: $button-border;

  @include media-sp-max {
    padding: ($button-padding-vertical) ($button-padding-horizon * .8);
  }

  @include elevation(2);
  @include elevation-transition;

  &:hover,
  &:focus,
  &.is-hover {
    // background-color: shade($brand-primary, 10%);
    text-decoration: none;
    @include elevation(4);
  }

  &:active {
    //  background-color: shade($brand-primary, 10%);
    text-decoration: none;
    @include elevation(8);
  }

  &:disabled,
  &.is-disabled {
    cursor: not-allowed;
    background-color: #eee;
    border: 1px solid $border-color;
    color: #666 !important;
    @include elevation(0);
  }


  .is-icon-left,
  .is-icon-right {
    position: absolute;
    top: 0;
    margin: auto;
    bottom: 0;
    height: 1em;
    width: 1em;
  }

  .is-icon-left {
    left: .5em;
  }

  .is-icon-right {
    right: .5em;
  }


}




//.e-button--primary {  }

.e-button--secondary {

  background-color: $brand-primary;
  color: #fff !important;

}

/* ボタングループ
   ========================================================================== */
/*doc
---
title: button-group
name: button-group
categories: [elements, button]
parent: button
---

```html_example
<div class="e-button-group">
  <button type="button" class="e-button">もっと見る</button>
  <button type="button" class="e-button">もっと見る</button>
</div>

<div class="e-button-group">
  <button type="button" class="e-button">もっと見る</button>
  <button type="button" class="e-button">もっと見る</button>
</div>


```

*/

.e-button-group {
  margin-right: -$screen-gap-pc + px;
  margin-left: -$screen-gap-pc + px;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
  @include mb-small;

  .e-button {
    margin-bottom: $margin-xs-pc;
    margin-right: $screen-gap-pc + px;
    margin-left: $screen-gap-pc + px;

    @include media-sp-max {
      width: 100%;
    }
  }
}

.e-button-group--one-half {
  .e-button {
    width: 50%;
  }
}

/* ボタンサイズ
   ========================================================================== */

/*doc
---
title: button-size
name: button-size
categories: [elements, button]
parent: button
---

```html_example
<div class="e-button-group">
  <button type="button" class="e-button e-button--small">もっと見る</button>
  <button type="button" class="e-button e-button--medium">もっと見る</button>
  <button type="button" class="e-button e-button--large">もっと見る</button>
  <button type="button" class="e-button e-button--xlarge">もっと見る</button>
</div>

```

*/

.e-button--small {
  padding: ($button-padding-vertical * .4) ($button-padding-horizon * .55);
  font-size: .75em;
  font-weight: normal;

  @include media-sp-max {
    padding: ($button-padding-vertical * .4) ($button-padding-horizon * .4);
  }
}

.e-button--medium {
  //
}

.e-button--large {
  padding: ($button-padding-vertical * 1.4) ($button-padding-horizon);
  font-size: 1.2em;
  font-weight: bold;

  @include media-sp-max {
    padding: ($button-padding-vertical * 1.4) ($button-padding-horizon);
  }

}

.e-button--xlarge {
  padding: ($button-padding-vertical * 1.5) ($button-padding-horizon);
  font-size: 1.4em;
  font-weight: bold;
  min-width: 30%;

  @include media-sp-max {
    padding: ($button-padding-vertical * 1.4) ($button-padding-horizon);
  }

}

