# vendor files
vendor

# node modules
frontend/node_modules
frontend/npm-debug.log

# source files
frontend/source/assets/*.css.map
frontend/source/assets/css
frontend/source/assets/js
frontend/source/assets/js-form
frontend/source/ish
frontend/source/styleguide
frontend/source/styleguide.html

# build files
frontend/build

# design files
/design/JWPS_master.xd

# webpack files
frontend/_webpack.config.js
frontend/_package.json
frontend/source/assets/_webpack_src/
