@charset "utf-8";

/* @  Content Layout
 * ------------------------------------------------------------ */

:root {
  //--size: $width-pc-max;
}

@include media-sp-max {
  :root {
    //--size: $width-sp-min;
  }
}

body,
html {
  //min-width: var(--size);
  // min-width: $screen-pc-max + px;

  @include media-sp-max {
    //overflow-x: hidden;
    min-width: 320px;
  }
}

.l-main {
  overflow-x: hidden;
  min-height: 20vh;
  display:block; /* IE対策に追加 */

}
