@charset "utf-8";

/* @  Font Reset
* ------------------------------------------------------------ */

html {
  line-height: $line-height;
  //min-width: $width-pc-max;

  font-size: $fsize-body1-pc;
  @include media-tab-max {
    font-size: $fsize-body1-pc;
  }
  @include media-sp-max {
    font-size: $fsize-body1-sp;
  }

  @include media-min {
    font-size: (100 / 375) * ($fsize-body1-sp / (1 + $fsize-body1-sp - $fsize-body1-sp)) * 1vmin;
  }

  //@include media-max      { /**/ }
  //@include media-lg-only  { /**/ }
  //@include media-lg-max   { /**/ }
  //@include media-lg-min   { /**/ }
  //
  //@include media-pc-only  { /**/ }
  //@include media-pc-max   { /**/ }
  //@include media-pc-min   { /**/ }
  //
  //@include media-tab-only { /**/ }
  //@include media-tab-max  { /**/ }
  //@include media-tab-min  { /**/ }
  //@include media-sp-only  { /**/ }
  //@include media-sp-max   { /**/ }
  //@include media-sp-min   { /**/ }
  //
  //@include media-min      { /**/}

}

body {
  font-family: $font-family-base;
  color: $primary-text-color;
  word-wrap: break-word;
  overflow-wrap: break-word;

  @media all and (-ms-high-contrast:none) {
    //ie11
    font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  }

}

main {
  font-synthesis: weight style;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
  font-feature-settings: "palt";
  -ms-text-size-adjust: 100%;

}

body[data-os="Windows"] {
}

body[data-browser="safari"] {
  //font-feature-settings: "pkna";
}

p,
li,
dt,
dd,
th,
td,
pre {
  -ms-line-break: strict;
  line-break: strict;
  word-wrap: break-word;
  word-break: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-family: inherit;
  font-weight: 500;
  color: inherit
}

/* @  Element Reset
* ------------------------------------------------------------ */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dt,
dd,
table,
pre,
figure,
img,
blockquote {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
}

img,
picture {
  max-width: 100%;
  vertical-align: middle;

  [data-browser="ie"] & {
    max-height: 100%;

  }
}

small {
  color: $secondary-text-color;
}

strong {
  font-weight: bold;
}

strong > strong {
  color: $error-color;
  font-size: 1.15rem;
}

s {  }

em {  font-weight: bold;  }

hr {
  border: 0;
  border-bottom: solid 1px $dividers-color;
  margin-top: $margin-medium-pc;
  margin-bottom: $margin-medium-pc;

  @include media-sp-max {
    margin-top: $margin-medium-sp;
    margin-bottom: $margin-medium-sp;
  }

}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
}

/* @  Link Reset
* ------------------------------------------------------------ */

::selection {
  background: $primary-color-light;
  color: #ffffff;
  text-shadow: none;
}

input::selection,
textarea::selection {
  background: tint($primary-color-light, 40%);
  //background: shade(blue, 60%);, 40%);
  color: $primary-text-color;
  text-shadow: none;

}

a,
a:link {
  color: $link-color;
  text-decoration: underline;
  transition: $animation;
}

a:hover,
a:focus,
a:visited {
  transition: $animation;
  color: $link-color-hover;
  text-decoration: none;
}

a:hover {
  //text-decoration: underline;
}

a:visited {
  color: $link-color-visited;
}

a {
  -webkit-tap-highlight-color: rgba($primary-color, .5);
}

a:link {
  -webkit-tap-highlight-color: rgba($primary-color, .5);
}

button:focus,
a:focus {
  //box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf;
  outline: 3px solid rgba(0, 74, 248, 0.6);
  outline-offset: 2px;
  transition: none !important;
}

button:focus {
  outline-width: 0;
}

button {
  cursor: pointer;
}

/* @  Print Reset
* ------------------------------------------------------------ */

@media print {
  header,
  footer {
    display: none;
  }

  a[href]:after {
    content: "";
  }

  abbr[title]:after {
    content: "";
  }

}

/* @ Code Layout
 * ------------------------------------------------------------ */

code,
kbd,
pre,
samp {
  font-family: $font-family-monospace;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 3px;
}

kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 1.5px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);

  kbd {
    padding: 0;
    font-size: 100%;
    font-weight: bold;
    box-shadow: none;
  }
}

pre,
.e-pre {
  display: block;
  padding: 10px;
  white-space: pre-wrap;
  font-size: 14px;
  line-height: $line-height;
  word-break: break-all;
  word-wrap: break-word;
  color: #aaa;
  background-color: $dividers-color;
  border: 1px solid #ccc;
  border-radius: 3px;

  margin: 0;

  @include mb-small;

  // Account for some code outputs that place code tags in pre tags
  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
  }
}

//-------------------

.e-code-clipboard {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-bottom: 16px;

  &__title {
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 10px;
    color: #666666;
    border-bottom: 1px solid #DDDDDD;
  }

  &__body {
    position: relative;
    min-width: 180px;
    display: block;
  }

  &__copy {
    display: none;
    background-color: #aaa;
    color: #fff;
    border-radius: 3px;
    padding: .2em .4em;
    position: absolute;
    bottom: -1.6em;
    right: -.5em;
  }
}

//-------------------


