{% extends "_layout/_base.njk" %}

{% set page_title = "" %}
{% set page_url = "" %}
{% set page_description = "" %}
{% set page_keywords = "" %}

{% block main %}

<div class="c-breadcrumb" role="navigation" aria-label="現在地表示">
  <div class="c-breadcrumb__inner">
    <span><a href="/">ホーム</a></span>
    <span>お知らせ</span>
  </div>
</div>
<section class="l-container">
  <div class="e-heading-group">
    <h1 class="e-heading1">カテゴリー名</h1>
  </div>
  <div class="l-block-primary">
    <div class="l-unit">
      <ul class="c-summary2">
        <li class="c-summary__item e-media"><a href="">
          <div class="e-media__img"><img src="/assets/img/common/media.png" alt=""></div>
          <div class="e-media__body">
            <p class="e-media__title">ページタイトル</p>
            <p class="e-media__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
          </div></a>
        </li>
        <li class="c-summary__item e-media">
          <div class="e-media__img"><img src="/assets/img/common/media.png" alt=""></div>
          <div class="e-media__body">
            <p class="e-media__title">ページタイトル</p>
            <p class="e-media__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
          </div>
        </li>
        <li class="c-summary__item e-media">
          <div class="e-media__img"><img src="/assets/img/common/media.png" alt=""></div>
          <div class="e-media__body">
            <p class="e-media__title">ページタイトル</p>
            <p class="e-media__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
          </div>
        </li>
        <li class="c-summary__item e-media">
          <div class="e-media__img"><img src="/assets/img/common/media.png" alt=""></div>
          <div class="e-media__body">
            <p class="e-media__title">ページタイトル</p>
            <p class="e-media__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
          </div>
        </li>
        <li class="c-summary__item e-media">
          <div class="e-media__img"><img src="/assets/img/common/media.png" alt=""></div>
          <div class="e-media__body">
            <p class="e-media__title">ページタイトル</p>
            <p class="e-media__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
          </div>
        </li>
        <li class="c-summary__item e-media">
          <div class="e-media__img"><img src="/assets/img/common/media.png" alt=""></div>
          <div class="e-media__body">
            <p class="e-media__title">ページタイトル</p>
            <p class="e-media__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
          </div>
        </li>
        <li class="c-summary__item e-media">
          <div class="e-media__img"><img src="/assets/img/common/media.png" alt=""></div>
          <div class="e-media__body">
            <p class="e-media__title">ページタイトル</p>
            <p class="e-media__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
          </div>
        </li>
        <li class="c-summary__item e-media">
          <div class="e-media__img"><img src="/assets/img/common/media.png" alt=""></div>
          <div class="e-media__body">
            <p class="e-media__title">ページタイトル</p>
            <p class="e-media__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
          </div>
        </li>



      </ul>

    </div>


    <div class="l-unit">
      <div class="c-pagenavi">
        <p class="c-pagenavi__title">100件中　11 - 20件表示</p>

        <div class="c-pagenavi__body">
          <a class="c-previouspostslink" rel="prev" href=""></a>
          <span class="is-current">1</span>
          <a href="">2</a>
          <a href="">3</a>
          <a href="">4</a>
          <span class="c-extend">...</span>
          <a href="">10</a>
          <a class="c-nextpostslink" rel="next" href=""></a>
        </div>
      </div>
    </div>
  </div>
  <div class="l-block-secondary">
    <div class="l-unit">
      <ul class="e-list-img-vertical">
        <li><a href=""><img src="/assets/img/common/widget.png" alt=""> </a></li>
        <li><a href=""><img src="/assets/img/common/widget.png" alt=""> </a></li>
        <li><a href=""><img src="/assets/img/common/widget.png" alt=""> </a></li>
      </ul>
    </div>
  </div>
</section>

{% endblock %}



