@charset "utf-8";

/* ==========================================================================
   #card
   ========================================================================== */

/*doc
---
title: card
name: card
categories: [elements, card]
---

<h3 class="styleguide">Default</h3>


```html_example

<div class="e-card">
  <a href="">
    <div class="e-card__img"><img src="/assets/img/common/card.png" alt=""></div>
    <div class="e-card__body">
      <p class="e-card__title">情に棹させば流される智に働けば角が立つ</p>
      <p class="e-card__text">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。</p>
    </div>
  </a>
</div>

```

*/

.e-card {
  color: inherit;
  margin-right: auto;
  margin-left: auto;
  @include mb-small;

  @include media-sp-max {
    max-width: inherit;
  }

  > a {
    width: 100%;
    display: block;
    color: inherit;
    height: inherit;
    text-decoration: none;


    .e-card__img {
      //@include elevation(2);
      @include elevation-transition;
    }
    &:hover,
    &:focus {
      .e-card__img {
        @include elevation(4);
      }
    }

    &:active {
      .e-card__img {
        @include elevation(8);
      }
    }

  }

  &__img {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

  }

  &__body {
    padding-top: 22px;
    position: relative;
  }

  &__title,
  &__text {
    margin-bottom: .3rem;
  }

  &__title {
    font-weight: bold;
    line-height: 1.4;
    @include fsize-h3;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.7;
    + .e-card__text {
      margin-top: $margin-small-pc;

      @include media-sp-max {
        margin-top: $margin-small-sp;
      }
    }
  }

}



