@charset "utf-8";

/* ==========================================================================
   #calendar
   ========================================================================== */

/*doc
---
title: calendar
name: calendar
categories: [js, calendar]
---

```html_example


<div id="vue-calendar">
  <calendar-list></calendar-list>
</div>



```
*/

.calendar {
  width: 100%;
  background-color: #fff;

  &__controll {}

  &__body {
    clear: both;
  }


  &__week {
    width: 14.28%;
    height: 30px;
    line-height: 30px;
    float: left;
    text-align: center;
    font-weight: bold;
    padding-top: 1%;
  }
  &__date {
    width: 14.28%;
    height: 120px;
    line-height: 30px;
    float: left;
    text-align: center;
    padding-top: 1%;
  }

  &__foot {}
}
