@charset "utf-8";

/* @  main visual
 * ------------------------------------------------------------ */
/*doc
---
title:
name: main-visual
category: main-visual
categories: [components, main-visual]
---


<h3 class="styleguide">Main Visual Full</h3>
<br>

```html_example
  <div class="c-main-visual c-main-visual--full">
    <div class="c-main-visual__inner">
      <img src="/assets/img/dummy/1280x450.png" alt="">
    </div>
  </div>

```

<h3 class="styleguide">Main Visual Default</h3>
<br>

```html_example
  <div class="c-main-visual is-gapless--sm">
    <div class="c-main-visual__inner">
      <a href=""><img src="/assets/img/dummy/1280x450.png" alt=""></a>
    </div>
  </div>
```

<h3 class="styleguide">Main Visual Background</h3>
<br>

```html_example
  <div class="c-main-visual c-main-visual--full">
    <div class="c-main-visual__inner">
       <div class="c-main-visual__bg-img" style="background-image: url(/assets/img/dummy/1280x450.png)">
            <h1>タイトル</h1>
          </div>
      </div>
  </div>
```


<h3 class="styleguide">Main Visual Background Large</h3>
<br>

```html_example
  <div class="c-main-visual c-main-visual--full">
    <div class="c-main-visual__inner">
       <div class="c-main-visual__bg-img c-main-visual__bg-img--large" style="background-image: url(/assets/img/dummy/1280x450.png)">
            <h1>タイトル</h1>
          </div>
      </div>
  </div>
```

*/

.c-main-visual {
  margin-top: -24px;
  text-align: center;
  @include mb-small;

  a {
    display: block;
  }

  &__bg-img {
    background-image: url(#{$img-path}/common/main_visual.png);
    background-position: center center;
    background-size: cover;
    min-height: 200px;
    max-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-sp-max {
      min-height: 100px;
    }
  }

  &__bg-img--large {
    min-height: 400px;
  }

  &__title {
    margin-bottom: 0;
  }

  &--full {
    overflow: hidden;
    max-height: 30rem;
    img {
      width: 100%;
    }
  }

}


