@charset "utf-8";



/* @ l-block-primary
 * ------------------------------------------------------------ */
.l-block-primary {
  @include mb-small;

  width: ($screen-main-colum / $screen-pc-max) * 100%;
  float: right;
  @include media-sp-max {
    float: none;
    width: 100%;
  }

}
