@charset "utf-8";

/* ==========================================================================
   #FLEX
   ========================================================================== */

/**
 * フレックスボックスのスタイルです
 *
 *
 *
 */

/* flex
   ========================================================================== */

/*doc
---
title: flex
name: 30_grid-flex
categories: [flex]
---

```html_example

<div class="l-flex-boxes">
 <div class="l-flex-box l-flex-box--large"><div class="dummy-box">.l-flex-box--large</div></div>
 <div class="l-flex-box"><div class="dummy-box">.l-flex-box</div></div>
 <div class="l-flex-box"><div class="dummy-box">.l-flex-box</div></div>
 <div class="l-flex-box l-flex-box--small"><div class="dummy-box">.l-flex-box--small</div></div>
 <div class="l-flex-box l-flex-box--auto">  <div class="dummy-box">.l-flex-box</div></div>
</div>





<div class="l-flex-boxes is-flex-center">
 <div class="l-flex-box"><div class="dummy-box">.l-flex-box</div></div>
</div>


<div class="l-flex-boxes is-flex-flex-end">
 <div class="l-flex-box l-flex-box--small"><div class="dummy-box">.l-flex-box</div></div>
 <div class="l-flex-box l-flex-box--small"><div class="dummy-box">.l-flex-box</div></div>
</div>


<div class="l-flex-boxes .is-flex-flex-start">
 <div class="l-flex-box l-flex-box--small"><div class="dummy-box">.l-flex-box</div></div>
 <div class="l-flex-box l-flex-box--small"><div class="dummy-box">.l-flex-box</div></div>
</div>

<div class="l-flex-boxes is-flex-space-between">
 <div class="l-flex-box l-flex-box--small"><div class="dummy-box">.l-flex-box</div></div>
 <div class="l-flex-box l-flex-box--small"><div class="dummy-box">.l-flex-box</div></div>
</div>


```
*/

//必要な値をgrid-12columnから持ってくる


.l-flex-boxes {
  @include clearfix;
  display: flex;
  clear: both;

  margin-right: -1%;
  margin-left: -1%;

  align-items: stretch;
  flex-wrap: wrap;
  //justify-content: center;
  @include media-sp-max {
    margin-right: -1.7142857143%;
    margin-left: -1.7142857143%;
  }
}


.is-flex-center {
  justify-content: center;

}

.is-flex-flex-end {
  justify-content: flex-end;
}

.is-flex-flex-start {
  justify-content: flex-start;
}

.is-flex-space-between {
  justify-content: space-between;
}


.l-flex-box {
  display: block;

  box-sizing: border-box;
  margin-right: 1%;
  margin-left: 1%;

  align-self: stretch;
  //flex: 2 2 15em;

  > *:last-child {
    margin-bottom: 0 !important;
  }
  margin-bottom: 16px;

  //margin-bottom: 1.92%;
  flex: 0 0 23%;

  @include media-sp-max {
    margin-right: 1.7142857143%;
    margin-bottom: $width-gap-sp;
    margin-left: 1.7142857143%;

    flex: 0 0 46.5714285714%;

  }
}

.l-flex-box--small {
  flex: 0 0 14.6666666667%;

  @include media-sp-max {
    flex: 0 0 46.5714285714%;
  }
}

.l-flex-box--medium {
  flex: 0 0 23%;

  @include media-sp-max {
    flex: 0 0 46.5714285714%;
  }
}

.l-flex-box--large {
  flex: 1 1 31.3333333333%;

  @include media-sp-max {
    flex: 1 1 96.5714285714%;
  }
}


.l-flex-box--auto {
  flex: 2 2 15em;

  @include media-sp-max {
    flex: 2 2 15em;
  }
}

