@charset "utf-8";

/* @ icon
 * ------------------------------------------------------------ */

/*doc
---
title: icon
name: icon
categories: [utilities, icon]
---

```html_example
<p><a href="" class="is-icon-arrow">矢印アイコン</a></p>
<p><a href="" class="is-icon-square">四角アイコン</a></p>
<p><a href="" class="is-icon-target-blank">target="_blank"を指定している場合</a></p>
<p><a href="" class="is-icon-pdf">pdfへのリンクの場合</a></p>
<p><a href="" class="is-icon-doc">doc、docxへのリンクの場合</a></p>
<p><a href="" class="is-icon-ppt">ppt、pptxへのリンクの場合</a></p>
<p><a href="" class="is-icon-xls">xls、xlsxへのリンクの場合</a></p>
<p><a href="" class="is-iconless is-icon-target-blank">アイコンを非表示</a></p>


```

<a href="https://material.io/icons/" target="blank">https://material.io/icons/</a>

```html_example
<i class="material-icons">phone</i>
<i class="material-icons">fiber_new</i>
<i class="material-icons">mail</i>

<i class="material-icons">launch</i>
<i class="material-icons">picture_as_pdf</i>
<i class="material-icons">video_library</i>
<i class="material-icons">library_books</i>
<i class="material-icons">photo_library</i>

<i class="material-icons">priority_high</i>
<i class="material-icons">warning</i>
<i class="material-icons">check</i>

<i class="material-icons">add</i>
<i class="material-icons">remove</i>

<i class="material-icons">menu</i>
<i class="material-icons">close</i>

<i class="material-icons">expand_less</i>
<i class="material-icons">expand_more</i>

<i class="material-icons">navigate_before</i>
<i class="material-icons">navigate_next</i>

```
*/

.is-iconless {
  &:after {
    display: none!important;
  }
}


.is-icon-arrow {

  &:before {
    color: #757575;
    @include material-icons;
    vertical-align: middle;
    content: "navigate_next";
    white-space: nowrap;
    font-size: 1.2em;
  }
}


.is-icon-square {

  &:before {
    background-color: $brand-primary-light;
    width: .5em;
    height:.5em;
    display: inline-block;
    vertical-align: middle;
    margin-right: .3em;
    margin-top: -.1em;
    content: '';
  }
}


.is-icon-target-blank,
.rich-editor [target="_blank"] {
  &:after {
    @include material-icons;
    vertical-align: middle;
    content: "open_in_new";
    color: $text-color-sub;
    margin-left: .3em;
    min-width: 1em;
    text-align: right;
  }
}

.is-icon-pdf,
.rich-editor a[href$=".pdf"],
.is-icon-doc,
.rich-editor a[href$=".doc"],
.rich-editor a[href$=".docx"],
.is-icon-ppt,
.rich-editor a[href$=".ppt"],
.rich-editor a[href$=".pptx"],
.is-icon-xls,
.rich-editor a[href$=".xls"],
.rich-editor a[href$=".xlsx"] {
  &:after {
    background: url("#{$img-path}/common/icon_pdf.png") right center no-repeat;
    background-size: 15.5px 15.5px;
    width: 15.5px;
    height: 15.5px;
    content: "";
    display: inline-block;
    margin-left: .3em;
    text-align: right;
  }
}

.is-icon-pdf,
.rich-editor a[href$=".pdf"] {
  &:after {
    background-image: url("#{$img-path}/common/icon_pdf.png");
  }
}

.is-icon-doc,
.rich-editor a[href$=".doc"],
.rich-editor a[href$=".docx"] {
  &:after {
    background-image: url("#{$img-path}/common/icon_doc.png");
  }
}

.is-icon-ppt,
.rich-editor a[href$=".ppt"],
.rich-editor a[href$=".pptx"] {
  &:after {
    background-image: url("#{$img-path}/common/icon_ppt.png");
  }
}

.is-icon-xls,
.rich-editor a[href$=".xls"],
.rich-editor a[href$=".xlsx"] {
  &:after {
    background-image: url("#{$img-path}/common/icon_xls.png");
  }
}

.is-icon-badge {
  position: relative;

  &:before {
    width: 4px;
    height: 4px;
    border-radius: 100px;
    position: absolute;
    top: 2px;
    right: 0;
    display: block;
    content: '';
    z-index: 2;
    background-color: #fff;
  }

  &:after {
    z-index: 1;
    width: 8px;
    height: 8px;
    border-radius: 100px;
    position: absolute;
    top: -2px;
    right: -4px;
    display: block;
    content: '';
    background-color: #ff0000;
    border: 2px solid #fff;
  }
}
