@charset "utf-8";
/* @ img
 * ------------------------------------------------------------ */

/*doc
---
title: images
name: images
categories: [elements, images]
---

```html_example

  <figure class="e-img-box">
    <img src="/assets/img/dummy/820x273.png" alt="">
    <figcaption class="e-img-caption">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。</figcaption>
  </figure>
  <p class="e-text">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。
    情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。</p>

  <div>
    <figure class="e-img-box is-img-left is-img-w33">
      <a href="" class="e-img-hover"><img src="/assets/img/dummy/820x273.png" alt=""></a>
      <figcaption class="e-img-caption">情に棹させば流される。智に働けば角が立つ。</figcaption>
    </figure>
    <p class="e-text">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。
      情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。
      情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。
      情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。</p>
  </div>


    <div class="e-responsive-img">
    <figure class="e-img-box">
      <img src="/assets/img/dummy/820x273.png" alt="">
    </figure>
   </div>


  <div class="l-unit visual-editor">
    <figure class="is-img-left is-img-w25">
      <img src="/assets/img/dummy/820x273.png" alt="">
      <figcaption class="eimg-caption">情に棹させば流される。智に働けば角が立つ。</figcaption>
    </figure>
    <p>情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。
      情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。
      情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。
      情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。</p>
  </div>


```

*/



.e-img-hover {
  overflow: hidden;

  img {
    transition: all $animation;
  }
}

.e-img-hover:hover img {
  transform: scale(1.1);
  transform-origin: center center;
}


.e-responsive-img {


  margin-bottom: $margin-small-pc;

  @include media-sp-max {


    .e-img-box {
      position: relative;
      width: 100%;
      //overflow: auto;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        height: 3px;
      }

      &::-webkit-scrollbar-track {
        background: #d4d4d4;
      }

      &::-webkit-scrollbar-thumb {
        background: #333;
      }

      &:after {
        display: block;
        padding: .5em 0;
        font-size: .8em;
        text-align: center;
        white-space: nowrap;
        content: "← この画像は左右に動かせます。 →";
      }

    }
    img {
      min-width: 520px;
    }

  }

}

.visual-editor figure,
.e-img-box {
  margin-bottom: $margin-small-pc;
  //text-align: center;

  a {
    display: inline-block;
  }

  figcaption,
  .e-img-caption {
    text-align: left;
    margin-top: 5px;
    color: $text-color-sub;
    font-size: 12px;
    line-height: 1.5;
  }
}


/*doc
---
title: tool-img
name: tool-img
categories: [utilities, tool-img]
---




<div class="styleguide-table"></div>
Class                                                                      | Description
-----------------------------------------------------------------------    | ------------
`is-img-left`                  |         |
`is-img-right`                 |         |
`is-img-center`                |         |
`is-img-w25`                   |         |
`is-img-w33`                   |         |
`is-img-w50`                   |         |
`is-img-w100`                  |         |
`is-img-frame`                 |         |
`is-img-round`                 |         |
`is-img-circle`                |         |



*/


 .is-img-left,
 .is-img-right {
   margin-top: .3em;
 }

//画像左
.is-img-left {
  margin-right: 1rem;
  float: left;

  @include media-sp-max {
    float: none;
    margin-right: 0;
  }
}


//画像右
.is-img-right {
  margin-left: 1rem;
  float: right;

  @include media-sp-max {
    float: none;
    margin-left: 0;
  }
}

//画像中央
.is-img-center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.is-img-w25 {
  width: 25%;
}

.is-img-w33 {
  width: 33.33%;
}

.is-img-w50 {
  width: 50%;
}

.is-img-w100 {
  width: 100%;
}




@include media-sp-max {
  .is-img-w25,
  .is-img-w33,
  .is-img-w50,
  .is-img-w100 {
    width: 100%;
  }

}

.is-img-frame {
  height: auto;
  padding: 2px;
  border: 1px solid $border-color;
  background-color: $brand-white;
  box-sizing: border-box;
}

.is-img-round {
  border-radius: $border-radius-pc;
}

.is-img-border {
  border: 1px solid $border-color;
}

.is-img-circle {
  border-radius: 50%;
}
