@charset "utf-8";


/* @ Layout
 * ------------------------------------------------------------ */

.e-form-cols {
  //margin-top: -.8rem;
  margin-right: -1.5%;
  margin-left: -1.5%;
  @include clearfix;
  display: block;
}

.e-form-col0_5,
.e-form-col1,
.e-form-col2,
.e-form-col3,
.e-form-col4,
.e-form-col5,
.e-form-col6,
.e-form-col7,
.e-form-col8,
.e-form-col9,
.e-form-col10,
.e-form-col11,
.e-form-col12 {
  margin-top: .5em;
  padding-right: 1.5%;
  padding-left: 1.5%;
  float: left;
  box-sizing: border-box;
  min-height: 38px;
}

.e-form-text-dash {
  line-height: 38px;
  text-align: center;
  display: block;
}


$col-width: 8.333333333;

.e-form-col0_5 {
  width: $col-width * .5%;
}

.e-form-col1 {
  width: $col-width * 1%;
}


.e-form-col2 {
  width: $col-width * 2%;
}

.e-form-col3 {
  width: $col-width * 3%;
}

.e-form-col4 {
  width: $col-width * 4%;
}

.e-form-col5 {
  width: $col-width * 5%;
}

.e-form-col6 {
  width: $col-width * 6%;
}

.e-form-col7 {
  width: $col-width * 7%;
}

.e-form-col8 {
  width: $col-width * 8%;
}

.e-form-col9 {
  width: $col-width * 9%;
}

.e-form-col10 {
  width: $col-width * 10%;
}

.e-form-col11 {
  width: $col-width * 11%;
}

.e-form-col12 {
  width: $col-width * 12%;
 // float: none;
 // display: inline-block;
}


@include media-sp-max {

  .e-form-cols--break {

    //margin-right: 0;
    //margin-left: 0;

    > .e-form-col1,
    > .e-form-col2,
    > .e-form-col3,
    > .e-form-col4,
    > .e-form-col5,
    > .e-form-col6,
    > .e-form-col7,
    > .e-form-col8,
    > .e-form-col9,
    > .e-form-col10,
    > .e-form-col11,
    > .e-form-col12 {
      width: auto;
      float: none;
      @include clearfix;
      clear: both;
    }
  }
}


@include media-sp-max {


  .e-form-col0_5--sm {
    width: $col-width * .5%;
  }

  .e-form-col1--sm {
    width: $col-width * 1%;
  }

  .e-form-col2--sm {
    width: $col-width * 2%;
  }

  .e-form-col3--sm {
    width: $col-width * 3%;
  }

  .e-form-col4--sm {
    width: $col-width * 4%;
  }

  .e-form-col5--sm {
    width: $col-width * 5%;
  }

  .e-form-col6--sm {
    width: $col-width * 6%;
  }

  .e-form-col7--sm {
    width: $col-width * 7%;
  }

  .e-form-col8--sm {
    width: $col-width * 8%;
  }

  .e-form-col9--sm {
    width: $col-width * 9%;
  }

  .e-form-col10--sm {
    width: $col-width * 10%;
  }

  .e-form-col11--sm {
    width: $col-width * 11%;
  }

  .e-form-col12--sm {
    width: 100%;
    //float: none;
   // display: inline-block;
  }
}