<div id="breadcrumb" class="c-breadcrumb" role="navigation" aria-label="現在地表示">
  <div class="c-breadcrumb__inner">
    <span><a href="/"><i class="material-icons">home</i></a></span>
    <span aria-current="page">title</span>
  </div>
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement":
  [
  <% page.hierarchy.forEach(function (value, key) { %>
    {
      "@type": "ListItem",
      "position": <%= key +1 %>,
      "item":
      {
        "@id": "<%= value.url %>",
        "name": "<%= value.title %>"
      }
    }<% if (key +1 != page.hierarchy.length) { %>,<% } %>
   <% }); %>
  ]
}
</script>
