@charset "utf-8";

/* ==========================================================================
   #Tppesetting
   ========================================================================== */


/*doc
---
title: typesetting
name: typesetting
categories: [elements, typesetting]
---



```html_example

<p class="e-text">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。とかくに人の世は住みにくい。 </p>
<p class="e-text-catchcopy">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。とかくに人の世は住みにくい。 </p>


<p class="e-text">
<span class="is-text-sub">情に棹させば流される。</span><br>
<span class="is-text-week">智に働けば角が立つ。</span><br>
<span class="is-text-point">どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。</span><br>
<span class="is-text-arrow">とかくに人の世は住みにくい。</span><br>
<span class="is-text-bold">意地を通せば窮屈だ。</span><br>
<span class="is-text-strike">とかくに人の世は住みにくい。 </span></p>


```

*/



.visual-editor p,
.e-text {
  @include mb-small;
}

.e-text-catchcopy {
  text-align: center;
  font-size: 16px;
  @include mb-small;
}



// helper

/*doc
---

title: tool-text
name: tool-text
categories: [utilities, tool-text]

---

<div class="styleguide-table"></div>
Class                                                                      | Description
-----------------------------------------------------------------------    | ------------
`is-text-small`            |                        |
`is-text-sub`            |                        |
`is-text-week`           |                        |
`is-text-point`          |                        |
`is-text-highlight`          |                        |
`is-text-arrow`          |                        |
`is-text-bold`           |                        |
`is-text-strike`         |                        |
`is-text-indent`         |                        |
`is-text-underline`      |                        |
`is-text-bdb`            |                        |
`is-text-left`            |                        |
`is-text-right`            |                        |
`is-text-center`            |                        |
`is-text-justify`            |                        |

*/


.is-text-left {
  text-align: left;
}
.is-text-right {
  text-align: right;
}
.is-text-center {
  text-align: center;
}
.is-text-justify {
  text-align: justify;
}

.is-text-small {
  font-size: 12px;
}
.is-text-sub {
  color: $secondary-text-color;
  font-size: 12px;
}

.is-text-week {
  color: $disabled-text-color;
  font-size: 12px;
}

.is-text-arrow {

  overflow: hidden;
  &:before {
    display: inline-block;
    width: 5px;
    height: 5px;
    transform: rotate(225deg);
    border-top: 1px solid $secondary-text-color;
    border-left: 1px solid $secondary-text-color;
    content: "";
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin-right: 5px;
  }

  &:hover:before {
    text-decoration: none;
  }
}

.is-text-point {
  display: inline;
  //background: linear-gradient(transparent 70%, $yellow 70%, $yellow 90%, transparent 90%);
  background: linear-gradient(transparent 50%, #ffffa6 50%, #ffffa6 100%);
  padding-bottom: .1em;
  padding-right: .5em;

  @include media-sp-max {
    padding-right: 0;
  }
}

.is-text-highlight {
  background-color: #FFFF00;
}

.is-text-bold {
  font-weight: bold;
}

.is-text-strike {
  text-decoration: line-through;
}


.is-text-indent {
  text-indent: 1em;
}

.is-text-underline {
  text-decoration: underline;
}
.is-text-bdb {
  border-bottom: 1px solid $primary-color;
}