@charset "utf-8";

/* Control
   ========================================================================== */
/*doc
---
title: form
name: form
categories: [elements, form]
---



```html_example
<form>
  <table class="e-form-table">
    <tr>
      <th>
        <label for="name">お名前<span class="e-form-req">必須</span></label>
      </th>
      <td>
        <div class="e-form-cols e-form-cols--break">
          <div class="e-form-col8">
            <input type="text" name="name" id="name" value="" class="e-form-control js-required" aria-describedby="name-tip" placeholder="(例) 太郎">
          </div>
          <div class="e-form-message-box">
            <p class="e-form-error-text">お名前を入力してください。</p>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <label for="inquiry">お問い合わせ内容<span class="e-form-any">任意</span></label>
      </th>
      <td>
        <div class="e-form-cols">
          <div class="e-form-col12">
            <textarea name="inquiry" id="inquiry" cols="40" rows="10" class="e-form-control" placeholder="お問い合わせ内容を入力してください。"></textarea>
          </div>
           <div class="e-form-message-box">
            <p class="e-form-small-text">お問い合わせ内容を入力してください。</p>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th>ご用件種別<span class="e-form-req">必須</span></th>
      <td>
        <div class="e-form-cols">
          <div class="e-form-col12">
            <ul aria-describedby="description1-1-tip" class="e-form-rc-box" id="description1-1">
              <li>
                <input checked type="radio" class="e-form-control is-valid" name="description1-1" id="description1-1_radio1" value="お問い合わせ">
                <label for="description1-1_radio1">お問い合わせ</label>
              </li>
              <li>
                <input type="radio" class="e-form-control" name="description1-1" id="description1-1_radio2" value="ご利用申し込み">
                <label for="description1-1_radio2">ご利用申し込み</label>
              </li>
              <li>
                <input type="radio" class="e-form-control" name="description1-1" id="description1-1_radio3" value="ご相談">
                <label for="description1-1_radio3">ご相談</label>
              </li>
            </ul>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th>ご用件種別<span class="e-form-req">必須</span></th>
      <td>
        <div class="e-form-cols">
          <div class="e-form-col12">
            <ul aria-describedby="description1-2-tip" class="e-form-rc-box" id="description1-2">
              <li>
                <input type="checkbox" name="description1-2" class="is-valid e-form-control" value="お問い合わせ" id="description1-2_check1">
                <label for="description1-2_check1">お問い合わせ</label>
              </li>
              <li>
                <input checked type="checkbox" name="description1-2" class="e-form-control" value="ご利用申し込み" id="description1-2_check2">
                <label for="description1-2_check2">ご利用申し込み</label>
              </li>
              <li>
                <input type="checkbox" name="description1-2" class="e-form-control" value="ご相談" id="description1-2_check3">
                <label for="description1-2_check3">ご相談</label>
              </li>
            </ul>
            <div class="e-form-message-box">
              <p class="e-form-error-text">ご用件種別を入力してください。</p>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th>ご用件種別 <span class="e-form-req">必須</span></th>
      <td>
        <div class="e-form-cols">
          <div class="e-form-col12">
            <select name="description1-3" id="description1-3" value="" class="e-form-control">
              <option value="" >選択してください。</option>
              <option value="">お問い合わせ</option>
              <option value="">ご利用申し込み</option>
              <option value="">ご相談</option>
            </select>
                 <div class="e-form-message-box">
            <p class="e-form-error-text">ご用件種別を入力してください。</p>
          </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <div class="e-button-group">
    <button type="submit" class="e-button e-button--xlarge">確認画面へ</button>
  </div>
</form>
```
```html_example


<h3 class="styleguide">Disabled Input</h3>
<input type="text" disabled class="e-form-control">


<h3 class="styleguide">Input with Success</h3>
<input type="text"  class="e-form-control is-valid">

<h3 class="styleguide">Input with Warning</h3>
<input type="text"  class="e-form-control is-warning">

<h3 class="styleguide">Input with Error</h3>
<input type="text"  class="e-form-control is-error">




```



*/

$form-field-bg: #fff !default;
$form-field-bg-hover: tint($form-field-bg, 40%) !default;
$form-field-border: $dividers-color !default;
$form-field-radius: 2px !default;
$form-field-shadow: inset .3px .3px 2px rgba(0, 0, 0, .1) !default;

.e-form-control {
  padding: 10px 15px;
  transition: border-color $animation, box-shadow $animation;
  border: 1px solid $form-field-border;
  border-radius: $form-field-radius;
  background-color: $form-field-bg;
  box-shadow: $form-field-shadow;
  color: $primary-text-color;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  width: 100%;

  &:focus,
  &:hover {
    background-color: $form-field-bg-hover;

  }

  &:focus {
    box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf;
    //border-color: $primary-color;
    outline: 0;
  }

  &::-webkit-input-placeholder {
    color: #868686;
  }

  &::-moz-input-placeholder {
    color: #868686;
  }

  &::-ms-input-placeholder {
    color: #868686;
  }

  &::-ms-expand {
    display: none;
  }

}

input[type=file].e-form-control {
  display: none;

  ~ label {
    padding: 10px 15px;
    transition: border-color $animation, box-shadow $animation;
    border: 1px solid $form-field-border;
    border-radius: $form-field-radius;
    background-color: $form-field-bg;
    box-shadow: $form-field-shadow;
    box-sizing: border-box;
    width: 100%;
    display: block;
    color: #868686;
  }
}

.e-form-control[disabled],
.e-form-control[readonly],
fieldset[disabled] .e-form-control {
  background-color: #eee;
  cursor: not-allowed;
}

textarea.e-form-control {
  height: auto;
  resize: vertical;
}

select.e-form-control {
  background: $form-field-bg url("../img/form/form_icon_select_top.svg") right 10px center no-repeat;
  text-align: left;
  text-indent: .01px;
  text-overflow: "";
  cursor: pointer;
  padding-right: 25px;


  &:focus {
    background-image: url("../img/form/form_icon_select_top.svg");
  }
}

//radio, checkbox

.e-form-rc-box {
  position: relative;

  > span,
  > li,
  > div {
    margin-bottom: 10px;
    display: block;
  }

  label {
    display: inline-block;
    position: relative;
    min-height: 20px;
    padding-left: 30px;
    padding-right: 10px;
    overflow: hidden;
    box-sizing: border-box;
    //width: 100%;
  }

  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
    width: auto;

    + label:before,
    + .mwform-radio-field-text:before,
    + .mwform-checkbox-field-text:before {
      display: block;
      position: absolute;
      top: .1em;
      left: 0;
      width: 20px;
      height: 20px;
      background: url("../img/form/form_icons.png") 0 0 no-repeat;
      background-image: url("../img/form/form_icons.svg");
      content: "";
      overflow: hidden;
    }
  }

  input:focus + label,
  input:focus + .mwform-radio-field-text,
  input:focus + .mwform-checkbox-field-text {
    box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf;
  }

  input:disabled + label,
  input:disabled + .mwform-radio-field-text,
  input:disabled + .mwform-checkbox-field-text {
    opacity: .6;
  }

  input:checked + label,
  input:checked + .mwform-radio-field-text,
  input:checked + .mwform-checkbox-field-text {
    color: #333;
  }

  //radio
  input[type=radio] + label:before,
  input[type=radio] + .mwform-radio-field-text:before {
    background-position: -40px -40px;
  }

  input[type=radio]:disabled + label:before,
  input[type=radio]:disabled + .mwform-radio-field-text:before {
    background-position: -40px -70px;
  }

  input[type=radio]:checked + label:before,
  input[type=radio]:checked + .mwform-radio-field-text:before {
    background-position: -140px -40px;
  }

  input[type=radio]:disabled:checked + label:before,
  input[type=radio]:disabled:checked + .mwform-radio-field-text:before {
    background-position: -140px -70px;
  }

  //checkbox
  input[type=checkbox] + label:before,
  input[type=checkbox] + .mwform-checkbox-field-text:before {
    background-position: -40px -140px;
  }

  input[type=checkbox]:disabled + label:before,
  input[type=checkbox]:disabled + .mwform-checkbox-field-text:before {
    background-position: -40px -110px;
  }

  input[type=checkbox]:checked + label:before,
  input[type=checkbox]:checked + .mwform-checkbox-field-text:before {
    background-position: -140px -140px;
  }

  input[type=checkbox]:disabled:checked + label:before,
  input[type=checkbox]:disabled:checked + .mwform-checkbox-field-text:before {
    background-position: -140px -110px;
  }

}

.e-form-rc-box--ib > div,
.e-form-rc-box--ib > li,
.e-form-rc-box--ib > span {
  display: inline-block;
}

.e-form-rc-box--2col > div,
.e-form-rc-box--2col > li,
.e-form-rc-box--2col > span {
  width:48%;
  display: inline-block;
  box-sizing: border-box;
  @include media-sp-max {
    width:100%;
  }
}


//状態

.validate-rc-icon {
  display: none;
}

.is-error {
  border-color: $error-color;
  color: $error-color;

  &.e-form-error-text {
    display: block;
  }

  &.e-form-control {
    //background: $form-field-bg url("../img/form/form_icon_error.svg") 98% .6em no-repeat;
    padding-right: 30px;
    background-color: #fff0f5;
  }

  ~ .validate-rc-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
   // background: $form-field-bg url("../img/form/form_icon_error.svg") 98% .6em no-repeat;
    width: 30px;
    height: 30px;
  }

}

.is-warning {
  border-color: $warning-color;
  color: $warning-color;

  &.e-form--warning-text {
    display: block;
  }

  &.e-form-control {
  //  background: $form-field-bg url("../img/form/form_icon_warning.svg") 98% .6em no-repeat;
    padding-right: 30px;
  }

  ~ .validate-rc-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  //  background: $form-field-bg url("../img/form/form_icon_warning.svg") 98% .6em no-repeat;
    width: 30px;
    height: 30px;
  }
}

.is-valid {
  border-color: $success-color;
  //color: #8cc152;

  &.e-form--valid-text {
    display: block;
  }

  &.e-form-control {
  //  background: $form-field-bg url("../img/form/form_icon_done.svg") 98% .8em no-repeat;
    padding-right: 30px;
  }

  ~ .validate-rc-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  //  background: $form-field-bg url("../img/form/form_icon_done.svg") 98% .6em no-repeat;
    width: 30px;
    height: 30px;
  }

}

//a11y
.e-form-control [role="tooltip"] {
  display: none;
  width: auto;
  margin: 0;
  padding: .25em;
  background: $primary-color;
  color: #fff;
  z-index: 2;

  //display: block;
  position: static;
  top: 100%;
}

.e-form-control:focus + [role="tooltip"] {
  display: block;
  position: static;
  top: 100%;
}

//フォーム内インラインフレーム
.e-form-inframe {
  width: 100%;
  max-height: 250px;
  margin: 15px auto;
  padding-right: 15px;
  background-color: $form-field-bg;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border: 1px solid $dividers-color;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #d4d4d4;
  }

  &::-webkit-scrollbar-thumb {
    background: #000;
  }

}
