@charset "utf-8";

/* Tools
   ========================================================================== */

//必須･任意
.e-form-req,
.e-form-any {
  padding: 1px 6px;
  border-radius: 2px;
  background-color: $error-color;
  color: #fff;
  font-size: 10px;
  display: inline-block;
  font-weight: bold;

 .e-form-table & {
    margin-left: 10px;
  }
}



.e-form-any {
  background-color: $success-border;
}

//フォーム内ツール
.e-form-text {
  margin-top: .5em;
}

.e-form-text-small {
  font-size: .8em;
  margin-top: .5em;
  font-weight: normal;
}

.e-form-message-box {

  box-sizing: border-box;
  clear: both;
  display: inline-block;
  width: 100%;
}

.e-form-error-text {
  color: $error-color;
  margin-top: .5em;

  &:before {
    @extend .material-icons;
    vertical-align: middle;
    content: "info_outline";
    white-space: nowrap;
    font-size: 1.2em;
    line-height: 1em;
    margin-right: 5px;
  }
}

/*doc
---
title: form-step
name: form-step
categories: [elements, form]
parent: form
---


```html_example

<div class="e-form-step">
  <ol class="e-form-step__body">
    <li class="e-form-step__item is-active"><span>お客様情報の変更</span></li>
    <li class="e-form-step__item"><span>変更内容の確認</span></li>
    <li class="e-form-step__item"><span>変更完了</span></li>
    <li class="e-form-step__item"><span>変更完了</span></li>
    <li class="e-form-step__item"><span>変更完了</span></li>
  </ol>
</div>


```
*/

.e-form-step {
  margin-bottom: $margin-small-pc;

  @include media-sp-max {
    margin-bottom: $margin-small-sp;
  }

  &__body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    border: 1px solid $dividers-color;
    overflow: hidden;

  }

  &__item {
    width: 100%;
    counter-increment: form-step;
    font-size: 15px;
    padding: .75em .75em .75em 2em;
    position: relative;
    white-space: nowrap;

    @include media-sp-max {
      padding: .75em .75em .75em 1.8em;
      text-align: center;
    }

    &:first-child {
      padding-left: .75em;
    }

    &:before {
      content: counter(form-step);
      width: 26px;
      height: 26px;
      background-color: #aaa;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      line-height: 26px;
      color: #ffffff;
      margin-right: 8px;

      @include media-sp-max {
        width: 24px;
        height: 24px;
        line-height: 24px;
        margin-right: 0;
      }
    }

    span {
      &:before,
      &:after {
        right: -1.1em;
        top: -.2em;
        bottom: -.2em;

        border-color: transparent transparent transparent $dividers-color;
        border-width: 1.8em 0 1.8em 1.3em;

        position: absolute;
        border-style: solid;
        content: "";
        z-index: 2;

      }

      &:after {
        right: -1em;
        border-color: transparent transparent transparent #ffffff;
      }

      @include media-sp-max {
        display: inline-block;
        text-indent: -9999px;
      }
    }

    &:last-child span {
      &:before,
      &:after {
        display: none;
      }
    }

    &.is-active {
      font-weight: bold;
      color: #ffffff;
      background-color: $primary-color-light;

      span {

        &:before {
          border-color: transparent transparent transparent $dividers-color;
        }

        &:after {
          border-color: transparent transparent transparent $primary-color-light;
        }
      }

      &:before {
        font-weight: normal;
        background-color: #ffffff;
        color: $primary-color-light;
      }
    }

  }

}

.e-form-table {
  width: 100%;
  border-top: 1px solid $dividers-color;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 14px;

  @include mb-small;

  tr,
  td,
  th {
    text-align: left;
    vertical-align: top;
    word-break: break-all;
  }

  th {
    padding: 33px 10px 20px 25px;
    border-bottom: 1px solid $dividers-color;
    vertical-align: top;
    width: 33%;


    @include media-sp-max {
      border-bottom: 0;
      display: block;
      width: auto;
      padding:23px 0 0 0;
    }
  }

  td {
    padding: 33px 10px 20px 25px;
    border-bottom: 1px solid $dividers-color;

    @include media-sp-max {
      display: block;
      width: auto;
      padding:23px 0 16px 0;


    }

  }

  //テーブルの中の最後の要素のマージンを消す
  th,
  td {
    *:last-child {
      //  margin-bottom: 0;
    }

  }

}

