@charset "utf-8";



/* Lib
   ========================================================================== */


//validate-countdown
.e-required-countdown-group {
  position: fixed;
  top: 30vh;
  right: 0;
  background-color: $error-color;
  color: #ffffff;
  text-align: center;
  z-index: 99;

  @include media-sp-max {
    top: auto;
    right: 0;
    bottom: 0;
    width: 100%;
  }

}

.e-required-countdown-group__inner {
  padding: .6rem;

  @include media-sp-max {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding:.4rem .6rem 0;
  }
}

.e-required-countdown-group__text {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.4;

  @include media-sp-max {
    display: inline;
    text-align: left;
    font-size: 1rem;
  }
}

.e-required-countdown-group__num {
  font-size: 2.75rem;
  line-height: 1.3;

  @include media-sp-max {
    display: inline;
    padding-left: 10px;
    font-size: 2.66rem;
  }
}

.e-required-countdown-group__num--hidden {
  display: none;
}



//validationEngine.jquery.css
/* Z-INDEX */
.formError {
  display: block;
  position: absolute;
  top: 300px;
  left: 300px;
  text-align: left;
  cursor: pointer;
  z-index: 990;
}

.formErrorContent {
  position: relative;
  width: 100%;
  min-width: 120px;
  padding: 4px 10px;
  border-radius: 4px;
  background: $error-border;
  background: $error-color;
  color: #ffffff;
  z-index: 991;
  top: 5px;
}

