@charset "utf-8";

/* @  Footer Layout
 * ------------------------------------------------------------ */


.l-footer {

  background-color: $brand-primary;
  color: #fff;
  margin-top: 5px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, .26);

  ._inner {
    max-width: $width-pc-max;
    margin-left: auto;
    margin-right: auto;
    padding-right: $width-gap-pc;
    padding-left: $width-gap-pc;

    @include media-tab-max {
      padding-right: $width-gap-tab;
      padding-left: $width-gap-tab;
    }

    @include media-sp-max {
      padding-right: $width-gap-sp;
      padding-left: $width-gap-sp;
    }
  }

  ._body {
    padding-top: 14px;
    @include clearfix;

    @include media-sp-max {
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
    }
  }

  ._item {
    padding-bottom: 17px;
    float: left;
    width: 50%;

    @include media-tab-max {
      width: 55%;
    }

    @include media-sp-max {
      float: none;
      width: auto;
    }

  }

  ._item:first-child {
    width: 34%;
    @include media-tab-max {
      width: 45%;
    }
    @include media-sp-max {
      width: auto;
      order: 3;
    }
  }

  ._item:last-child {
    float: right;
    width: 16%;
    @include media-tab-max {
      width: auto;
      float: none;
    }
    @include media-sp-max {
      order: 1;
    }

  }

  ._description {
    margin-right: 10px;
  }

  ._title {
    font-size: 20px;
    @include media-sp-max {
      font-size: 16px;
    }
  }

  ._address {
    font-size: 14px;
    span {
      display: block;
    }
  }

  ._tel {
    font-size: 14px;
  }

  ._link {

    li {
      width: 24%;
      font-size: 13px;
      display: inline-block;

      @include media-tab-max {
        width: 49%;
      }

      @include media-sp-max {
        margin-bottom: 1em;
      }

    }
    a {
      color: inherit;
    }

  }

  ._icon {
    text-align: right;
    @include media-sp-max {
      text-align: center;
      margin-bottom: 1em;
    }

    li {
      display: inline-block;

      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }

    a {
      background-color: rgba(255, 255, 255, .3);
      padding: 7px 6px 7px 8px;
      text-align: center;
      box-sizing: border-box;
      width: 40px;
      height: 40px;
      border-radius: 100px;
      color: inherit;
      font-size: 24px;
      line-height: 1;
      display: block;
    }
  }

  ._copy {
    text-align: center;

    color: $text-color-dark-week;
    border-top: 1px solid $text-color-dark-week;
  }

  ._copy-text {
    max-width: $width-pc-max;
    padding: .5em $width-gap-pc .8em;
    margin-right: auto;
    margin-left: auto;
    font-size: 10px;
    text-align: center;
  }

}