@charset "utf-8";

/* @ l-unit
 * ------------------------------------------------------------ */


.l-unit {
  margin-bottom: $margin-large-pc;

  *:last-child {
    margin-bottom: 0;
  }

  @include media-sp-max {
    margin-bottom: 0;
  }

}