@charset "utf-8";

/* ==========================================================================
   #carousel
   ========================================================================== */

/*doc
---
title: swiper-main
name: carousel1
category: carousel
---

```html_example

<div class="swiper-main">
  <div id="js-swiper-main" class="swiper-container">
    <ul class="swiper-wrapper">
      <li class="swiper-slide">
        <a href=""><img src="/assets/img/dummy/1500x500.png" alt=""></a>
      </li>
      <li class="swiper-slide">
        <a href=""><img src="/assets/img/dummy/1500x500.png" alt=""></a>
      </li>
      <li class="swiper-slide">
        <a href=""><img src="/assets/img/dummy/1500x500.png" alt=""></a>
      </li>
    </ul>

    <div class="swiper-controls">
      <button class="swiper-start on"><i class="material-icons">play_arrow</i></button>
      <button class="swiper-stop"><i class="material-icons">pause</i></button>
    </div>

  </div>
  <div class="swiper-pagination"></div>
</div>

<script  src="http://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.js"></script>
<script>

    var swiperMain = new Swiper('#js-swiper-main', {
      pagination: '.swiper-main .swiper-pagination',
      paginationClickable: true,
      centeredSlides: false,
      loop: true,
      loopAdditionalSlides: 1,
      spaceBetween: 0,
      slidesPerView: 1,
      autoplay: 3000,
      onInit() {
        var start = $('.swiper-main .swiper-start');
        var stop = $('.swiper-main .swiper-stop');
        start.on('click', function()  {
          if (!start.hasClass('on')) {
            swiperMain.startAutoplay();
            start.addClass('on');
            stop.removeClass('on');
          }
        });
        stop.on('click', function() {
          if (!stop.hasClass('on')) {
            swiperMain.stopAutoplay();
            stop.addClass('on');
            start.removeClass('on');
          }
        });
      }
    });


</script>




```
*/

.swiper-main {
  position: relative;
  @include mb-small;

  //  .swiper-wrapper {  }

  .swiper-slide {
    text-align: center;

    img {
      width: 100%;
    }
  }

  .swiper-container {
    position: relative;

  }

  .swiper-controls {
    background-color: rgba(0, 0, 0, .5);
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;

    @include media-sp-max {
      background-color: inherit;
      position: static;
      float: right;
    }
  }

  .swiper-start,
  .swiper-stop {
    padding: 9px 3px 7px;
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    appearance: none;
    user-select: none;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    opacity: .3;
    i {
      @include fsize(20px);
    }

    @include media-sp-max {
      padding: 5px 3px;
      opacity: 1;
      color: $brand-primary;
    }
  }

  .swiper-start.on,
  .swiper-stop.on {
    opacity: 1;

    @include media-sp-max {
      color: $brand-primary-dark;
    }
  }

  .swiper-pagination-bullets {
    position: static;
    margin-top: 1em;

    @include media-sp-max {
      margin-top: -2em;
      text-align: left;
      max-width: 80%;
    }

    .swiper-pagination-bullet {
      background-color: #ddd;
      width: 10px;
      height: 10px;
      margin: 0 5px;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      background-color: $brand-primary;
    }
  }
}

/*doc
---
title: swiper-top
name: carousel1-1
category: carousel
---

```html_example

<div class="swiper-top">
  <div id="js-swiper-top" class="swiper-container">
    <ul class="swiper-wrapper">
      <li class="swiper-slide" style="background-color: #5b5e63; color: #fff;">
        <div class="swiper-slide__item1">
          <img src="/assets/img/dummy/750x500.png" alt="">
        </div>
        <div class="swiper-slide__item2">
          <p class="swiper-slide__date">2017.11.02</p>
          <p class="swiper-slide__title">タイトル</p>
          <p class="swiper-slide__text">テキストテキストテキストテキストテキストテキスト</p>
        </div>
      </li>
      <li class="swiper-slide" style="background-color: #93e9be; color: #fff;">
        <div class="swiper-slide__item1">
          <img src="/assets/img/dummy/750x500.png" alt="">
        </div>
        <div class="swiper-slide__item2">
          <p class="swiper-slide__date">2017.11.02</p>
          <p class="swiper-slide__title">タイトル</p>
          <p class="swiper-slide__text">テキストテキストテキストテキストテキストテキスト</p>
         </div>
      </li>
    </ul>
    <div class="swiper-controls">
      <div class="swiper-pagination"></div>
      <div class="swiper-btn">
        <button class="swiper-stop"><i class="material-icons">pause</i></button>
        <button class="swiper-start on"><i class="material-icons">play_arrow</i></button>
      </div>
    </div>
  </div>
</div>

<script  src="http://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.js"></script>
<script>
    var swiperTop = new Swiper('#js-swiper-top', {
      pagination: '.swiper-top .swiper-pagination',
      paginationClickable: true,
      centeredSlides: false,
      loop: true,
      loopAdditionalSlides: 1,
      spaceBetween: 0,
      slidesPerView: 1,
      autoplay: 5000,
      autoHeight: true,
      effect: 'fade',
      breakpoints: {
        599: {
          onInit() {
            $(window).on('load resize', function () {
              mainVisualHeight();
            });
            function mainVisualHeight() {
              var windowH = $(window).height(),
                  headerH = $('.l-header').height();
              $('#js-swiper-top .swiper-slide').each(function(index) {
                $('.swiper-slide__item1 img', this).height(windowH - headerH - $('.swiper-slide__item2', this).outerHeight());
              });
            }
          }
        }
      },
      onInit() {
        var start = $('.swiper-top .swiper-start');
        var stop = $('.swiper-top .swiper-stop');
        start.on('click', function() {
          if (!start.hasClass('on')) {
            swiperTop.startAutoplay();
            start.addClass('on');
            stop.removeClass('on');
          }
        });
        stop.on('click', function() {
          if (!stop.hasClass('on')) {
            swiperTop.stopAutoplay();
            stop.addClass('on');
            start.removeClass('on');
          }
        });
      }
    });



</script>



```
*/

.swiper-top {
  @include mb-small;

  .swiper-slide {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background-color: $brand-primary;
    color: #fff;
    margin-bottom: 50px;
    @include elevation(1);
    @include media-sp-max {

      display: block;
      height: calc(100vh - 53px);

    }
  }

  .swiper-slide__item1 {
    width: 50%;
    @include media-sp-max {
      width: auto;
    }

    img {
      object-fit: cover;
    }
  }
  .swiper-slide__item2 {
    width: calc(50% - 4rem);
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 2rem;
    padding-bottom: 46px;

    @include media-tab-max {
      width: calc(50% - 32px);
      padding-top: 16px;
      padding-right: 16px;
      padding-left: 16px;
    }
    @include media-sp-max {
      width: auto;
      position: relative;
    }
  }

  .swiper-slide__date {
    @include fsize(12px);
    margin-bottom: 8px;
    @include media-sp-max {
      color: $text-color;
      background: #fff;
      padding: .5em;
      line-height: 1;
      display: inline-block;
      position: absolute;
      top: -2em;
      left: 0;
    }
  }

  .swiper-slide__title {
    @include fsize(24px, false, 16px);
    margin-bottom: 8px;
    font-weight: bold;
  }
  .swiper-slide__text {
    font-weight: bold;
    @include fsize(16px, false, 13px);
  }

  .swiper-container {
    position: relative;
  }

  .swiper-controls {
    background-color: rgba(0, 0, 0, .2);
    box-sizing: border-box;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
    height: 46px;
    width: 50%;

    @include media-sp-max {
      width: 100%;
      height: 36px;
    }
  }

  .swiper-btn {
    position: absolute;
    right: 10px;
    top: 4px;
    margin: auto;
    @include media-sp-max {
      top: 0;
    }
  }
  .swiper-start,
  .swiper-stop {
    padding: 9px 3px 7px;
    max-width: 100%;
    margin-left: 1rem;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    appearance: none;
    user-select: none;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    opacity: .3;
    i {
      font-size: 20px;
      @include fsize(20px);
    }
  }

  .swiper-start.on,
  .swiper-stop.on {
    opacity: 1;
  }

  .swiper-pagination-bullets {
    position: static;
    text-align: left;
    margin-top: 8px;
    padding-right: 70px;

    @include media-sp-max {
      margin-top: 6px;
    }

    .swiper-pagination-bullet {
      background-color: #fff;
      width: 6px;
      height: 6px;
      margin: 0 10px;
      border: 1px solid transparent;
      opacity: .3;
    }

    .swiper-pagination-bullet-active {
      width: 10px;
      height: 10px;
      margin-bottom: -2px;
      border-color: #fff;
      background-color: transparent;
      opacity: 1;

    }
  }
}

/*doc
---
title: swiper-3to1
name: carousel
category: carousel
---


```html_example

<div class="swiper-3to2to1">
  <div id="js-swiper-3to2to1" class="swiper-container">
    <ul class="swiper-wrapper">
      <li class="swiper-slide e-card">
        <a href="">
          <div class="e-card__img img-hover"><img src="/assets/img/dummy/400x250.png" alt=""></div>
          <div class="e-card__body">
            <p class="e-card__title">タイトル</p>
            <p class="e-card__text">テキストテキストテキストテキストテキスト</p>
          </div>
        </a>
      </li>
      <li class="swiper-slide e-card">
        <a href="">
          <div class="e-card__img img-hover"><img src="/assets/img/dummy/400x250.png" alt=""></div>
          <div class="e-card__body">
            <p class="e-card__title">タイトル</p>
            <p class="e-card__text">テキストテキストテキストテキストテキスト</p>
          </div>
        </a>
      </li>
      <li class="swiper-slide e-card">
        <a href="">
          <div class="e-card__img img-hover"><img src="/assets/img/dummy/400x250.png" alt=""></div>
          <div class="e-card__body">
            <p class="e-card__title">タイトル</p>
            <p class="e-card__text">テキストテキストテキストテキストテキスト</p>
          </div>
        </a>
      </li>
      <li class="swiper-slide e-card">
        <a href="">
          <div class="e-card__img img-hover"><img src="/assets/img/dummy/400x250.png" alt=""></div>
          <div class="e-card__body">
            <p class="e-card__title">タイトル</p>
            <p class="e-card__text">テキストテキストテキストテキストテキスト</p>
          </div>
        </a>
      </li>
    </ul>
    <div class="swiper-pagination"></div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>

<script  src="http://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.js"></script>
<script>

    var swiper3to2to1 = new Swiper('#js-swiper-3to2to1', {
      pagination: '.swiper-3to2to1 .swiper-pagination',
      paginationClickable: true,
      nextButton: '.swiper-3to2to1 .swiper-button-next',
      prevButton: '.swiper-3to2to1 .swiper-button-prev',
      centeredSlides: false,
      loop: true,
      loopAdditionalSlides: 1,
      spaceBetween: 20,
      slidesPerView: 3,
      autoplay: 0,
      breakpoints: {
        599: {
          centeredSlides: true,
          slidesPerView: 1.5
        }
      }
    });

</script>


```
*/

.swiper-3to2to1 {
  position: relative;

  @include mb-small;

  .swiper-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: -20%;
    bottom: 0;
    margin: auto;
    background-size: 13px 22px;
    width: 13px;
    height: 22px;

    @include media-sp-max {
      display: none;
    }
  }

  .swiper-button-prev {
    left: -27px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23666666'%2F%3E%3C%2Fsvg%3E");
  }

  .swiper-button-next {
    right: -27px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23666666'%2F%3E%3C%2Fsvg%3E");
  }

  @include media-pc-max {

    .swiper-button-prev {
      display: none;
    }

    .swiper-button-next {
      display: none;
    }
  }

  .swiper-pagination-bullets {
    position: static;

    @include media-sp-max {
      display: none;
    }

    .swiper-pagination-bullet {
      background-color: #ddd;
      width: 10px;
      height: 10px;
      margin: 0 5px;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      background-color: $brand-primary;
    }
  }

}
