@charset "UTF-8";

//スタイルガイド用コメント

/*doc
---
title: 「Japan Web Production Standards」について
name: top
categories: [index, visualEditorWrap]
---

<div class="l-unit visual-editor">
<h2>UIコンポーネント+プロトタイピング+アクセシビリティ+CMS</h2>

<p>Japan Web Production Standardsは統一ルールに基づいたCSSのUIコンポーネントとJavaScriptのUIコンポーネントを組み合わせたwebサイト用のビジュアルスタイルガイドを含むフレームワークです。<br>
UIコンポーネントを組み合わせてwebページを構築していく手法を得意とし、CMSを構築に必要なCSS、JavaScriptがまとまっています。<br>
また、アクセシビリティ達成基準のレベルAに加え、AAのうち一部の達成基準に配慮しています。<br>
最終的には達成基準のすべてを満たすことを目指していますが、現時点ではすべての達成基準を満たすことはできていません。</p>

<ul>
  <li><a href="https://github.com/tamshow/jwps/" target="_blank">GitHubを見る</a></li>
  <li><a href="http://template.tamshow.com/filelist.html" target="_blank">テンプレートのサンプルを見る</a></li>
</ul>


<h3>UIコンポーネントとは</h3>
<p>統一ルールに基づいたUIデザインパーツを組み合わせてwebページを構築していくというweb制作の手法です。PC、スマホ共通パーツを用いるレスポンシブデザインと親和性が高いのが特長です。<br>
パーツは必要最小限になるため運用担当者の学習コストが低く、すぐに扱えるようになります。<br>
また、デザインが破綻しにくくメンテナンス性も高いものになります。</p>

<h3>プロトタイピングとは</h3>
<p>デザインを固めてからコーディングに入る従来の方式ではなく、デザイン前に早々にCMSを仮の状態（プロトタイプ）で動かしてしまい原稿やサイト構成を作ってしまうことで、使用した上でのアイデア・問題点（求める制作物との齟齬など）の洗い出し、使用感を伴ったフィードバック、改修を公開前に行うという手法を指します。</p>

<h3>アクセシビリティとは</h3>
<p>「アクセシビリティ」という言葉からは、障害者への対応というイメージを持たれることが多いですが、それだけではありません。アクセシビリティが向上すれば、アクセスできる人の母数が増えます。アクセシビリティへの配慮を行う事は、障害者や高齢者だけでなく、あらゆる人に恩恵をもたらす可能性があります。また、SEOにも有利になります。</p>

<h3>CMSとは</h3>
<p>コンテンツ・マネジメント・システムの略で、webサイトを管理・更新できるシステムのことをいいます。</p>
</div>


*/


/*doc
---
title: デザインリソース
name: top-designers
categories: [index, visualEditorWrap]
---
<div class="l-unit visual-editor">
<p><img src="https://tamshow.github.io/jwps/assets/img/common/JWPS.png" alt="StyleGuide"></p>

<ul>
  <li><a href="https://github.com/tamshow/jwps/blob/master/design/JWPS.xd" target="_blank">Download design files (XD)</a></li>
</ul>

<h3>アイコン部分が文字化けしてしまう方へ</h3>
<p>このファイルでは「Google Material Icons」をアイコンフォントとして使用しています。<br>
以下のURLから「MaterialIcons-Regular.ttf」をダウンロードして、お使いのPCにインストールすることでアイコンが文字化けせずに表示されます。</p>
<p><a href="https://github.com/google/material-design-icons/blob/master/iconfont/MaterialIcons-Regular.ttf">https://github.com/google/material-design-icons/blob/master/iconfont/MaterialIcons-Regular.ttf</a></p>

</div>
*/


/*doc
---
title: 開発ガイドライン
name: top-developers
categories: [index, visualEditorWrap]
---
<div class="l-unit visual-editor">
<h3>コーディングマナー</h3>
<ul>
<li>メンテナンス性、可読性を意識したコーディングを心がけます。</li>
<li>拡張性、再利用性、柔軟性、効率を意識したルールを持たせます。</li>
<li>要素の追加・削除のし易さを心がけます。</li>
<li>アクセシビリティに配慮します。</li>
</ul>


<h3>対応ブラウザ</h3>
<ul>
<li>Internet Explorer11、Microsoft Edge 最新ver、Firefox 最新ver、Chrome 最新ver Safari 最新ver</li>
<li>スマートフォンOSに搭載されている標準のブラウザ</li>
<li>旧ブラウザは閲覧性を重視します。</li>
</ul>

<h3>おおまかに説明</h3>
<code>frontend/source</code>フォルダが作業場所です。<br>
<code>gulp serve</code>することで<code>frontend/source</code>を開発用ルートとしてファイルをwatchします。<br>
<code>gulp build</code>することで<code>frontend/source</code>を公開用に調整し<code>html</code>へ書き出します。<br>
画像圧縮はしていません。必要に応じて圧縮してください。<br>
Sassのmixinは<a href="https://www.bourbon.io/">bourbonファミリー</a>を使用・参考にします。<br>
<code>source/assets/src/bundle/ or /vendor/</code>以下に配置したJSファイルは1ファイルに結合されます。</p>


<h3>使用する主なToolについて</h3>
<ul>
<li><a href="https://material.io/tools/icons/">material-icons.css</a></li>
<li><a href="https://www.bourbon.io/">bourbon</a></li>
<li><a href="jquery.js">jquery.js</a></li>
</ul>

<h4>デバイス判定用</h4>
<p>デバイスを判定してbodyタグに出力します。   </p>
<pre><code>data-device=&quot;desktop&quot; data-touch-device=&quot;true&quot;
</code></pre>


<h3>環境構築</h3>
<h4>必要環境</h4>
<ul>
<li>Node 10.14.2</li>
<li>npm 6.4.1</li>
<li>yarn 1.3.2</li>
</ul>

<h4>インストール</h4>
<pre><code>//通常
$ cd frontend
$ yarn install

//hologramを使う場合
$ bundle install --path vendor/bundle
</code></pre>

<h4>開発サイクル</h4>
<pre><code>//開発時
$ gulp serve

frontend/source/フォルダをルートとしてファイルをwatchします。
localhost:9000を見に行きます。


//公開時
$ gulp build

JS、CSSなど圧縮、または不要ファイルを削除します。
画像圧縮はしていません。必要に応じて圧縮してください。

//スタイルガイド作成
$ cd hologram
$ hologram

//docsフォルダ作成
$ gulp docs
hologramで書き出したファイルをdocsフォルダに移動します。

</code></pre>

<h4>ディレクトリ構造</h4>
<pre><code>.
 ├── frontend
 │   ├── source（開発用）
 │   │   ├── assets
 │   │   │   ├── fonts
 │   │   │   ├── img
 │   │   │   ├── src
 │   │   │   └── sass
 │   │   │
 │   │   ├── styleguide（必要に応じてhologramで作成）
 │   │   │   ├── index.html
 │   │   │   ├── started.html
 │   │   │   └── ....html
 │   │   │
 │   │   ├── index.html（必要に応じてhtmlファイルを追加）
 │   │   ├── 404.html
 │   │   └── ....
 │   │
 │   ├── package.json
 │   ├── yarn.lock
 │   └── gulpfile.js
 │
 ├── html（公開用 ）
 │   ├── index.html
 │   └── assets
 │
 ├── design（デザインファイル）
 │   └── JWPS.xd
 │
 ├── docs（スタイルガイド表示用 必要に応じて作成）
 │   └── ...
 │
 ├── LICENSE.txt
 └── README.md
</code></pre>

</div>



*/

