{% extends "_layout/_base.njk" %}

{% set page_title = "" %}
{% set page_url = "" %}
{% set page_description = "" %}
{% set page_keywords = "" %}

{% block main %}

<div class="c-breadcrumb" role="navigation" aria-label="現在地表示">
  <div class="c-breadcrumb__inner">
    <span><a href="/">ホーム</a></span>
    <span>お知らせ</span>
  </div>
</div>
<section class="l-container">

  <div class="e-heading-group">
    <h1 class="e-heading1">カテゴリー名</h1>
  </div>

  <div class="l-block-fluid">
    <div class="l-unit">
      <ul class="c-summary1">
        <li class="c-summary__item e-card">
          <a href="">
            <div class="e-card__img"><img src="/assets/img/common/card.png" alt=""></div>
            <div class="e-card__body">
              <p class="e-card__title">タイトル</p>
              <p class="e-card__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
            </div>
          </a>
        </li>
        <li class="c-summary__item e-card">
          <a href="">
            <div class="e-card__img"><img src="/assets/img/common/card.png" alt=""></div>
            <div class="e-card__body">
              <p class="e-card__title">タイトル</p>
              <p class="e-card__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
            </div>
          </a>
        </li>
        <li class="c-summary__item e-card">
          <a href="">
            <div class="e-card__img"><img src="/assets/img/common/card.png" alt=""></div>
            <div class="e-card__body">
              <p class="e-card__title">タイトル</p>
              <p class="e-card__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
            </div>
          </a>
        </li>
        <li class="c-summary__item e-card">
          <a href="">
            <div class="e-card__img"><img src="/assets/img/common/card.png" alt=""></div>
            <div class="e-card__body">
              <p class="e-card__title">タイトル</p>
              <p class="e-card__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
            </div>
          </a>
        </li>
        <li class="c-summary__item e-card">
          <a href="">
            <div class="e-card__img"><img src="/assets/img/common/card.png" alt=""></div>
            <div class="e-card__body">
              <p class="e-card__title">タイトル</p>
              <p class="e-card__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
            </div>
          </a>
        </li>
        <li class="c-summary__item e-card">
          <a href="">
            <div class="e-card__img"><img src="/assets/img/common/card.png" alt=""></div>
            <div class="e-card__body">
              <p class="e-card__title">タイトル</p>
              <p class="e-card__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
            </div>
          </a>
        </li>
        <li class="c-summary__item e-card">
          <a href="">
            <div class="e-card__img"><img src="/assets/img/common/card.png" alt=""></div>
            <div class="e-card__body">
              <p class="e-card__title">タイトル</p>
              <p class="e-card__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
            </div>
          </a>
        </li>
        <li class="c-summary__item e-card">
          <a href="">
            <div class="e-card__img"><img src="/assets/img/common/card.png" alt=""></div>
            <div class="e-card__body">
              <p class="e-card__title">タイトル</p>
              <p class="e-card__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

{% endblock %}




