@charset "utf-8";

/* ==========================================================================
   #headline
   ========================================================================== */

/*doc
---
title: headline
name: headline
categories: [components, headline]
---

```html_example

   <ul class="c-headline">
    <li class="c-headline__item">
      <span class="c-headline__date">2017.10.01 </span>
      <p class="c-headline__title"><a href="">ニュースタイトルが入りますニュースタイトルが入ります。ニュースタイトルが入りますニュースタイトルが入ります。<span class="is-new">New<span></a></p>
    </li>
     <li class="c-headline__item">
      <span class="c-headline__date">2017.10.01 </span>
      <p class="c-headline__title"><a href="">ニュースタイトルが入りますニュースタイトルが入ります。ニュースタイトルが入りますニュースタイトルが入ります。</a></p>
    </li>
     <li class="c-headline__item">
      <span class="c-headline__date">2017.10.01 </span>
      <p class="c-headline__title"><a href="">ニュースタイトルが入りますニュースタイトルが入ります。ニュースタイトルが入りますニュースタイトルが入ります。</a></p>
    </li>

   </ul>

```
*/

.c-headline {
  border-top: 1px solid $dividers-color;

  @include mb-small;
  &__item {
    line-height: 1.4;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid $dividers-color;
    padding: 24px 16px 20px 16px;


    @include media-sp-max {
      display: block;
      padding: 15px 14px 16px 14px;

    }

    a {
      color: $primary-text-color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }

    }
  }

  &__date {
    margin: .1em 1em .1em 0;
    font-size: 12px;
    color: $secondary-text-color;
    margin-right: 118px;
    white-space: nowrap;
  }

  &__label {
    margin-right: 1em;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    @include media-sp-max {
      display: inline;
    }

    span {
      white-space: nowrap;
      margin-right: .3em;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__title {
    font-weight: bold;
    @include media-sp-max {
      margin-top: .4em;
    }

  }

}


/*doc
---
title: headline-search
name: headline-search
categories: [components, headline]
parent: headline
---

```html_example

   <ul class="c-headline-search">
    <li class="c-headline-search__item">
      <p class="c-headline-search__title"><a href="">ニュースタイトルが入りますニュースタイトルが入ります。ニュースタイトルが入りますニュースタイトルが入ります。</a></p>
      <p class="c-headline-search__url">news/index.html</p>
      <p class="c-headline-search__text">ニュースニュースニュースニュース<span class="c-headline-search__sub-text"> 2018.01.01</span></p>
    </li>
   </ul>

```
*/

.c-headline-search {
  @include mb-small;
  &__item {
    @include mb-medium;

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

  }
  &__title {
    @include fsize-h3;
    font-weight: bold;
    color: $primary-text-color;
    margin-bottom: 6px;

    a {
      color: inherit;
    }

    @include media-sp-max {
      margin-bottom: 0;
    }
  }
  &__url {
    font-size: 14px;
    color: $success-color;
    line-height: 1;
    margin-bottom: 10px;

  }
  &__text {
    font-size: 14px;
    display: inline;
    margin-right: .5em;

  }
  &__sub-text {
    font-size: 12px;
    color: $secondary-text-color;
    display: inline;
  }

}

