@charset "utf-8";

/*doc
---
title: floor
name: floor
category: mixins
---


```
@include floor-decimal($number, $digits: 4);

1.234567 => 1.2345

```

*/

@function floor-decimal ($number, $digits: 4) {
  $n: 1;
  @for $i from 1 through $digits {
    $n: $n * 10;
  }
  @return floor($number * $n) / $n;
}
