@charset "utf-8";

/* ==========================================================================
   #Accordion
   ========================================================================== */

/*doc
---
title: accordion
name: accordion
categories: [js, accordion]
---

```html_example

<div class="c-accordion" data-accordion>
 <button type="button" class="c-accordion__title" aria-controls="accordion1" aria-expanded="true" aria-label="開く" data-toggle-accordion> 情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った - NONE</button>
 <div id="accordion1" class="c-accordion__body" aria-hidden="true" data-body-accordion>
  <p>情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。</p>
 </div>
</div>

<div class="c-accordion c-accordion--faq is-active" data-accordion data-device-accordion="all">
 <button type="button" class="c-accordion__title" aria-controls="accordion2" aria-expanded="false" aria-label="閉じる" data-toggle-accordion>情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った - ALL</button>
 <div id="accordion2" class="c-accordion__body" aria-hidden="false" data-body-accordion>
  <p>情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。</p>
 </div>
</div>

<div class="c-accordion" data-accordion data-device-accordion="pc">
 <button type="button" class="c-accordion__title" aria-controls="accordion3" aria-expanded="true" aria-label="開く" data-toggle-accordion>情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った - PC</button>
 <div id="accordion3" class="c-accordion__body" aria-hidden="true" data-body-accordion>
  <p>情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。</p>
 </div>
</div>

<div class="c-accordion" data-accordion data-device-accordion="tab">
 <button type="button" class="c-accordion__title" aria-controls="accordion3" aria-expanded="true" aria-label="開く" data-toggle-accordion>情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った - TAB</button>
 <div id="accordion3" class="c-accordion__body" aria-hidden="true" data-body-accordion>
  <p>情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。</p>
 </div>
</div>

<div class="c-accordion" data-accordion data-device-accordion="sp">
 <button type="button" class="c-accordion__title" aria-controls="accordion3" aria-expanded="true" aria-label="開く" data-toggle-accordion>情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った - SP</button>
 <div id="accordion3" class="c-accordion__body" aria-hidden="true" data-body-accordion>
  <p>情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。</p>
 </div>
</div>



```

<div class="c-accordion" data-accordion data-device-accordion="all">
  <button type="button" class="c-accordion__title" aria-expanded="true" aria-label="開く" data-toggle-accordion>Javascript</button>
    <div class="c-accordion__body" aria-hidden="true" data-body-accordion>
  <ul class="list list--disc">
    <li>data-accordion class="is-active"</li>
    <li>data-toggle-accordion</li>
    <li>data-body-accordion </li>
    <li>data-device-accordion = `all`, `pc`, `tab`, `sp`</li>
  </ul>
    </div>
</div>


<div class="c-accordion" data-accordion data-device-accordion="all">
  <button type="button" class="c-accordion__title" aria-expanded="true" aria-label="開く" data-toggle-accordion>Accessibility</button>
    <div class="c-accordion__body" aria-hidden="true" data-body-accordion>
  <ul class="list list--disc">
    <li>表示領域の操作はマウスとキーボードの両方で使用可能です。</li>
    <li>ボタン領域の属性は、aria-expanded = `true`または`false`を設定します（必須）。</li>
    <li>ボタン領域の属性は、aria-label = `開く`または`閉じる`を設定します（必須）。</li>
    <li>ボタン領域にaria-controls = `id名`、コンテンツ領域に該当する`id名`を設定し、表示領域の関連付けを設定します（任意）。</li>
    <li>コンテンツ領域の属性は、対応するボタン領域の属性に応じて、aria-hidden= `true`または`false`を設定します（必須）。</li>
  </ul>
    </div>
</div>


*/


.c-accordion {
  border-bottom: 0;
  background: #ffffff;
  @include mb-small;



  &__title {
    display: block;
    border-radius: 0;
    appearance: none;
    font-size: $fsize-h4-pc;
    user-select: none;
    width: 100%;
    text-align: left;
    background-color: transparent;
    font-weight: bold;
    padding: 18px 35px 18px 20px;
    border: 1px solid $dividers-color;
    cursor: pointer;
    transition: $animation;
    line-height: 1.6;

    &:hover,
    &:focus {
      background-color: $dividers-color;
    }
  }

  //icon

  &__title {
    position: relative;
    overflow: hidden;
    &:after {
      @extend .material-icons;
      vertical-align: middle;
      content: 'add';
      color: $primary-text-color;
      text-align: right;

      font-size: 1.5rem!important;
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      right: 1rem;
      top: 0;
      bottom: 0;
      margin: auto;


    }



    &[aria-expanded="false"]:after {
      content: 'remove';
    }

  }

  &__title2 {
    position: relative;
    overflow: hidden;
    &:after {
      display: inline-block;
      width: 8px;
      height: 8px;
      transform: rotate(45deg);
      border-top: 1px solid $primary-text-color;
      border-left: 1px solid $primary-text-color;
      content: "";
      vertical-align: middle;
      position: absolute;
      right: 20px;
      top: 4px;
      bottom: 0;
      margin: auto;
    }



    &[aria-expanded="false"]:after {
      transform: rotate(225deg);
      top: -4px;
    }

  }

  &__body {
    border: 1px solid $dividers-color;
    border-top: 0;
    padding: 25px 20px;
    font-size: $fsize-h4-pc;
    transition: $animation;
  }
  
  &__body[aria-hidden="true"] {
    display: none;
  }

  &__body[aria-hidden="false"] {
    display: block;
  }

}


.c-accordion--faq {

  .c-accordion__title {
    padding-left: 4rem;
  }
  .c-accordion__title:before {
    width:2rem;
    height:2rem;
    box-sizing: border-box;
    content: 'Q';
    color: #fff;
    display: inline-block;
    border-radius: 100px;
    background-color: #477CCB;
    font-size: 1rem;
    text-align: center;
    line-height: 2rem;
    position: absolute;
    left: 1rem;
    top: 16px;
  }

  .c-accordion__body {
    padding-left: 4rem;
    position: relative;
  }
  .c-accordion__body:before {
    width:2rem;
    height:2rem;
    box-sizing: border-box;
    content: 'A';
    color: #fff;
    display: inline-block;
    border-radius: 100px;
    background-color: #FD95A1;
    font-size: 1rem;
    text-align: center;
    line-height: 2rem;
    position: absolute;
    left: 15px;
    top: 25px;
  }


}