@charset "utf-8";

/* ==========================================================================
   #media
   ========================================================================== */


/*doc
---
title: media
name: media
categories: [elements, media]
---

<h3 class="styleguide">Default</h3>

`.e-media--small`
<br>

```html_example

<div class="e-media e-media--break">
  <div class="e-media__img"><img src="/assets/img/dummy/400x250.png" alt=""></div>
  <div class="e-media__body">
    <p class="e-media__title">情に棹させば流される智に働けば角が立つ</p>
    <p class="e-media__text">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。</p>
  </div>
</div>

```


*/

.e-media {
  @include mb-small;

  > a {
    display: block;
    overflow: hidden;
    color: inherit;
  }

  @include clearfix;
  color: inherit;
  display: block;

  &__img {

    + .e-media__img {
      margin-bottom: 10px;
    }

    overflow: hidden;
    position: relative;
    margin-right: 3%;
    float: left;
    width: 192px;
    height: 128px;

    @include media-sp-max {
      margin-right: 10px;
      width: 104px;
      height: 69px;
    }

    img {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
    }
  }

  &__body {
    overflow: hidden;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  &__label {
    margin-bottom: .2em;
    width: 100%;
    display: inline-block;
  }
  &__title {
    @include fsize($fsize-h4-pc, false, $fsize-h4-sp);
    margin-bottom: .3em;
    line-height: 1.4;
  }

  &__text {
    color: $text-color-sub;
    @include fsize(14px);

    + .e-media__text {
      margin-top: $margin-small-pc;

      @include media-sp-max {
        margin-top: $margin-small-sp;
      }
    }
  }

}

.e-media--small {

  .e-media__title {
    @include fsize(14px);
  }

  .e-media__text {
    @include fsize(12px);
  }

  .e-media__img {
    margin-right: 16px;
    float: left;
    width: 135px;
    height: 90px;

    @include media-sp-max {
      margin-right: 10px;
      width: 104px;
      height: 69px;
    }
  }

}