@charset "utf-8";

/* ==========================================================================
   #menu
   ========================================================================== */

/*doc
---
title: menu
name: menu
categories: [components, menu]
---

```html_example
<div class="c-menu">
  <h3 class="c-menu__title">カテゴリー名</h3>
  <ul class="c-menu__list">
    <li><a href="">タイトル</a>
      <ul class="c-menu__list">
        <li><a href="" class="is-active">タイトル</a></li>
        <li><a href="">タイトル</a></li>
        <li><a href="">タイトル</a></li>
      </ul>
    </li>
    <li><a href="">タイトル</a></li>
    <li><a href="">タイトル</a></li>
  </ul>
</div>


```
*/

/* menu
   ========================================================================== */

.c-menu {

  @include mb-small;

  &__title {
    color: $primary-color;
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding-bottom: 10px;
    border-bottom: 3px solid $primary-color;
  }

  &__list {
    margin-bottom: 0;

    a {
      border-bottom: 1px solid $dividers-color;
      font-size: 14px;
      padding: 12px 16px 12px 16px;
      display: block;
      text-decoration: none;
      color: $primary-text-color;
      &:hover,
      &.is-active,
      &.stay{
        color: $primary-color;
      }
    }

    .c-menu__list {
      margin-left: 1em;
    }
  }
}

