{% extends "_layout/_base.njk" %}

{% set page_title = "" %}
{% set page_url = "" %}
{% set page_description = "" %}
{% set page_keywords = "" %}

{% block main %}

<div id="breadcrumb" class="c-breadcrumb" role="navigation" aria-label="現在地表示">
  <div class="c-breadcrumb__inner">
    <span><a href="/">ホーム</a></span>
    <span>お知らせ</span>
  </div>
</div>
<section class="l-container">
  <div class="e-heading-group">
    <h1 class="e-heading1">「タグ1」関連ページ</h1>
  </div>
  <div class="l-block-primary">


    <div class="l-unit">
      <ul class="c-headline-search">
        <li class="c-headline-search__item">
          <p class="c-headline-search__title"><a href="">ニュースタイトルが入りますニュースタイトルが入ります。</a></p>
          <p class="c-headline-search__url">/news/news.html</p>
          <p class="c-headline-search__text">吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。
            何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを...
            <span class="c-headline-search__sub-text">最終更新日 2018年01月01日</span></p>
        </li>
        <li class="c-headline-search__item">
          <p class="c-headline-search__title"><a href="">ニュースタイトルが入りますニュースタイトルが入ります。</a></p>
          <p class="c-headline-search__url">/news/news.html</p>
          <p class="c-headline-search__text">吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。
            何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを...
            <span class="c-headline-search__sub-text">最終更新日 2018年01月01日</span></p>
        </li>
        <li class="c-headline-search__item">
          <p class="c-headline-search__title"><a href="">ニュースタイトルが入りますニュースタイトルが入ります。</a></p>
          <p class="c-headline-search__url">/news/news.html</p>
          <p class="c-headline-search__text">吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。
            何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを...
            <span class="c-headline-search__sub-text">最終更新日 2018年01月01日</span></p>
        </li>
        <li class="c-headline-search__item">
          <p class="c-headline-search__title"><a href="">ニュースタイトルが入りますニュースタイトルが入ります。</a></p>
          <p class="c-headline-search__url">/news/news.html</p>
          <p class="c-headline-search__text">吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。
            何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを...
            <span class="c-headline-search__sub-text">最終更新日 2018年01月01日</span></p>
        </li>

      </ul>
    </div>



    <div class="l-unit">
      <div class="c-pagenavi">
        <p class="c-pagenavi__title">100件中　11 - 20件表示</p>

        <div class="c-pagenavi__body">
          <a class="c-previouspostslink" rel="prev" href=""></a>
          <span class="is-current">1</span>
          <a href="">2</a>
          <a href="">3</a>
          <a href="">4</a>
          <span class="c-extend">...</span>
          <a href="">10</a>
          <a class="c-nextpostslink" rel="next" href=""></a>
        </div>
      </div>
    </div>
  </div>
  <div class="l-block-secondary">

    <div class="l-unit">
      <div class="c-menu">
        <h3 class="c-menu__title">タグ</h3>

        <ul class="c-menu__list-tag e-list-tag">
          <li><a href="">タグ1</a></li>
          <li><a href="">タグ2</a></li>
          <li><a href="">タグ3</a></li>
          <li><a href="">タグ4</a></li>
          <li><a href="">タグ5</a></li>
          <li><a href="">タグ6</a></li>
        </ul>



      </div>
    </div>

    <div class="l-unit">
      <ul class="e-list-img-vertical">
        <li><a href=""><img src="/assets/img/common/widget.png" alt=""> </a></li>
        <li><a href=""><img src="/assets/img/common/widget.png" alt=""> </a></li>
        <li><a href=""><img src="/assets/img/common/widget.png" alt=""> </a></li>
      </ul>
    </div>
  </div>
</section>

{% endblock %}
