@charset "utf-8";

/* ==========================================================================
   #BLOCKQUOTE
   ========================================================================== */

/*doc
---
title: blockquote
name: blockquote
categories: [elements, blockquote]
---

```html_example

<blockquote class="e-blockquote">
 情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。
</blockquote>

```
*/

.acms-entry blockquote,
.visual-editor blockquote,
.e-blockquote {
  margin: 0; //.acms-entry

  line-height: 1.7;

  position: relative;

  padding: 30px 60px 30px 60px;

  border: 1px solid $dividers-color;

  @include mb-small;

  @include media-sp-max {
    padding: 42px 15px 42px 15px;

  }
  &:before,
  &:after {
    font-family: 'Material Icons';
    font-size: 40px;

    position: absolute;

    display: block;

    width: 40px;
    height: 40px;

    content: 'format_quote';
    white-space: nowrap;
    word-wrap: normal;

    color: $primary-color-light;
  }

  &:before {
    top: 20px;
    left: 10px;

    transform: rotate(-180deg);
    @include media-sp-max {
      left: 6px;
    }

  }

  &:after {
    right: 10px;
    bottom: 20px;
    @include media-sp-max {
      right: 6px;
    }

  }

}