@charset "utf-8";

/* @  Header Layout
 * ------------------------------------------------------------ */

.l-header-cols-pc {

  transition: $animation;
  max-width: $width-pc-max;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 0 $width-gap-pc;
  position: relative;

  @include media-tab-max {
    display: none;
  }

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;


  ._primary {
    width:50%;
    margin-bottom: 20px;
  }

  ._logo {

    a {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;

      @include clearfix;

      &:hover {
        text-decoration: none;
      }
    }

    &__img {
      margin-right: 10px;
    }

    &__lead {
      font-size: 12px;
      display: inline-block;
    }

    &__name {
      font-size: 1.2rem;
      font-weight: 700;
      font-family: "Noto Sans JP", sans-serif;
    }
  }

  ._secondary {
    margin-bottom: 20px;
  }

  ._sub-nav {
    margin-bottom: 10px;
    display: inline-block;

    ul {
      line-height: 1.5;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;

    }

    li {
      margin-left: 10px;
      margin-bottom: 10px;
    }

    li a {
      font-size: 13px;
      color: $text-color;
      i {
        position: relative;
        top: 3px;
        font-size: 16px;
        color: $text-color-sub;
      }
    }

    ._btn {
      i {
        font-size: 22px;
        position: relative;
        top: 6px;
        color: $text-color-sub;
      }

      padding-left: 10px;
      a {
        display: inline-block;
        font-size: 13px;
        text-decoration: none;
        color: $text-color;
        padding: 13px;
        max-width: 100%;
        box-sizing: border-box;
        transition: all $animation;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        position: relative;
        vertical-align: middle;
        background-color: #fff;

        @include elevation(2);
        @include elevation-transition;

        &:hover,
        &:focus,
        &.is-hover {
          text-decoration: none;
          @include elevation(4);
        }

        &:active {
          text-decoration: none;
          @include elevation(8);
        }
      }

    }
  }

  ._search {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

    ._body {
      //いらないかもしれない
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      border-radius: $border-radius-pc;
    }

    ._input {
      width: 100%;
      padding: 8px 15px;
      border: 1px solid $border-color;
      border-radius: $border-radius-pc 0 0 $border-radius-pc;
      box-sizing: border-box;
      min-width: 312px;
    }

    ._btn {
      display: block;
      user-select: none;
      font-weight: normal;
      margin: 0 auto;
      // width: 70px;
      border-radius: 0 $border-radius-pc $border-radius-pc 0;
      font-size: 26px;
      padding-top: 4px;
      border: 0;
      color: $text-color;
      background-color: $brand-secondary;
      -webkit-font-smoothing: antialiased;
      appearance: none;
    }

  }

}

.l-header-nav-pc {

  @include media-tab-max {
    display: none;
  }

  background-color: $brand-primary;
  transition: $animation;

  nav {
    @include clearfix;
    max-width: $width-pc-max;
    margin-left: auto;
    margin-right: auto;
    padding: 0 $width-gap-pc;

    ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      text-align: center;
    }

    li {
      position: relative;
      width: 100%;
      box-sizing: border-box;

      /* IE10以下 */
      width: auto \9;
      text-align: center \9;
      float: left \9;
      /* IE10以下 */

      a {
        white-space: nowrap;
        padding: .84em;
        color: $brand-white;
        font-weight: bold;
        text-decoration: none;
        display: block;
        border-bottom: 3px solid $brand-primary;

        @include media-tab-max {
          font-size: 10px;
        }

      }

      a.stay,
      a.is-active,
      a:hover {
        border-bottom-color: $brand-secondary;

        transition: $animation;
      }

    }
  }

}


