@charset "utf-8";

/* @  Content Layout
 * ------------------------------------------------------------ */

:root {
  //--size: $width-pc-max;
}

@include media-sp-max {
  :root {
    //--size: $width-sp-min;
  }
}

body,
html {
  //min-width: var(--size);
  // min-width: $screen-pc-max + px;

  @include media-sp-max {
    //overflow-x: hidden;
    min-width: $width-sp-min;
  }
}

.l-main {
  min-height: 20vh;
  background-color: $brand-white;
  margin-bottom: 50px;

  @include media-sp-max {
    margin-top: 16px;
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 46px; //breadcrumb-height
  }
}
