@charset "utf-8";

/* ==========================================================================
   #keyword
   ========================================================================== */

/*doc
---
title: keyword-search
name: keyword-search
categories: [components, keyword-search]
---



<h3 class="styleguide">Keyword Search</h3>

```html_example
<div class="c-keyword-search" role="search">
  <div class="c-keyword-search__body">
    <p class="c-keyword-search__title">検索キーワード</p>
    <input type="text" name="#" class="c-keyword-search__input" value="" placeholder="キーワードを入力してください" autocomplete="off" aria-autocomplete="list" role="textbox">
    <button type="submit" class="c-keyword-search__button"><i class="material-icons">search</i></button>
  </div>
  <div class="c-keyword-search__control">
    <p class="c-keyword-search__control-lead">100アイテムが検索キーワードに該当</p>
    <div class="c-keyword-search__control-item">
      <p class="c-keyword-search__control-title">絞り込み</p>
      <select class="c-keyword-search__control-select">
        <option>すべて</option>
        <option>すべて</option>
        <option>すべて</option>
        <option>すべて</option>
      </select>
    </div>
    <div class="c-keyword-search__control-item">
      <p class="c-keyword-search__control-title">ソート</p>
      <select class="c-keyword-search__control-select">
        <option>関連度</option>
        <option>関連度</option>
        <option>関連度</option>
        <option>関連度</option>
      </select>
    </div>
  </div>
</div>
```
*/


/*


*/



.c-keyword-search {
  overflow: hidden;
  background-color: $primary-color-light;
  border-radius: $border-radius-pc;

  padding: 25px 21px 25px 21px;

  @include media-sp-max {
    padding: 12px 16px 16px 16px;
  }

  @include mb-small;

  &__body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include media-sp-max {
      display: block;
    }
  }


  &__title {
    color: $primary-color-dark;
    font-size: 14px;
    font-weight:bold;
    white-space: nowrap;
    margin-right: 20px;

    @include media-sp-max {
      margin-bottom: 10px;
    }
  }


  &__input {
    width: 70%;
    padding: 10px 1.5em 10px 15px;
    border: 0;
    border-radius: $border-radius-pc;
    box-sizing: border-box;
    @include media-sp-max {
      width: 100%;
    }
  }

  &__button {
    user-select: none;
    font-weight: normal;
    margin: 0;
    border: 0;
    position: absolute;
    right: 0;
    bottom: .5em;
    background-color: transparent;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    appearance: none;
  }

  &__control {
    margin-top: 1em;
    font-size: 14px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;

    @include media-sp-max {
      display: block;
    }

  }

  &__control-item {

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;

    &:before {
      text-align: center;
      content: "|";
      color: $disabled-text-color;
      width: 1em;
      padding-right: 1em;
      padding-left: 1em;

      @include media-sp-max {
        display: none;
      }

    }

  }
  &__control-title {
    font-weight: bold;
  }
  &__control-select {
    border: 0;
    margin-left: 10px;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    padding-right: 15px;
    background: transparent url("../img/form/form_icon_select_top.svg") right 0 center no-repeat;
    text-align: left;
    text-indent: .01px;
    text-overflow: "";
    cursor: pointer;
    &::-ms-expand {
      display: none;
    }

    &:focus {
      background-image: url("../img/form/form_icon_select_top.svg");
    }

  }

}

.l-block-widget .c-keyword-search {
  font-size: 14px;
  &__button {
    width: 54px;
  }
}


