@charset "UTF-8";


//lib
//---------------------------------

@import "~bourbon/core/bourbon";

@import "~normalize.css/normalize";
@import "~swiper/dist/css/swiper";


//site setting
//---------------------------------

//border.scss
$border-radius-pc: 3px;

//colors.scss
$brand-primary-light:         #919499;
$brand-primary:               #5b5e63;
$brand-primary-dark:          #4f5156;

$brand-secondary-light:       #d7e8df;
$brand-secondary:             #93e9be;
$brand-secondary-dark:        #77C399;

$bg-color:                    #f2f3f5;

$border-color:                #ddd;

$text-color:                  rgba(0, 0, 0, .87);
$text-color-sub:              rgba(0, 0, 0, .54);
$text-color-week:             rgba(0, 0, 0, .38);

$text-color-dark:             rgba(255, 255, 255, 1);
$text-color-dark-sub:         rgba(255, 255, 255, .7);
$text-color-dark-week:        rgba(255, 255, 255, .3);

$brand-link:                  #477DCA;
$brand-link-visited:          #3A5898;
$brand-link-hover:            #3A5898;

//fonts.scss
$fsize-sp:    14px;
$fsize-tab:   16px;
$fsize-pc:    16px;

$line-height-sp:    1.6;
$line-height-tab:   1.8;
$line-height-pc:    1.8;

$fsize-h1-sp: 20px;
$fsize-h2-sp: 18px;
$fsize-h3-sp: 16px;
$fsize-h4-sp: 14px;
$fsize-h5-sp: 14px;
$fsize-h6-sp: 14px;

$fsize-h1-pc: 26px;
$fsize-h2-pc: 22px;
$fsize-h3-pc: 18px;
$fsize-h4-pc: 16px;
$fsize-h5-pc: 16px;
$fsize-h6-pc: 14px;

$heading-line-height-sp:    1.4;
$heading-line-height-tab:   1.4;
$heading-line-height-pc:    1.4;



//margin.scss
$margin-xs-sp:      10px;
$margin-small-sp:   16px;
$margin-medium-sp:  16px;
$margin-large-sp:   16px;

$margin-xs-tab:     10px;
$margin-small-tab:  16px;
$margin-medium-tab: 24px;
$margin-large-tab:  36px;

$margin-xs-pc:      10px;
$margin-small-pc:   16px;
$margin-medium-pc:  24px;
$margin-large-pc:   36px;

//width.scss
//レスポシブ基準幅
$screen-sp:            600;
$screen-tab:           960;
$screen-pc:            1200;
$screen-min:           320;
$screen-max:           1600;

//カラムレイアウトの幅
$screen-main-wide-colum:   840;
$screen-main-colum:        840;
$screen-sub-colum:         280;

//左右余白
$screen-gap-sp:    16;
$screen-gap-tab:   16;
$screen-gap-pc:    16;



//import
//---------------------------------
@import "@variables/all";
@import "@core/all";
@import "layouts/all";
@import "elements/all";
@import "components/all";
@import "@utilities/all";


@import "sg-style";

