@charset "utf-8";

/* ==========================================================================
   #Tppesetting
   ========================================================================== */

/* 枠
   ========================================================================== */

.entry,
.visual-editor {
  word-break: break-all;
  @include clearfix;
  @include mb-medium;
}

/*doc
---
title: typesetting
name: typesetting
categories: [elements, typesetting]
---



```html_example

<p class="e-text">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。とかくに人の世は住みにくい。 </p>
<p class="e-text-catchcopy">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。とかくに人の世は住みにくい。 </p>


<p class="e-text">
<span class="is-text-sub">情に棹させば流される。</span><br>
<span class="is-text-week">智に働けば角が立つ。</span><br>
<span class="is-text-point">どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。</span><br>
<span class="is-text-arrow">とかくに人の世は住みにくい。</span><br>
<span class="is-text-bold">意地を通せば窮屈だ。</span><br>
<span class="is-text-strike">とかくに人の世は住みにくい。 </span></p>


```

*/


.visual-editor p,
.e-text {
  @include mb-small;
}

.visual-editor strong > strong,
.e-text-catchcopy {
  font-weight: bold;
  @include fsize(16px, false, 16px);
  @include mb-small;
}




// helper

/*doc
---

title: tool-text
name: tool-text
categories: [utilities, tool-text]

---

<div class="styleguide-table"></div>
Class                                                                      | Description
-----------------------------------------------------------------------    | ------------
`is-text-sub`            |                        |
`is-text-week`           |                        |
`is-text-point`          |                        |
`is-text-arrow`          |                        |
`is-text-link`           |                        |
`is-text-bold`           |                        |
`is-text-strike`         |                        |
`is-text-indent`         |                        |
`is-text-underline`      |                        |
`is-text-bdb`            |                        |
`is-text-left`            |                        |
`is-text-right`            |                        |
`is-text-center`            |                        |
`is-text-justify`            |                        |

*/


.is-text-left {
  text-align: left;
}
.is-text-right {
  text-align: right;
}
.is-text-center {
  text-align: center;
}
.is-text-justify {
  text-align: justify;
}

.is-text-sub {
  color: $text-color-sub;
  font-size: .8rem;
}

.is-text-week {
  color: $text-color-week;
  font-size: .8rem;
}


.visual-editor a,
a.is-text-link {

  &:link {
    color: $brand-link;
    //text-decoration: none;
    transition: $animation;
  }

  &:hover,
  &:focus,
  &:visited {
    transition: $animation;
    color: $brand-link-hover;
    // text-decoration: none;
  }

  &:hover {
    // text-decoration: underline;
  }

  &:visited {
    color: $brand-link-visited;
  }
}


.is-text-arrow {
  &:before {
    color: $brand-primary;
    @include material-icons;
    vertical-align: middle;
    content: "navigate_next";
    white-space: nowrap;
    font-size: 1.2rem;
  }

  &:hover:before {
    text-decoration: none;
  }
}

.is-text-point {
  display: inline;
  //background: linear-gradient(transparent 70%, $brand-yellow 70%, $brand-yellow 90%, transparent 90%);
  background: linear-gradient(transparent 50%, #ffffa6 50%, #ffffa6 100%);
  padding-bottom: .1em;
  padding-right: .5em;

  @include media-sp-max {
    padding-right: 0;
  }
}

.is-text-bold {
  font-weight: bold;
}

.is-text-strike {
  text-decoration: line-through;
}


.is-text-indent {
  text-indent: 1em;
}

.is-text-underline {
  text-decoration: underline;
}
.is-text-bdb {
  border-bottom: 1px solid $brand-primary;
}