@charset "utf-8";

/* ==========================================================================
   #media
   ========================================================================== */


/*doc
---
title: media
name: media
categories: [elements, media]
---

<h3 class="styleguide">Default</h3>



```html_example

<div class="e-media">
  <div class="e-media__img"><img src="/assets/img/common/media.png" alt=""></div>
  <div class="e-media__body">
    <p class="e-media__title">情に棹させば流される智に働けば角が立つ</p>
    <p class="e-media__text">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。</p>
  </div>
</div>

```


*/


.e-media {
  @include mb-small;

  > a {
    display: block;
    overflow: hidden;
    color: inherit;
  }

  @include clearfix;
  color: inherit;
  display: block;

  &__img {

    + .e-media__img {
      margin-bottom: 10px;
    }

    margin-right: 16px;
    float: left;
    width: 110px;

    //overflow: hidden;
    //position: relative;


    @include media-sp-max {
      width: 80px;
    }

    img {
      //position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
    }
  }

  &__body {
    overflow: hidden;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  &__label {
    margin-bottom: 3px;
    width: 100%;
    display: inline-block;
  }
  &__title {
    @include fsize-h3;
    font-weight: bold;
    margin-bottom: 12px;
    line-height: 1.4;
    margin-top:-.2em;


    @include media-sp-max {
      margin-bottom: 10px;
    }

  }

  &__text {
    font-size: 14px;

    + .e-media__text {
      margin-top: $margin-small-pc;

      @include media-sp-max {
        margin-top: $margin-small-sp;
      }
    }
  }

}
