@charset "utf-8";

/* ==========================================================================
   #BOX
   ========================================================================== */

/*doc
---
title: box
name: box
categories: [elements, box]
---

```html_example

<div class="e-box">
  <p>情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。とかくに人の世は住みにくい。</p>
</div>

```


```html_example

<div class="e-box e-box--error">
    <p>ボックス（error）<br>このように、選択した部分に背景色と枠線のスタイルがつきます。</p>
</div>

<div class="e-box e-box--warning">
    <p>ボックス（warning）<br>このように、選択した部分に背景色と枠線のスタイルがつきます。</p>
</div>


<div class="e-box e-box--info">
    <p>ボックス（info）<br>このように、選択した部分に背景色と枠線のスタイルがつきます。</p>
</div>


<div class="e-box e-box--success">
    <p>ボックス（success）<br>このように、選択した部分に背景色と枠線のスタイルがつきます。</p>
</div>


<div class="e-box e-box--bg">
    <p>ボックス（$bg-color）<br>このように、選択した部分に背景色と枠線のスタイルがつきます。</p>
</div>


```

*/

.visual-editor .e-box h1,
.visual-editor .e-box h2,
.visual-editor .e-box h3,
.visual-editor .e-box h4,
.visual-editor .e-box h5,
.visual-editor .e-box h6 {
  margin-top: 0;
  margin-bottom: .2rem;
}

.e-box {
  display: block;
  background: #fff;
  border: solid 1px $border-color;
  @include mb-small;

  &__title {
    font-weight: bold;
  }

  padding: 1rem 1.5rem;

  @include media-sp-max {
    padding: 1rem;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.e-box--bg {
  background-color: $bg-color;
  border-color: $bg-color;
}

.e-box--error {
  background-color: $error-bg;
  border-color: $error-border;
}

.e-box--warning {
  background-color: $warning-bg;
  border-color: $warning-bg;

}

.e-box--info {
  background-color: $info-bg;
  border-color: $info-bg;
}

.e-box--success {
  background-color: $success-bg;
  border-color: $success-bg;
}

