<!DOCTYPE html>
<html lang="ja" id="sg-html" class="sg-html" data-html>
<head>
  <meta charset="utf-8">
  <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1">
  <title>Japan Web Production Standards</title>

  <meta name="HandheldFriendly" content="true">
  <meta name="MobileOptimized" content="320">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="email=no">
  <link rel="stylesheet" href="/assets/css/base.css" media="all">
  <script src="/assets/js/index.js"></script>
</head>

<body class="sg-body">

<header class="sg-header">
  <div class="sg-header__inner">
    <h1>Japan Web Production Standards</h1>
    <nav class="sg-header__nav">
	  <a href="index.html">Top</a>
      <a href="started.html">Started</a>
      <a href="variables.html">variables</a>
      <a href="mixins.html">mixins</a>
      <a href="layouts.html">layouts</a>
	   <a href="richeditor.html">richeditor</a>
      <a href="elements.html">elements</a>
      <a href="components.html">components</a>
	  <a href="js.html">JS<span style="font-size:10px"> - components</span></a>
      <a href="utilities.html">utilities</a>
	  <a href="snippets.html">snippets</a>
    </nav>
  </div>
   
</header>


<div class="sg-container">
	 <h2 class="sg-heading2"><% if title == 'index' %>このサイトについて<% else %><%= title %><% end %></h2>
	<div class="sg-widget-head">
	 <ul class="e-list-inline">
       <% @blocks.each do |block| %>
         <% if !block[:parent]%>
          <li><a href="#<%= block[:name] %>"><%= block[:title] %></a></li>
         <% end %>
       <% end %>
     </ul>
 	</div>
 <div class="sg-content-block">
<% if @blocks[0][:categories].include?('richEditorWrap') %>	

<% end %>
     
	 	 
     
	 
	 
	 
	 
	 
	 
	 