@charset "utf-8";

// base-margin
// -------------------------

$margin-xs-sp:     10px !default;
$margin-small-sp:  16px !default;
$margin-medium-sp: 16px !default;
$margin-large-sp:  16px !default;

$margin-xs-tab:    10px !default;
$margin-small-tab: 16px !default;
$margin-medium-tab:30px !default;
$margin-large-tab: 36px !default;

$margin-xs-pc:     10px !default;
$margin-small-pc:  16px !default;
$margin-medium-pc: 30px !default;
$margin-large-pc:  36px !default;


/*doc
---
title: margin
name: margin
category: variables
---


```

```

*/