@charset "utf-8";

//トランジション
//https://github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/addons/_timing-functions.scss

$animation: 280ms cubic-bezier(.4, 0, .2, 1);



$tint-value: 40% !default;
$shade-value: 6% !default;
//background: tint(red, 40%);
//background: shade(blue, 60%);


/*doc
---
title: utilities
name: utilities
category: variables
---


```

```

*/
