{% extends "_layout/_base.njk" %}

{% set page_title = "" %}
{% set page_url = "" %}
{% set page_description = "" %}
{% set page_keywords = "" %}

{% block main %}

<div class="c-breadcrumb" role="navigation" aria-label="現在地表示">
  <div class="c-breadcrumb__inner">
    <span><a href="/">ホーム</a></span>
    <span>お問い合わせ</span>
  </div>
</div>
<section class="l-container">
  <div class="l-block">

    <div class="e-heading-group">
      <h1 class="e-heading1">お問い合わせ</h1>
    </div>

    <div class="l-unit">
      <p class="e-heading-copy">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
    </div>


    <div class="l-unit">
      <table class="e-form-table">


        <tr>
          <th>お名前</th>
          <td>
            <p>田村 章吾</p>
          </td>
        </tr>

        <tr>
          <th>会社名
          </th>
          <td>
            <p>株式会社ワクグミ</p>

          </td>
        </tr>

        <tr>
          <th>郵便番号</th>
          <td>
            <p>802-0001</p>
          </td>
        </tr>


        <tr>
          <th>都道府県 </th>
          <td>
            <p>福岡県</p>
          </td>
        </tr>

        <tr>
          <th>市区町村・番地</th>
          <td>
            <p>北九州市小倉北区浅野3丁目8番1号 AIMビル6階</p>
          </td>
        </tr>

        <tr>
          <th>電話番号</th>
          <td>
            <p>000-000-0000</p>
          </td>
        </tr>


        <tr>
          <th>性別</th>
          <td>
            <p>男性</p>
          </td>
        </tr>



        <tr>
          <th>よく使う検索エンジン</th>
          <td>
            <p>Google</p>
          </td>
        </tr>


        <tr>
          <th>ご用件 </th>
          <td>
            <p>サービスについて</p>
          </td>
        </tr>

        <tr>
          <th>お問い合わせの内容</th>
          <td>
            <p>テキストが入ります。テキストが入ります。テキストが入ります。<br>
              テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br>
              テキストが入ります。テキストが入ります。テキストが入ります。</p>
          </td>
        </tr>
      </table>

      <form>
        <div class="e-button-group">
          <button type="submit" class="e-button e-button--accent  e-button--large">この内容で送信する</button>
        </div>
      </form>

      <div class="e-button-group">
        <button type="submit" class="e-button ">戻る</button>
      </div>


    </div>

  </div>
</section>

{% endblock %}





