@charset "utf-8";

/* Anchor Nav
   ========================================================================== */

/*doc
---
title: anchor-nav
name: anchor-nav
categories: [js, anchor-nav]
---

```html_example
<div class="c-anchor-nav">
  <div class="c-anchor-nav__body">
    <p class="c-anchor-nav__title">コンテンツ</p>
    <ul data-scroll>
      <li><a href="#accordion">accordion</a></li>
      <li><a href="#calendar">calendar</a></li>
    </ul>
  </div>
</div>
```

*/

.visual-editor .c-anchor-nav,
.c-anchor-nav {
  border: 1px solid $dividers-color;
  @include mb-small;

  &__body {
    padding: 1.6rem 1.6rem 1.2rem;
    position: relative;
  }
  &__title {
    color: $secondary-text-color;
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: -5px;
    margin-bottom: 10px;
    line-height: 1;
  }

  ul {
    margin-left: 0;
    margin-bottom: 0;
  }

  li {
    list-style: none;
    margin-bottom: .4em;
    &:last-child {
      margin-bottom: 0;
    }

    a {
      text-indent: -.6em;
      padding-left: 1em;
      display: inline-block;

      overflow: hidden;
      &:before {
        display: inline-block;
        width: 5px;
        height: 5px;
        transform: rotate(225deg);
        border-top: 1px solid $secondary-text-color;
        border-left: 1px solid $secondary-text-color;
        content: "";
        vertical-align: middle;
        position: relative;
        top: -2px;
        margin-right: 7px;
      }

    }

  }
}