@charset "utf-8";

/* ==========================================================================
   #HEADING
   ========================================================================== */

/* 見出し1
   ========================================================================== */

/*doc
---
title: heading
name: heading
categories: [elements, heading]
---

```html_example
<h1 class="e-hdg1">情に棹させば流される智に働けば角が立つ</h1>
<h2 class="e-hdg2">情に棹させば流される智に働けば角が立つ</h2>
<h3 class="e-hdg3">情に棹させば流される智に働けば角が立つ</h3>
<h4 class="e-hdg4">情に棹させば流される智に働けば角が立つ</h4>
<h5 class="e-hdg5">情に棹させば流される智に働けば角が立つ</h5>
<h6 class="e-hdg6">情に棹させば流される智に働けば角が立つ</h6>

```

*/

.rich-editor h1,
.rich-editor h2,
.rich-editor h3,
.rich-editor h4,
.rich-editor h5,
.rich-editor h6,
.e-hdg1,
.e-hdg2,
.e-hdg3,
.e-hdg4,
.e-hdg5,
.e-hdg6 {
  margin-bottom: $fsize-mb-pc;
  font-weight: bold;
  overflow: hidden;
  line-height: $heading-line-height-pc;

  .l-block-primary & {
    // width: ($screen-main-colum / $screen-pc-max) * 100%;
  }
}

.rich-editor h2:not(:first-child),
.rich-editor h3:not(:first-child),
.rich-editor h4:not(:first-child),
.rich-editor h5:not(:first-child),
.rich-editor h6:not(:first-child) {
  margin-top: 2.6rem;

  @include media-sp-max {
    margin-top: 0;
  }
}

//連続するタイトルは狭める
.rich-editor h1 + h2,
.rich-editor h2 + h2,
.rich-editor h2 + h3,
.rich-editor h3 + h3,
.rich-editor h3 + h4,
.rich-editor h4 + h4,
.rich-editor h4 + h5,
.rich-editor h5 + h5,
.rich-editor h5 + h6,
.rich-editor h6 + h6 {
  margin-top: 0 !important;
}

.rich-editor h1,
.e-hdg1 {
  @include fsize($fsize-h1-pc, false, $fsize-h1-sp);
}

.rich-editor h1,
.e-hdg1--type2 {

  position: relative;
  //border-bottom: 1px solid $border-color;
  padding-bottom: 1rem;
  margin-bottom: 2.5rem;

  @include media-sp-max {
    margin-bottom: 1.4rem;
  }

  &:before {
    padding-top: 1.375rem;
    display: block;
    content: "";

    @include media-sp-max {
      padding-top: 1.15rem;
    }
  }

  &:after {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
   // background: linear-gradient(to right, $brand-secondary 35%, $brand-primary 35%);
    background: linear-gradient(to right, $brand-primary 35%, $brand-primary 35%);
    display: block;
    height: 3px;
    content: "";
  }

  @include media-sp-max {
    margin-right: -$width-gap-sp;
    margin-left: -$width-gap-sp;
    padding-left: $width-gap-sp;
    padding-right: $width-gap-sp;
  }

}

.rich-editor h2,
.e-hdg2 {
  @include fsize($fsize-h2-pc, false, $fsize-h2-sp);

}

.rich-editor h2,
.e-hdg2--type2 {
  color: #fff;
  background-color: $brand-primary-light;
  padding: .7rem 1.2rem .6rem;

  margin-bottom: 1.9rem;

  @include media-sp-max {
    margin-bottom: 1.4rem;

  }
}

.rich-editor h3,
.e-hdg3,
.e-hdg3--type2 {
  @include fsize($fsize-h3-pc, false, $fsize-h3-sp);
}

.rich-editor h3,
.e-hdg3--type2 {
//  border-left: 5px solid $brand-secondary;
  border-left: 5px solid $brand-primary;
  border-bottom: 1px solid #757575;
  padding-bottom: .6em;
  padding-left: .9em;
  padding-top: .5em;
  @include mb-small;

  @include media-sp-max {
    padding-bottom: .8em;
    padding-left: 1.1em;
    padding-top: .7em;
  }
}

.rich-editor h4,
.e-hdg4,
.e-hdg4--type2 {
  @include fsize($fsize-h4-pc, false, $fsize-h4-sp);
}

.rich-editor h4,
.e-hdg4--type2 {

  border-left: 3px solid $brand-primary;
  padding-left: 1rem;
  padding-top: .1em;
  padding-bottom: .1em;
  margin-bottom: .8rem;
}

.rich-editor h5,
.e-hdg5 {
  @include fsize($fsize-h5-pc, false, $fsize-h5-sp);
}

.rich-editor h6,
.e-hdg6 {
  @include fsize($fsize-h6-pc, false, $fsize-h6-sp);
}

/*doc
---
title: heading-type
name: heading-type
categories: [elements, heading]
parent: heading
---

```html_example
<h1 class="e-hdg1 e-hdg1--type2"><span>情に棹させば流される智に働けば角が立つ</span></h1>
<h2 class="e-hdg2 e-hdg2--type2">情に棹させば流される智に働けば角が立つ</h2>
<h3 class="e-hdg3 e-hdg3--type2">情に棹させば流される智に働けば角が立つ</h3>
<h4 class="e-hdg4 e-hdg4--type2">情に棹させば流される智に働けば角が立つ</h4>
<h5 class="e-hdg5 e-hdg--brand">情に棹させば流される智に働けば角が立つ</h5>
<h6 class="e-hdg6 e-hdg--bd">情に棹させば流される智に働けば角が立つ</h6>

```

*/

.e-hdg--brand {
  color: $brand-primary;
}

.e-hdg--bd {
  border-bottom: 1px solid $brand-primary;
}

/*doc
---
title: heading-unit
name: heading-unit
categories: [elements, heading]
parent: heading
---

```html_example


<div class="e-hdg-unit">
  <h3 class="e-hdg3">情に棹させば流される智に働けば角が立つ</h3>
  <p class="is-text-week"> 6月12日  12:49</p>
</div>


<div class="e-hdg-unit">
  <h2 class="e-hdg2">情に棹させば流される智に働けば角が立つ</h2>
  <p class="e-hdg-unit__to-list"><a href="">一覧</a></p>
</div>


```
*/

.e-hdg-unit {
  position: relative;
  padding-right: 4em;
  @include mb-small;

  h1:not(.hd--bd),
  h2:not(.hd--bd),
  h3:not(.hd--bd),
  h4:not(.hd--bd),
  h5:not(.hd--bd),
  h6:not(.hd--bd) {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__to-list {
    position: absolute;
    right: 0;
    top: 0;
    a {
      border-radius: $border-radius-pc;
      background-color: #eef0f4;
      padding: .3em .7em;
      display: inline-block;
      color: $text-color;
      @include fsize(14px);
      @include elevation(2);
      @include elevation-transition;

      &:hover {
        text-decoration: none;
        @include elevation(4);
      }
      &:active {
        text-decoration: none;
        @include elevation(8);
      }

    }

  }

}


