@charset "utf-8";

/* ==========================================================================
   #HEADING
   ========================================================================== */

/* 見出し1
   ========================================================================== */

/*doc
---
title: heading
name: heading
categories: [elements, heading]
---

```html_example
<h1 class="e-hd1">情に棹させば流される智に働けば角が立つ</h1>
<h2 class="e-hd2">情に棹させば流される智に働けば角が立つ</h2>
<h3 class="e-hd3">情に棹させば流される智に働けば角が立つ</h3>
<h4 class="e-hd4">情に棹させば流される智に働けば角が立つ</h4>
<h5 class="e-hd5">情に棹させば流される智に働けば角が立つ</h5>
<h6 class="e-hd6">情に棹させば流される智に働けば角が立つ</h6>

```

*/

.visual-editor h1,
.e-hd1 {
  @include fsize-h1;
  margin-bottom: 1rem;
  font-weight: bold;
  overflow: hidden;
  line-height: 1.4;
}

.visual-editor h1,
.e-hd1--type2 {
  position: relative;
  font-weight: bold;
  color: $brand-primary;

  @include media-sp-max {
    text-align: center;
  }
}



.visual-editor h2,
.e-hd2 {
  @include fsize-h2;
  margin-bottom: 1rem;
  font-weight: bold;
  overflow: hidden;
  line-height: 1.4;
}

.visual-editor h2,
.e-hd2--type2 {
  border-left: 3px solid $brand-primary;
  background-color: $bg-color;
  padding: 1rem 1.5rem .9rem;
  font-size: 18px;
  @include media-sp-max {
    padding: .7rem 1.2rem .6rem;
    font-size: 15px;
  }
}


.visual-editor h3,
.e-hd3 {
  @include fsize-h3;
  margin-bottom: 1rem;
  font-weight: bold;
  overflow: hidden;
  line-height: 1.4;
}

.visual-editor h4,
.e-hd4 {
  @include fsize-h4;
  margin-bottom: 1rem;
  font-weight: bold;
  overflow: hidden;
  line-height: 1.4;
}

.visual-editor h5,
.e-hd5 {
  @include fsize-h5;
  margin-bottom: 1rem;
  font-weight: bold;
  overflow: hidden;
  line-height: 1.4;

}

.visual-editor h6,
.e-hd6 {
  @include fsize-h6;
  margin-bottom: 1rem;
  font-weight: bold;
  overflow: hidden;
  line-height: 1.4;
}

/*doc
---
title: heading-type
name: heading-type
categories: [elements, heading]
parent: heading
---

```html_example
<h1 class="e-hd1 e-hd1--type2"><span>情に棹させば流される智に働けば角が立つ</span></h1>
<h2 class="e-hd2 e-hd2--type2">情に棹させば流される智に働けば角が立つ</h2>
<h3 class="e-hd3 is-color-blue">情に棹させば流される智に働けば角が立つ</h3>
<h4 class="e-hd4 is-text-center">情に棹させば流される智に働けば角が立つ</h4>
<h5 class="e-hd5 is-bdb">情に棹させば流される智に働けば角が立つ</h5>
<h6 class="e-hd6">情に棹させば流される智に働けば角が立つ</h6>

```

*/



/*doc
---
title: heading-unit
name: heading-unit
categories: [elements, heading]
parent: heading
---

```html_example


<div class="e-hd-group">
  <h3 class="e-hd3">情に棹させば流される智に働けば角が立つ</h3>
  <p class="e-hd-date"> 6月12日  12:49</p>
</div>



```
*/


.e-hd-date {
  @include mb-small;
  color: $text-color-sub;
  font-size: .8em;
  a {
    color: $brand-link;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.e-hd-group {
  @include mb-large;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: .5em;
  }
}