{% extends "_layout/_base.njk" %}

{% set page_title = "" %}
{% set page_url = "" %}
{% set page_description = "" %}
{% set page_keywords = "" %}

{% block main %}

<div class="c-breadcrumb" role="navigation" aria-label="現在地表示">
  <div class="c-breadcrumb__inner">
    <span><a href="/">ホーム</a></span>
    <span>よくある質問</span>
  </div>
</div>
<section class="l-container">
  <div class="l-block">

    <div class="e-heading-group">
      <h1 class="e-heading1">よくある質問</h1>
    </div>
    <div class="l-unit">


      <div class="c-accordion c-accordion--faq is-active" data-accordion>
        <button type="button" class="c-accordion__title" aria-controls="accordion1" aria-expanded="false" aria-label="閉じる" data-toggle-accordion>見出し</button>
        <div id="accordion1" class="c-accordion__body" aria-hidden="false" data-body-accordion>
          <p>木曾路はすべて山の中である。あるところは岨づたいに行く崖の道であり、あるところは数十間の深さに臨む木曾川の岸であり、あるところは山の尾をめぐる谷の入り口である。一筋の街道はこの深い森林地帯を貫いていた。</p>
        </div>
      </div>



      <div class="c-accordion c-accordion--faq" data-accordion>
        <button type="button" class="c-accordion__title" aria-controls="accordion2" aria-expanded="true" aria-label="開く" data-toggle-accordion> 見出し</button>
        <div id="accordion2" class="c-accordion__body" aria-hidden="true" data-body-accordion>
          <p>木曾路はすべて山の中である。あるところは岨づたいに行く崖の道であり、あるところは数十間の深さに臨む木曾川の岸であり、あるところは山の尾をめぐる谷の入り口である。一筋の街道はこの深い森林地帯を貫いていた。</p>
        </div>
      </div>

      <div class="c-accordion c-accordion--faq" data-accordion>
        <button type="button" class="c-accordion__title" aria-controls="accordion3" aria-expanded="true" aria-label="開く" data-toggle-accordion> 見出し</button>
        <div id="accordion3" class="c-accordion__body" aria-hidden="true" data-body-accordion>
          <p>木曾路はすべて山の中である。あるところは岨づたいに行く崖の道であり、あるところは数十間の深さに臨む木曾川の岸であり、あるところは山の尾をめぐる谷の入り口である。一筋の街道はこの深い森林地帯を貫いていた。</p>
        </div>
      </div>

      <div class="c-accordion c-accordion--faq" data-accordion>
        <button type="button" class="c-accordion__title" aria-controls="accordion4" aria-expanded="true" aria-label="開く" data-toggle-accordion> 見出し</button>
        <div id="accordion4" class="c-accordion__body" aria-hidden="true" data-body-accordion>
          <p>木曾路はすべて山の中である。あるところは岨づたいに行く崖の道であり、あるところは数十間の深さに臨む木曾川の岸であり、あるところは山の尾をめぐる谷の入り口である。一筋の街道はこの深い森林地帯を貫いていた。</p>
        </div>
      </div>



    </div>
  </div>
</section>

{% endblock %}





