@charset "utf-8";

/* @ l-block-content
 * ------------------------------------------------------------ */


.l-block-content {
  width: ($screen-main-wide-colum / $screen-pc-max) * 100%;
  max-width: $screen-main-wide-colum + px;
  margin-left: auto;
  margin-right: auto;

  @include media-tab-max {
    width: 100%;
  }

  @include media-sp-max {
    width: 100%;
  }
}

.l-block-content-full {
  width: 100%;
}
