@charset "utf-8";

/* ==========================================================================
   #12 Column Grid System
   ========================================================================== */

/*doc
---
title: grid-12column
name: grid-12column
categories: [layouts, grid-12column]
---

```html_example


<div class="l-cols">
  <div class="l-col12 dummy-box">1/1<br>12 column</div>
</div>
<div class="l-cols">
  <div class="l-col6 is-offset3 dummy-box">1/2<br>6 column, offset3 </div>
</div>

<div class="l-cols l-cols--break">
  <div class="l-col3 dummy-box">1/2<br>3 column</div>
  <div class="l-col3 is-offset6 dummy-box">1/2<br>3 column, offset6 </div>
</div>

<div class="l-cols">
  <div class="l-col6 dummy-box">1/2<br>6 column</div>
  <div class="l-col6 dummy-box">1/2<br>6 column</div>
</div>
<div class="l-cols l-cols--break">
  <div class="l-col4 dummy-box">1/3<br>4 column</div>
  <div class="l-col4 dummy-box">1/3<br>4 column</div>
  <div class="l-col4 dummy-box">1/3<br>4 column</div>
</div>
<div class="l-cols">
  <div class="l-col3 dummy-box">1/4<br>3 column</div>
  <div class="l-col3 dummy-box">1/4<br>3 column</div>
  <div class="l-col3 dummy-box">1/4<br>3 column</div>
  <div class="l-col3 dummy-box">1/4<br>3 column</div>
</div>
<div class="l-cols">
  <div class="l-col2 dummy-box">1/6<br>2 column</div>
  <div class="l-col2 dummy-box">1/6<br>2 column</div>
  <div class="l-col2 dummy-box">1/6<br>2 column</div>
  <div class="l-col2 dummy-box">1/6<br>2 column</div>
  <div class="l-col2 dummy-box">1/6<br>2 column</div>
  <div class="l-col2 dummy-box">1/6<br>2 column</div>
</div>
<div class="l-cols">
  <div class="l-col1 dummy-box">1/12<br>1 column</div>
  <div class="l-col1 dummy-box">1/12<br>1 column</div>
  <div class="l-col1 dummy-box">1/12<br>1 column</div>
  <div class="l-col1 dummy-box">1/12<br>1 column</div>
  <div class="l-col1 dummy-box">1/12<br>1 column</div>
  <div class="l-col1 dummy-box">1/12<br>1 column</div>
  <div class="l-col1 dummy-box">1/12<br>1 column</div>
  <div class="l-col1 dummy-box">1/12<br>1 column</div>
  <div class="l-col1 dummy-box">1/12<br>1 column</div>
  <div class="l-col1 dummy-box">1/12<br>1 column</div>
  <div class="l-col1 dummy-box">1/12<br>1 column</div>
  <div class="l-col1 dummy-box">1/12<br>1 column</div>
</div>
```

*/

//グリッドの数
$grid-num: 12 !default;

//all
$col-width: $screen-main-wide-colum !default;
$col-gap: 12 !default; //グリッドのガター

//primary
$primary-col-width: $screen-main-colum !default;
$primary-col-gap: 12 !default;//グリッドのガター

//sp
$sp-col-width: $screen-min !default;
$sp-col-gap: 8 !default;//グリッドのガター



//all
$col-columns-auto: ($col-width / $grid-num) - (2 * $col-gap) !default;
$col-grid-auto: ($col-gap * ($grid-num * 2)) + ($col-columns-auto * $grid-num) !default;
$col-bottom: $col-gap * .16% !default;

//primary
$primary-col-columns-auto: ($primary-col-width / $grid-num) - (2 * $primary-col-gap) !default;
$primary-col-grid-auto: ($primary-col-gap * ($grid-num * 2)) + ($primary-col-columns-auto * $grid-num) !default;
$primary-col-bottom: $primary-col-gap * .22% !default;

//sp
$sp-col-columns-auto: ($sp-col-width / $grid-num) - (2 * $sp-col-gap) !default;
$sp-col-grid-auto: ($sp-col-gap * ($grid-num * 2)) + ($sp-col-columns-auto * $grid-num) !default;
$sp-col-bottom: $sp-col-gap * .6% !default;



.l-block-primary .l-cols,
.l-cols {
  @include clearfix;

  margin-right: - (percentage($col-gap / $col-grid-auto));
  margin-left: - (percentage($col-gap / $col-grid-auto));

  @include media-sp-max {
    margin-right: - (percentage($sp-col-gap / $sp-col-grid-auto));
    margin-left: - (percentage($sp-col-gap / $sp-col-grid-auto));
  }

  > .l-col1,
  > .l-col2,
  > .l-col3,
  > .l-col4,
  > .l-col5,
  > .l-col6,
  > .l-col7,
  > .l-col8,
  > .l-col9,
  > .l-col10,
  > .l-col11,
  > .l-col12 {
    float: left;
    box-sizing: border-box;
    max-width: 100%;
    min-height: 1px;

    margin-right: percentage($col-gap / $col-grid-auto);
    margin-left: percentage($col-gap / $col-grid-auto);
    margin-bottom: $col-bottom;


    @include media-sp-max {
      margin-right: percentage($sp-col-gap / $sp-col-grid-auto);
      margin-left: percentage($sp-col-gap / $sp-col-grid-auto);
      margin-bottom: $sp-col-bottom;
    }


    > *:last-child {
      margin-bottom: 0 !important;
    }
  }
}

.l-block-primary .l-cols {
  margin-right: - (percentage($primary-col-gap / $primary-col-grid-auto));
  margin-left: - (percentage($primary-col-gap / $primary-col-grid-auto));
  > .l-col1, > .l-col2, > .l-col3, > .l-col4, > .l-col5, > .l-col6, > .l-col7, > .l-col8, > .l-col9, > .l-col10, > .l-col11, > .l-col12 {
    margin-right: percentage($primary-col-gap / $primary-col-grid-auto);
    margin-left: percentage($primary-col-gap / $primary-col-grid-auto);
    margin-bottom: $primary-col-bottom;
  }
}

@for $i from 1 through 12 {
  $this-grid: $i;
  $this-width: ((($col-columns-auto * $this-grid) + ($col-gap * ($this-grid - 1)) + ($col-gap * ($this-grid - 1))) / $col-grid-auto * 100%);
  $primary-this-width: ((($primary-col-columns-auto * $this-grid) + ($primary-col-gap * ($this-grid - 1)) + ($primary-col-gap * ($this-grid - 1))) / $primary-col-grid-auto * 100%);
  $sp-this-width: ((($sp-col-columns-auto * $this-grid) + ($sp-col-gap * ($this-grid - 1)) + ($sp-col-gap * ($this-grid - 1))) / $sp-col-grid-auto * 100%);

  .l-cols {
    > .l-col#{$i} {
      width: $this-width;
    }
    > .is-offset#{$i} {
      margin-left: $this-width + (percentage($col-gap / $col-grid-auto) * 3);
    }
  }

  .l-block-primary .l-cols {
    > .l-col#{$i} {
      width: $primary-this-width;
    }
    > .is-offset#{$i} {
      margin-left: $primary-this-width + (percentage($primary-col-gap / $primary-col-grid-auto) * 3);
    }
  }

  @include media-sp-max {
    .l-block-primary .l-cols,
    .l-cols {

      > .l-col#{$i} {
        width: $sp-this-width;
      }
      > .is-offset#{$i} {
        margin-left: $sp-this-width + (percentage($sp-col-gap / $sp-col-grid-auto) * 3);
      }
    }
  }

}

@include media-sp-max {
  .l-block-primary .l-cols--break,
  .l-cols--break {

    margin-right: 0;
    margin-left: 0;

    > .l-col1,
    > .l-col2,
    > .l-col3,
    > .l-col4,
    > .l-col5,
    > .l-col6,
    > .l-col7,
    > .l-col8,
    > .l-col9,
    > .l-col10,
    > .l-col11,
    > .l-col12 {
      float: none;
      clear: both;
      width: auto;
      margin-right: 0;
      margin-left: 0;
      @include clearfix;

      margin-bottom: $sp-col-bottom;

    }

    margin-bottom: 0 !important;

  }
}

