<div class="codeExample">
  <div class="exampleOutput">
    <%= rendered_example %>
  </div>

  <div class="c-accordion" data-accordion data-device-accordion="all">
    <button type="button" class="c-accordion__title ripple" aria-expanded="true" aria-label="開く" data-toggle-accordion>Sample Code</button>
      <div class="codeBlock c-accordion__body" aria-hidden="true" data-body-accordion>
        <div class="highlight">
          <pre><%= code_example %></pre>
        </div>
      </div>
  </div>
</div>


