@charset "utf-8";

/* ==========================================================================
   #offcanvas
   ========================================================================== */

/*doc
---
title: offcanvas
name: offcanvas
categories: [js, offcanvas]
---


```html_example

<div>
    <div class="c-control-offcanvas">
          <button
              type="button"
              aria-controls="aria-offcanvas"
              aria-expanded="false"
              aria-label="開く"
              data-toggle-offcanvas>
            <span class="c-control-offcanvas__icon"><span></span><span></span><span></span></span>
            <span class="c-control-offcanvas__title">メニュー</span>
          </button>
    </div>
    </div>

  <div class="c-offcanvas" aria-hidden="true" data-body-offcanvas>
    <div id="aria-offcanvas" class="c-offcanvas__body">
      <nav role="navigation" aria-label="スマートフォン用サイト全体のメニュー">
        <ul class="c-offcanvas__list">
          <li><a href="/" class="is-active">offcanvas</a></li>
          <li><a href="#ripple" data-scroll-offcanvas>ripple(ページ内スクロール)</a></li>
          <li><a href="/">会社案内</a></li>
          <li><a href="/">お問い合わせ</a></li>
        </ul>
        <ul class="c-offcanvas__list2">
          <li><a href="">交通アクセス</a></li>
          <li><a href="">よくある質問</a></li>
          <li><a href="">お問い合わせ</a></li>
        </ul>

      </nav>
    </div>
  </div>

<div id="js-offcanvas-bg"></div>
```
*/



.c-control-offcanvas {
  a,
  button {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    white-space: nowrap;
    appearance: none;
    user-select: none;
    outline: none;
    vertical-align: middle;
    background-color: transparent;
    border: 0;
    &:hover {
      text-decoration: none;
    }
  }

  &__icon {
    display: block;
      width: 20px;
      height: 20px;
      transform: rotate(0deg);
      cursor: pointer;
      //mix-blend-mode: multiply;
      margin: 0 auto;
      position: relative;
      span {
        display: block;
        position: absolute;
        height: 2px;
        width: inherit;
        background: $primary-text-color;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
      }

      span:nth-child(1) {
        top: 0
      }

      span:nth-child(2) {
        top: 6px
      }

      span:nth-child(3) {
        top: 12px;
      }

    [aria-expanded="true"] & {

      span:nth-child(1) {
        top: 8px;
        transform: rotate(135deg)
      }

      span:nth-child(2) {
        opacity: 0;
        left: -60px
      }

      span:nth-child(3) {
        top: 8px;
        transform: rotate(-135deg)
      }

    }


  }

  &__title {
    display: block;
    font-size: 10px;
    color: #fff;

  }



}

.c-offcanvas {
  //open - start
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transform: translateX(-257px);
  width: 256px;
  background: #fff;
  display: block;
  transform-style: preserve-3d;
  transition-delay: .1s;
  transition-duration: .2s;
  transition-property: transform, left;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  z-index: 9999;

  &[aria-hidden="false"] {
    transform: translateX(0);
    background: #fff;
  }

  &__body {
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 9999;
  }
  //open - end

  nav {
    padding-top: 35px;
  }

  &__list {

    li a {
      line-height: 1.4;
      border-radius: 0;
      font-size: 14px;
      font-weight: bold;
      color: $primary-text-color;
      padding: 16px 10px 16px 30px;
      display: block;
      text-decoration: none;
      position: relative;
      &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 12px;
        margin: auto;
        display: inline-block;
        width: 4px;
        height: 4px;
        transform: rotate(45deg);
        border-style: solid;
        border-color: $primary-text-color;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 0;
        border-left-width: 0;
        content: "";
        vertical-align: middle;
      }

      &.is-active,
      &.stay {
       // background-color: #eef0f4;
      }
    }
  }

}

