@charset "utf-8";

/* Tools
   ========================================================================== */

//必須･任意
.e-form-req,
.e-form-any {
  margin-left: 5px;
  margin-right: 5px;
  padding: 2px 8px;
  border-radius: $border-radius-pc;
  background-color: #e73656;
  color: #fff;
  font-size: .8rem;
  display: inline-block;
  font-weight: normal;

}

.e-form-any {
  background-color: $success-border;
}


//フォーム内ツール
.e-form-text {
  margin-top: .5em;
}

.e-form-small-text {
  font-size: .8em;
  margin-top: .5em;
  font-weight: normal;
}

.e-form-message-box {
  padding-right: 1.5%;
  padding-left: 1.5%;
  box-sizing: border-box;
  clear: both;
  display: inline-block;
  width: 100%;
}

.e-form-error-text {
  color: $brand-red;
  margin-top: .5em;

  &:before {
    @extend .material-icons;
    vertical-align: middle;
    content: "info_outline";
    white-space: nowrap;
    font-size: 1.2em;
    line-height: 1em;
  }
}


/*doc
---
title: form-step
name: form-step
category: form
---


```html_example

<div class="e-form-step">
  <ol class="e-form-step__body">
    <li class="e-form-step__item is-active"><span>お客様情報の変更</span></li>
    <li class="e-form-step__item"><span>変更内容の確認</span></li>
    <li class="e-form-step__item"><span>変更完了</span></li>
    <li class="e-form-step__item"><span>変更完了</span></li>
    <li class="e-form-step__item"><span>変更完了</span></li>
  </ol>
</div>


```
*/




.e-form-step {
  margin-bottom: $margin-small-pc;

  @include media-sp-max {
    margin-bottom: $margin-small-sp;
  }

  &__body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    border: 1px solid $border-color;
    overflow: hidden;

  }

  &__item {
    width: 100%;
    counter-increment: form-step;
    font-size: 15px;
    padding: .75em .75em .75em 2em;
    position: relative;
    white-space: nowrap;

    @include media-sp-max {
      padding: .75em .75em .75em 1.8em;
      text-align: center;
    }

    &:first-child {
      padding-left: .75em;
    }

    &:before {
      content: counter(form-step);
      width: 26px;
      height: 26px;
      background-color: #aaa;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      line-height: 26px;
      color: $brand-white;
      margin-right: 8px;

      @include media-sp-max {
        width: 24px;
        height: 24px;
        line-height: 24px;
        margin-right: 0;
      }
    }

    span {
      &:before,
      &:after {
        right: -1.1em;
        top: -.2em;
        bottom: -.2em;

        border-color: transparent transparent transparent $border-color;
        border-width: 1.8em 0 1.8em 1.3em;

        position: absolute;
        border-style: solid;
        content: "";
        z-index: 2;

      }

      &:after {
        right: -1em;
        border-color: transparent transparent transparent $brand-white;
      }

      @include media-sp-max {
        display: inline-block;
        text-indent: -9999px;
      }
    }

    &:last-child span {
      &:before,
      &:after {
        display: none;
      }
    }

    &.is-active {
      font-weight: bold;
      color: $brand-white;
      background-color: $brand-primary-light;

      span {

        &:before {
          border-color: transparent transparent transparent $border-color;
        }

        &:after {
          border-color: transparent transparent transparent $brand-primary-light;
        }
      }

      &:before {
        font-weight: normal;
        background-color: $brand-white;
        color: $brand-primary-light;
      }
    }

  }

}


$form-table-border: 1px solid $border-color;
$form-table-bg: $bg-color;
$form-table-padding-vertical: 1.5em;
$form-table-padding-horizon: 1.2em;
$form-table-small-fsize: .7em;

.e-form-table {
  width: 100%;
  border-top: $form-table-border;
  border-collapse: separate;
  border-spacing: 0;

  @include mb-small;

  tr,
  td,
  th {
    text-align: left;
    vertical-align: top;
    word-break: break-all;
  }

  th {
    padding: $form-table-padding-vertical * 1.2 $form-table-padding-horizon;
    border-bottom: $form-table-border;
    vertical-align: top;
    width:30%;

    @include media-sp-max {
      border-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      display: block;
      width:auto;
      padding-top:$form-table-padding-vertical * .8;
      padding-bottom: 0;
    }
  }


  td {
    padding: (($form-table-padding-vertical) - .5em) $form-table-padding-horizon;
    border-bottom: $form-table-border;

    @include media-sp-max {
      padding-left: 0;
      padding-right: 0;
      display: block;
      width:auto;

      padding-top:($form-table-padding-vertical * .8) - .5em;
      padding-bottom: $form-table-padding-vertical * .8;
    }

  }

  //テーブルの中の最後の要素のマージンを消す
  th,
  td {
    *:last-child {
      //  margin-bottom: 0;
    }

  }


  }


//recaptcha用
.g-recaptcha {
  margin-bottom: $margin-small-pc;

  > div {
    margin: 0 auto;
  }

  @include media-sp-max {
    margin-bottom: $margin-small-sp;
  }

}