@charset "utf-8";

/*doc
---
title: richeditor Sample
name: richeditor
category: richeditor
---
<p class="e-text is-mb-medium">
ニュースの詳細などCMSで直接タグ入力するして更新する場合は外枠のdivに.rich-editorを指定してください。
こちらのサンプルのような形になり内包するタグ（p,span,table,list,dlなど）にベース装飾を追加します。
このため.rich-editor内ではサンプル以外のクラス.mediaなどは使用出来ませんのでご注意ください。
</p>

```html_example
        <div class="rich-editor">

          <ol>
            <li>見出し・段落</li>
            <li>リスト</li>
            <li>テキスト（装飾・リンク・配置・引用）</li>
            <li>画像（サイズ・配置）</li>
            <li>ボックス</li>
            <li>テーブル</li>
            <li>その他パーツ</li>
          </ol>

          <h2>1. 見出し・段落</h2>
          <h2>見出し2</h2>
          <h3>見出し3</h3>
          <h4>見出し4</h4>
          <h5>見出し5</h5>
          <h6>見出し6</h6>

          <p>これは標準の段落です。本文はここに入力してください。<br>「Enter」キーを押すと段落が変わります。</p>
          <p>「Shift」 + 「Enter」キーを押すと段落は変わらずに改行されます。</p>

          <h2>2. リスト</h2>

          <ul>
            <li>順序がないリスト</li>
            <li>順序がないリスト
              <ul>
                <li>順序がないリスト</li>
                <li>順序がないリスト</li>
              </ul>
            </li>
            <li>順序がないリスト</li>
          </ul>

          <ol>
            <li>順序のあるリスト</li>
            <li>順序のあるリスト
              <ol>
                <li>順序のあるリスト</li>
                <li>順序のあるリスト</li>
              </ol>
            </li>
            <li>順序のあるリスト</li>
          </ol>

          <ul class="e-list--arrow">
            <li>矢印付きリスト</li>
            <li><a href="#dummy">矢印付きリスト</a></li>
            <li><a href="#dummy">矢印付きリスト</a></li>
          </ul>

          <ul class="e-list--square">
            <li>四角リスト</li>
            <li><a href="#dummy">四角リスト</a></li>
            <li><a href="#dummy">四角リスト</a></li>
          </ul>

          <dl>
            <dt>定義リスト</dt>
            <dd>テキストが入ります。テキストが入ります。</dd>
            <dt>定義リスト</dt>
            <dd>テキストが入ります。テキストが入ります。</dd>
            <dt>定義リスト</dt>
            <dd>テキストが入ります。テキストが入ります。</dd>
          </dl>

          <h2>3. テキスト（装飾・リンク・配置・引用）</h2>
          <h3>装飾</h3>
          <p>
            <strong>強い強調を表す要素（strong）</strong><br>
            <em>強調を表す要素（em）</em><br>
            <s>すでに正確ではなくなった要素、打ち消し線（s）</s><br>
            <small>注釈や細目を表す要素（small）</small><br>
            <span>上付き文字（sup）　E=mc<sup>2</sup></span><br>
            <span>下付き文字（sub）　CO<sub>2</sub></span><br>
            <span class="is-indent" style="display:block">先頭1文字下げ</span>
            <span class="is-underline">下線（Underline Text）</span><br>
            <span class="is-point">マーカー線(Marker Yellow)</span><br>
            <span class="is-color-orange">重要色文字（Text Orange）</span><br>
            <span class="is-color-red">エラー色文字（Text Red）</span><br>
            <span class="is-color-blue">青色文字（Text Blue）</span><br>
            <span class="is-color-green">緑色文字（Text Green）</span><br>
            <span class="is-bg-color-orange">重要色背景（Bg Orange）</span><br>
            <span class="is-bg-color-red">エラー色背景（Bg Red）</span><br>
            <span class="is-bg-color-blue">青色背景（Bg Blue）</span><br>
            <span class="is-bg-color-green">緑色背景（Bg Green）</span><br>
          </p>



          <h3>リンク</h3>
          <p>
            <a href="#dummy">標準のリンク</a><br>
            <a href="#dummy" target="_blank">target="_blank"を指定している場合 </a><br>
            <a href="#dummy.pdf">pdfへのリンクの場合</a><br>
            <a href="#dummy.doc">doc、docxへのリンクの場合</a><br>
            <a href="#dummy.xls">xls、xlsxへのリンクの場合</a><br>
            <a href="#dummy.ppt">ppt、pptxへのリンクの場合</a><br>
            <a href="#dummy.ppt" class="is-iconless">aタグに.is-iconlessがあると自動リンクアイコンは表示されません</a>
          </p>

          <h3>配置</h3>
          <p class="is-left">左揃え<br>
            吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。</p>
          <p class="is-center">
            中央揃え<br>
            吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。</p>
          <p class="is-right">
            右揃え<br>
            吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。</p>
          <p class="is-justify">
            両端揃え<br>
            吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。</p>

          <h3>引用</h3>
          <blockquote>
            引用テキストが入ります。引用テキストが入ります。引用テキストが入ります。引用テキストが入ります。引用テキストが入ります。引用テキストが入ります。引用テキストが入ります。引用テキストが入ります。引用テキストが入ります。引用テキストが入ります。引用テキストが入ります。引用テキストが入ります。引用テキストが入ります。引用テキストが入ります。引用テキストが入ります。
          </blockquote>

          <h2>4. 画像（サイズ・配置）</h2>

          <h3>サイズ</h3>
          <figure>
            <img src="/assets/img/dummy/840x560.png" alt="">
          </figure>
          <figure class="is-one-half">
            <img src="/assets/img/dummy/840x560.png" alt="">
          </figure>
          <figure class="is-one-third">
            <img src="/assets/img/dummy/840x560.png" alt="">
          </figure>
          <figure class="is-one-fourth">
            <img src="/assets/img/dummy/840x560.png" alt="">
          </figure>


          <h3>配置</h3>
          <h4>左寄せ（テキスト回り込み）</h4>
          <figure class="is-left is-one-fourth">
            <img src="/assets/img/dummy/840x560.png" alt="">
          </figure>
          <p>画像を選択した状態でプルダウンメニュー「スタイル」から「Float Left」を選択すると、画像が左側に寄り、テキストが回り込みます。回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込みを解除するには 「div.clearfloat」（スタイルでは「Clear Float」）を挿入します。</p>

          <h4>中央寄せ</h4>
          <figure class="is-center is-one-fourth">
            <img src="/assets/img/dummy/840x560.png" alt="">
          </figure>

          <h4>右寄せ（テキスト回り込み）</h4>
          <figure class="is-right is-one-fourth">
            <img src="/assets/img/dummy/840x560.png" alt="">
          </figure>
          <p>画像を選択した状態でプルダウンメニュー「スタイル」から「Float Right」を選択すると、画像が右側に寄り、テキストが回り込みます。回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込み回り込みを解除するには「div.clearfloat」（スタイルでは「Clear Float」）を挿入します。</p>

          <h2>5. ボックス</h2>
          <div class="e-box-bordered">
            <div class="e-box-bordered__body">
              <p class="e-box-bordered__title">お問い合わせ</p>
              <p><a href="">xxxx</a>　 xxxx-xxxx-xxxx</p>
            </div>
          </div>

          <div class="e-box e-box--error">
            <div class="e-box__body">
              <p>ボックス（重要）<br>このように、選択した部分に背景色と枠線のスタイルがつきます。</p>
            </div>
          </div>

          <div class="e-box e-box--warning">
            <div class="e-box__body">
              <p>ボックス（補足）<br>このように、選択した部分に背景色と枠線のスタイルがつきます。</p>
            </div>
          </div>

          <div class="e-box e-box--bg">
            <div class="e-box__body">
              <p>ボックス（メモ）<br>このように、選択した部分に背景色と枠線のスタイルがつきます。</p>
            </div>
          </div>

          <h2>6. テーブル</h2>

          <h3>標準</h3>
          <table>
            <tr>
              <th>見出し</th>
              <th>見出し</th>
              <th>見出し</th>
            </tr>
            <tr>
              <td>テキストが入ります。</td>
              <td>テキストが入ります。</td>
              <td>テキストが入ります。</td>
            </tr>
            <tr>
              <td>テキストが入ります。</td>
              <td>テキストが入ります。</td>
              <td>テキストが入ります。</td>
            </tr>
          </table>

          <table>
            <tr>
              <th>見出し</th>
              <td>テキストが入ります。</td>
              <td>テキストが入ります。</td>
            </tr>
            <tr>
              <th>見出し</th>
              <td>テキストが入ります。</td>
              <td>テキストが入ります。</td>
            </tr>
            <tr>
              <th>見出し</th>
              <td>テキストが入ります。</td>
              <td>テキストが入ります。</td>
            </tr>
          </table>


          <h3>ボーダーレス</h3>
          <table class="e-table--borderless">
            <tr>
              <th>見出し</th>
              <th>見出し</th>
              <th>見出し</th>
            </tr>
            <tr>
              <td>テキストが入ります。</td>
              <td>テキストが入ります。</td>
              <td>テキストが入ります。</td>
            </tr>
            <tr>
              <td>テキストが入ります。</td>
              <td>テキストが入ります。</td>
              <td>テキストが入ります。</td>
            </tr>
          </table>

         <h3>文字小さい</h3>
          <table class="e-table--small">
            <tr>
              <th>見出し</th>
              <td>テキストが入ります。</td>
              <td>テキストが入ります。</td>
            </tr>
            <tr>
              <th>見出し</th>
              <td>テキストが入ります。</td>
              <td>テキストが入ります。</td>
            </tr>
            <tr>
              <th>見出し</th>
              <td>テキストが入ります。</td>
              <td>テキストが入ります。</td>
            </tr>
          </table>

          <h3>SP時スクロール</h3>
          <div class="e-responsive-table">
            <table>
              <tr>
                <th>見出し</th>
                <th>見出し</th>
                <th>見出し</th>
              </tr>
              <tr>
                <td>テキストが入ります。</td>
                <td>テキストが入ります。</td>
                <td>テキストが入ります。</td>
              </tr>
              <tr>
                <td>テキストが入ります。</td>
                <td>テキストが入ります。</td>
                <td>テキストが入ります。</td>
              </tr>
            </table>
          </div>

        </div>

```
*/


.rich-editor p,
.rich-editor table,
.rich-editor ul,
.rich-editor ol,
.rich-editor dl,
.rich-editor blockquote,
.rich-editor figure,
.rich-editor .e-box-bordered,
.rich-editor hr {
  @include mb-medium;
}


.rich-editor p + p {
  //margin-top: - $margin-medium-pc / 3;

  @include media-tab-max {
   // margin-top: - $margin-medium-tab / 3;
  }

  @include media-sp-max {
   // margin-top: - $margin-medium-sp / 2;
  }
}


.rich-editor p:empty {
  display: none;
}



.rich-editor strong {
  //color: $brand-orange;
}

.rich-editor strong > strong {
  color: $brand-orange;
}

.rich-editor s {
  opacity: .54;
}

.rich-editor em {
  font-weight: bold;
  font-style: normal;
}


.clearfloat {
  clear: both;
}

