@charset "utf-8";

/* ==========================================================================
   #menu
   ========================================================================== */

/*doc
---
title: Menu Hierarchy Primary
name: menu-hierarchy-primary
category: menu
---

```html_example
<div class="c-menu-hierarchy-primary" data-accordion data-device-accordion="sp">
  <h3 class="c-menu-hierarchy-primary__title" aria-controls="accordion1" aria-expanded="true" aria-label="開く" data-toggle-accordion>階層構造メニュー</h3>
  <ul class="c-menu-hierarchy-primary__list is-hidden--sm" id="accordion1"  aria-hidden="true" data-body-accordion>
    <li><a href="">タイトル</a></li>
    <li><a href="" class="is-active">タイトル</a>
      <ul class="c-menu-hierarchy-primary__list">
        <li><a href="" class="is-active">タイトル</a></li>
        <li><a href="">タイトル</a></li>
        <li><a href="">タイトル</a></li>
      </ul>
    </li>
        <li><a href="">タイトル</a></li>
        <li><a href="">タイトル</a></li>
  </ul>
</div>


```
*/

/* menu
   ========================================================================== */

.c-menu-hierarchy-primary {

  @include mb-small;

  &__title {
    background: $brand-primary;
    @include fsize($fsize-h4-pc, false, $fsize-h4-sp);
    padding: .7em;
    text-align: center;
    font-weight: bold;
    color: #fff;
  }

  &__list {
    margin-bottom: 0;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    a {
      border-top: 1px solid $border-color;
      @include fsize(14px);
      padding: .8em 1.6em;
      display: block;
      text-decoration: none;
      color: $text-color;

      &:hover {
        background-color: $brand-secondary-light;
      }
      &.is-active {
        font-weight: bold;
      }
    }

    ul {
      margin-left: 1.2em;

      border: 0;

      a {
        border: 0;
        padding: .4em 1.5em;
        text-indent: -.6em;

        &:hover,
        &.is-active {
          background-color: $brand-secondary-light;
          font-weight: normal;

          &:before {
            color: $brand-secondary;
            transition: $animation;
          }
        }

        &:before {
          color: $text-color-week;
          text-decoration: none;
          @include material-icons;
          vertical-align: middle;
          content: "navigate_next";
          white-space: nowrap;
          font-size: 1em;
          //margin-right: .5em;
        }
      }
    }
  }
}

//アコーディオン時
.c-menu-hierarchy-primary__title {
  position: relative;
  &:after {
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    @include fsize(20px);
    right: $width-gap-sp;
    margin: auto;
    height: 1em;
    @include material-icons;
    vertical-align: middle;
    content: "add";
    white-space: nowrap;
    line-height: 1em;

    display: none;
    @include media-sp-max {
      display: block;
    }

  }

  &[aria-expanded="false"]:after {
    content: "remove";
  }

}

/*doc
---
title: Menu Hierarchy Secondary
name: menu-hierarchy-secondary
category: menu
---

```html_example
<div class="c-menu-hierarchy-secondary" data-accordion data-device-accordion="sp">
  <h3 class="c-menu-hierarchy-secondary__title" aria-controls="c-menu-hierarchy-secondary" aria-expanded="true" aria-label="開く" data-toggle-accordion>階層構造メニュー secondary</h3>
  <ul class="c-menu-hierarchy-secondary__list is-hidden--sm" id="c-menu-hierarchy-secondary"  aria-hidden="true" data-body-accordion>
    <li><a href="">タイトル</a></li>
    <li><a href="">タイトル</a></li>
    <li><a href="">タイトル</a></li>
  </ul>
</div>


```
*/

/* menu
   ========================================================================== */

.c-menu-hierarchy-secondary {

  @include mb-small;

  &__title {
    background: #f7f7f7;
    @include fsize($fsize-h4-pc, false, $fsize-h4-sp);
    padding: .7em;
    font-weight: bold;
  }

  &__list {
    margin-bottom: 0;
    border-bottom: 1px dotted $border-color;

    li:first-child a {
      border-top-style: solid;
    }

    a {
      border-top: 1px dotted $border-color;
      @include fsize(14px);
      padding: .8em 1.6em;
      display: block;
      text-decoration: none;
      color: $text-color;
      &:hover {
        background-color: $brand-secondary-light;
      }
      &.is-active {
        font-weight: bold;
      }
    }

    .c-menu-hierarchy__list {
      margin-left: 1.2em;
      border: 0;

      a {
        border: 0;
        padding: .4em 1.5em;
        text-indent: -.6em;

        &:hover,
        &.is-active {
          background-color: $brand-secondary-light;
          font-weight: normal;

          &:before {
            color: $brand-secondary;
            transition: $animation;
          }

        }

        &:before {
          color: $text-color-week;
          text-decoration: none;
          @include material-icons;
          vertical-align: middle;
          content: "navigate_next";
          white-space: nowrap;
          font-size: 1em;
          //margin-right: .5em;

        }
      }
    }
  }
}

//アコーディオン時
.c-menu-hierarchy-secondary__title {
  position: relative;
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    @include fsize(20px);
    right: $width-gap-sp;
    margin: auto;
    height: 1em;
    @include material-icons;
    vertical-align: middle;
    content: "add";
    white-space: nowrap;
    line-height: 1em;

    display: none;
    @include media-sp-max {
      display: block;
    }

  }

  &[aria-expanded="false"]:after {
    content: "remove";
  }

}

/*doc
---
title: Menu Nav
name: menu-nav
category: menu
---





`.c-menu-nav__body--one-third`,`.c-menu-nav__body--inline`


<br>

```html_example

   <div class="c-menu-nav" data-accordion data-device-accordion="sp">
  <div class="c-menu-nav__head c-menu-nav__head--accordion"  aria-controls="accordion3" aria-expanded="true" aria-label="開く" data-toggle-accordion>
      <h2 class="c-menu-nav__title"><a href="">タイトル</a></h2>
  </div>
    <ul class="c-menu-nav__body c-menu-nav__body--one-third is-hidden--sm" id="accordion3"  aria-hidden="true" data-body-accordion>
      <li><a href="">タイトル</a> </li>
      <li><a href="">タイトル</a> </li>
      <li><a href="">タイトル</a> </li>
      <li><a href="">タイトル</a> </li>
    </ul>
  </div>

```
*/

.c-menu-nav {
  border-bottom: 1px solid $border-color;

  @include mb-small;

  &__head {
    border: 1px solid $border-color;
    border-bottom: 0;
    display: block;
    border-left: 5px solid $brand-secondary;
    background: #f7f7f7;
    border-radius: 0;
    padding: .6rem 1rem;
    @include media-sp-max {
      padding-right: 2.5rem;
    }
  }
  //アコーディオン時
  &__head--accordion {
    position: relative;
    &:after {
      color: $text-color-sub;
      position: absolute;
      top: 0;
      bottom: 0;
      @include fsize(20px);
      right: $width-gap-sp;
      margin: auto;
      height: 1em;
      @include material-icons;
      vertical-align: middle;
      content: "add";
      white-space: nowrap;
      line-height: 1em;

      display: none;
      @include media-sp-max {
        display: block;
      }
    }

    &[aria-expanded="false"]:after {
      content: "remove";
    }

    @include media-sp-max {
      a {
        pointer-events: none;
        color: $text-color;
      }
    }

  }

  &__title {
    font-weight: bold;
    @include fsize(18px, false, 16px);

    span {
      display: inline-block;
    }

    + .c-menu-nav__text {
      @include media-sp-max {
        margin-top: .3em;
      }
    }
  }

  &__text {
    @include fsize(14px);
    color: $text-color-sub;
  }

  &__body {

    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 1rem;

    @include media-sp-max {
      display: block;
    }

    li {
      width: 100%;
      padding-right: 2.5%;
      line-height: 1.5;
      margin-bottom: .3em;
      box-sizing: border-box;
      @include media-sp-max {
        width: auto;
        padding-right: 0;
      }
    }

    a {
      text-indent: -.6em;
      padding-left: 1em;
      @include fsize(14px);
      display: inline-block;
      &:before {
        color: $border-color;
        @include material-icons;
        vertical-align: middle;
        content: "navigate_next";
        white-space: nowrap;
        font-size: 1.2em;
      }

      &:hover:before {
        text-decoration: none;
      }
    }

  }

}

.c-menu-nav__body--one-third {
  li {
    width: 33.333%;
    @include media-sp-max {
      width: auto;
    }
  }
}

.c-menu-nav__body--inline {
  li {
    width: auto;
    @include media-sp-max {
      width: auto;
    }
  }
}

