@charset "utf-8";

/* Anchor Nav
   ========================================================================== */

/*doc
---
title: anchor-nav
name: anchor-nav
categories: [js, anchor-nav]
---

```html_example
<div class="c-anchor-nav">
  <div class="c-anchor-nav__body">
    <p class="c-anchor-nav__title">コンテンツ</p>
    <ul data-scroll>
      <li><a href="#accordion">accordion</a></li>
      <li><a href="#calendar">calendar</a></li>
    </ul>
  </div>
</div>
```

*/

.c-anchor-nav {
  border: 1px solid $border-color;
  @include mb-small;

  &__body {
    padding: 1.6rem 1.6rem 1.2rem;
    position: relative;
  }
  &__title {
    color: $text-color-sub;
    font-weight: bold;
    font-size: 14px;
    background: #fff;
    position: absolute;
    top: -.5em;
    left: 1.1rem;
    padding-right: .5rem;
    padding-left: .5rem;
    line-height: 1;

  }

  li {
    margin-bottom: .4em;
    &:last-child {
      margin-bottom: 0;
    }

    a {
      text-indent: -.6em;
      padding-left: 1em;
      display: inline-block;

      overflow: hidden;
      &:before {
        display: inline-block;
        width: 5px;
        height: 5px;
        transform: rotate(225deg);
        border-top: 1px solid $text-color-sub;
        border-left: 1px solid $text-color-sub;
        content: "";
        vertical-align: middle;
        position: relative;
        top: -2px;
        margin-right: 7px;
      }

    }

  }
}