@charset "utf-8";

/* @ horizon
 * ------------------------------------------------------------ */

/*doc
---
title: summary
name: summary
categories: [components, summary]
---

```html_example


  <ul class="c-summary1">
   <li class="c-summary__item e-card">
        <a href="">
          <div class="e-card__img"><img src="/assets/img/common/card.png" alt=""></div>
          <div class="e-card__body">
            <p class="e-card__title">タイトル</p>
            <p class="e-card__text">テキストテキストテキストテキストテキスト</p>
          </div>
        </a>
      </li>
   <li class="c-summary__item e-card">
        <a href="">
          <div class="e-card__img"><img src="/assets/img/common/card.png" alt=""></div>
          <div class="e-card__body">
            <p class="e-card__title">タイトル</p>
            <p class="e-card__text">テキストテキストテキストテキストテキスト</p>
          </div>
        </a>
      </li>
   <li class="c-summary__item e-card">
        <a href="">
          <div class="e-card__img"><img src="/assets/img/common/card.png" alt=""></div>
          <div class="e-card__body">
            <p class="e-card__title">タイトル</p>
            <p class="e-card__text">テキストテキストテキストテキストテキスト</p>
          </div>
        </a>
      </li>
         <li class="c-summary__item e-card">
        <a href="">
          <div class="e-card__img"><img src="/assets/img/common/card.png" alt=""></div>
          <div class="e-card__body">
            <p class="e-card__title">タイトル</p>
            <p class="e-card__text">テキストテキストテキストテキストテキスト</p>
          </div>
        </a>
      </li>
         <li class="c-summary__item e-card">
        <a href="">
          <div class="e-card__img"><img src="/assets/img/common/card.png" alt=""></div>
          <div class="e-card__body">
            <p class="e-card__title">タイトル</p>
            <p class="e-card__text">テキストテキストテキストテキストテキスト</p>
          </div>
        </a>
      </li>
         <li class="c-summary__item e-card">
        <a href="">
          <div class="e-card__img"><img src="/assets/img/common/card.png" alt=""></div>
          <div class="e-card__body">
            <p class="e-card__title">タイトル</p>
            <p class="e-card__text">テキストテキストテキストテキストテキスト</p>
          </div>
        </a>
      </li>
         <li class="c-summary__item e-card">
        <a href="">
          <div class="e-card__img"><img src="/assets/img/common/card.png" alt=""></div>
          <div class="e-card__body">
            <p class="e-card__title">タイトル</p>
            <p class="e-card__text">テキストテキストテキストテキストテキスト</p>
          </div>
        </a>
      </li>
         <li class="c-summary__item e-card">
        <a href="">
          <div class="e-card__img"><img src="/assets/img/common/card.png" alt=""></div>
          <div class="e-card__body">
            <p class="e-card__title">タイトル</p>
            <p class="e-card__text">テキストテキストテキストテキストテキスト</p>
          </div>
        </a>
      </li>
  </ul>



```
*/

.c-summary1 {

  //@include grid('.c-summary__item', 4, $screen-pc-max, 24);

  @include media-sp-max {
  //  @include grid('.c-summary__item', 12, $screen-sp-max, 24);
  }

}


.c-summary1 {



  @include grid('.c-summary__item', 3, $screen-pc-max, 32);

  @include media-sp-max {
    @include grid('.c-summary__item', 12, $screen-sp-max, 0);
    //overflow: scroll;
    //flex-flow: nowrap;
    //margin-right: -$width-gap-sp;


    //margin-left: -2.0000033333%;
    //margin-right: -2.0000033333%;
    //._item {
    //  margin-left: 2.0000033333%;
    //  margin-right: 2.0000033333%;
    //  flex: 0 0 45.9999933333%;
    //-webkit-overflow-scrolling: touch;
    //}
  }


}


.c-summary2 {

  .c-summary__item {
    @include mb-medium;
  }

  @include grid('.c-summary__item', 6, $screen-pc-max, 24);

  @include media-sp-max {
    @include grid('.c-summary__item', 12, $screen-sp-max, 0);
  }


}

.c-summary3 {

  .c-summary__item {
    @include mb-medium;
  }

  @include grid('.c-summary__item', 4, $screen-pc-max, 24);

  @include media-sp-max {
    @include grid('.c-summary__item', 12, $screen-sp-max, 0);
  }


}


