@charset "utf-8";

/* @ horizon
 * ------------------------------------------------------------ */

/*doc
---
title: summary
name: summary
categories: [components, summary]
---

```html_example


  <ul class="c-summary-horizontal">
   <li class="c-summary__item e-card">
        <a href="">
          <div class="e-card__img"><img src="/assets/img/common/card.png" alt=""></div>
          <div class="e-card__body">
            <p class="e-card__title">タイトル</p>
            <p class="e-card__text">テキストテキストテキストテキストテキスト</p>
          </div>
        </a>
      </li>
   <li class="c-summary__item e-card">
        <a href="">
          <div class="e-card__img"><img src="/assets/img/common/card.png" alt=""></div>
          <div class="e-card__body">
            <p class="e-card__title">タイトル</p>
            <p class="e-card__text">テキストテキストテキストテキストテキスト</p>
          </div>
        </a>
      </li>
   <li class="c-summary__item e-card">
        <a href="">
          <div class="e-card__img"><img src="/assets/img/common/card.png" alt=""></div>
          <div class="e-card__body">
            <p class="e-card__title">タイトル</p>
            <p class="e-card__text">テキストテキストテキストテキストテキスト</p>
          </div>
        </a>
      </li>
         <li class="c-summary__item e-card">
        <a href="">
          <div class="e-card__img"><img src="/assets/img/common/card.png" alt=""></div>
          <div class="e-card__body">
            <p class="e-card__title">タイトル</p>
            <p class="e-card__text">テキストテキストテキストテキストテキスト</p>
          </div>
        </a>
      </li>
         <li class="c-summary__item e-card">
        <a href="">
          <div class="e-card__img"><img src="/assets/img/common/card.png" alt=""></div>
          <div class="e-card__body">
            <p class="e-card__title">タイトル</p>
            <p class="e-card__text">テキストテキストテキストテキストテキスト</p>
          </div>
        </a>
      </li>
         <li class="c-summary__item e-card">
        <a href="">
          <div class="e-card__img"><img src="/assets/img/common/card.png" alt=""></div>
          <div class="e-card__body">
            <p class="e-card__title">タイトル</p>
            <p class="e-card__text">テキストテキストテキストテキストテキスト</p>
          </div>
        </a>
      </li>
         <li class="c-summary__item e-card">
        <a href="">
          <div class="e-card__img"><img src="/assets/img/common/card.png" alt=""></div>
          <div class="e-card__body">
            <p class="e-card__title">タイトル</p>
            <p class="e-card__text">テキストテキストテキストテキストテキスト</p>
          </div>
        </a>
      </li>
         <li class="c-summary__item e-card">
        <a href="">
          <div class="e-card__img"><img src="/assets/img/common/card.png" alt=""></div>
          <div class="e-card__body">
            <p class="e-card__title">タイトル</p>
            <p class="e-card__text">テキストテキストテキストテキストテキスト</p>
          </div>
        </a>
      </li>
  </ul>



```
*/

.c-summary-horizontal {

  //@include grid('.c-summary__item', 4, $screen-pc-max, 24);

  @include media-sp-max {
  //  @include grid('.c-summary__item', 12, $screen-sp-max, 24);
  }

}


.c-summary-horizontal {



  @include grid('.c-summary__item', 3, $screen-pc-max, 32);

  @include media-sp-max {
    @include grid('.c-summary__item', 12, $screen-sp-max, 0);
    //overflow: scroll;
    //flex-flow: nowrap;
    //margin-right: -$width-gap-sp;


    //margin-left: -2.0000033333%;
    //margin-right: -2.0000033333%;
    //._item {
    //  margin-left: 2.0000033333%;
    //  margin-right: 2.0000033333%;
    //  flex: 0 0 45.9999933333%;
    //-webkit-overflow-scrolling: touch;
    //}
  }


}


.c-summary-horizontal2 {

  .c-summary__item {
    @include mb-medium;
  }

  @include grid('.c-summary__item', 6, $screen-pc-max, 24);

  @include media-sp-max {
    @include grid('.c-summary__item', 12, $screen-sp-max, 0);
  }


}






/* @ vertical
 * ------------------------------------------------------------ */

/*doc
---
title: summary-vertical
name: summary-vertical
categories: [components, summary]
parent: summary

---

```html_example

<div>
   <ul class="c-summary-vertical">
        <li class="c-summary__item e-media">
          <a href="">
            <div class="e-media__img">
              <img src="/assets/img/common/media.png" >
              </div>
            <div class="e-media__body">
              <p class="e-media__title">情に棹させば流される智に働けば角が立つ</p>
              <p class="e-media__text is-text-week">テキスト</p>
            </div>
            </a>
        </li>
        <li class="c-summary__item e-media">
          <a href="">
            <div class="e-media__img">
              <img src="/assets/img/common/media.png" >
              </div>
            <div class="e-media__body">
              <p class="e-media__title">情に棹させば流される智に働けば角が立つ</p>
              <p class="e-media__text is-text-week">テキスト</p>
            </div>
            </a>
        </li>
        <li class="c-summary__item e-media">
          <a href="">
            <div class="e-media__img">
              <img src="/assets/img/common/media.png" >
              </div>
            <div class="e-media__body">
              <p class="e-media__title">情に棹させば流される智に働けば角が立つ</p>
              <p class="e-media__text is-text-week">テキスト</p>
            </div>
            </a>
        </li>
    </ul>
 </div>



```
*/

.c-summary-vertical {

  .c-summary__item {
    @include mb-medium;
  }

}


