{% extends "_layout/_base.njk" %}

{% set page_title = "" %}
{% set page_url = "" %}
{% set page_description = "" %}
{% set page_keywords = "" %}

{% block main %}
<div class="c-breadcrumb" role="navigation" aria-label="現在地表示">
  <div class="c-breadcrumb__inner">
    <span><a href="/">ホーム</a></span>
    <span>ユニットテンプレート1</span>
  </div>
</div>
<section class="l-container">
  <div class="l-block">

    <div class="l-unit c-anchor-nav">
      <div class="c-anchor-nav__body">
        <p class="c-anchor-nav__title">コンテンツ</p>
        <ul data-scroll>
          <li><a href="#ank1">画像ユニット</a></li>
          <li><a href="#ank2">テキストユニット</a></li>
          <li><a href="#ank3">ファイルユニット</a></li>
          <li><a href="#ank4">テーブルユニット</a></li>
          <li><a href="#ank5">地図ユニット</a></li>
          <li><a href="#ank6">ビデオユニット</a></li>
        </ul>
      </div>
    </div>

    <div class="l-unit">

      <h2 class="e-heading2" id="ank1">1. 画像ユニット</h2>


      <figure class="e-img-box">
        <img src="/assets/img/dummy/840x560.png" alt="">
        <figcaption class="e-img-caption">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。</figcaption>
      </figure>


      <figure class="e-img-box is-img-w50">
        <img src="/assets/img/dummy/840x560.png" alt="">
        <figcaption class="e-img-caption">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。</figcaption>
      </figure>

      <figure class="e-img-box is-img-w33">
        <img src="/assets/img/dummy/840x560.png" alt="">
        <figcaption class="e-img-caption">情に棹させば流される。智に働けば角が立つ。</figcaption>
      </figure>


      <figure class="e-img-box is-img-w25">
        <img src="/assets/img/dummy/840x560.png" alt="">
        <figcaption class="e-img-caption">情に棹させば流される。</figcaption>
      </figure>

    </div>
    <div class="l-unit">

      <h2 class="e-heading2" id="ank2">2. テキストユニット</h2>


      <h2 class="e-heading2">見出し2見出し2見出し2見出し2見出し2</h2>
      <p class="e-text">左揃え<br>
        吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。​
      </p>


      <h3 class="e-heading3">見出し3見出し3見出し3見出し3見出し3</h3>
      <p class="e-text">左揃え<br>
        吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。​
      </p>

      <h4 class="e-heading4">見出し4見出し4見出し4見出し4見出し4</h4>
      <p class="e-text">左揃え<br>
        吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。​
      </p>


      <p class="e-text is-text-center">中央揃え<br>
        吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。​
      </p>

      <p class="e-text is-text-right">右揃え<br>
        吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。​
      </p>


      <ul class="e-list e-list--disc">
        <li>どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。</li>
        <li>どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。
          <ul class="e-list e-list--disc">
            <li>どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。</li>
            <li>どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。</li>
            <li>どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。</li>
            <li>どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。</li>
          </ul>
        </li>
        <li>どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。</li>
        <li>どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。</li>
      </ul>

      <ol class="e-list e-list--decimal">
        <li>どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。</li>
        <li>どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。</li>
        <li>どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。</li>
        <li>どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。</li>
      </ol>

      <blockquote class="e-blockquote">
        情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。
      </blockquote>

      <dl class="e-dl">
        <dt>情に棹させば流される。</dt>
        <dd>智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて</dd>
        <dd>智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて</dd>
        <dt>情に棹させば流される。</dt>
        <dd>智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて</dd>
        <dt>情に棹させば流される。</dt>
        <dd>智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて</dd>
      </dl>


      <div class="e-button-group e-button-group--left">
        <a href="" class="e-button e-button--primary">左揃えボタンボタンボタン
          <i class="material-icons is-icon-right">navigate_next</i></a>
      </div>

      <div class="e-button-group e-button-group--right">
        <a href="" class="e-button e-button--primary">右揃えボタンボタンボタン
          <i class="material-icons is-icon-right">navigate_next</i></a>
      </div>

      <div class="e-button-group">
        <a href="" class="e-button e-button--primary">中央揃えボタンボタンボタン
          <i class="material-icons is-icon-right">navigate_next</i></a>
      </div>

    </div>
    <div class="l-unit">
      <h2 class="e-heading2" id="ank3">3. ファイルユニット</h2>

      <div>
        <a href="/test.pdf"><img class="columnIcon" src="/assets/img/dummy/64x64.png" alt="ファイルを開く" width="64" height="64"></a>
        <p class="e-text">吾輩は猫である。名前はまだ無い。<br>どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。<br>吾輩はここで始めて人間というものを見た。</p>
      </div>

      <div class="is-text-center">
        <a href="/test.pdf"><img class="columnIcon" src="/assets/img/dummy/64x64.png" alt="ファイルを開く" width="64" height="64"></a>
        <p class="e-text">吾輩は猫である。名前はまだ無い。<br>どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。<br>吾輩はここで始めて人間というものを見た。</p>
      </div>


      <div class="is-text-right">
        <a href="/test.pdf"><img class="columnIcon" src="/assets/img/dummy/64x64.png" alt="ファイルを開く" width="64" height="64"></a>
        <p class="e-text">吾輩は猫である。名前はまだ無い。<br>どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。<br>吾輩はここで始めて人間というものを見た。</p>
      </div>

    </div>


    <div class="l-unit">

      <h2 class="e-heading2" id="ank4">4. テーブルユニット</h2>

      <table class="e-table e-table--block">
        <tr>
          <th>見出し</th>
          <td>テキストが入ります</td>
        </tr>
        <tr>
          <th>見出し</th>
          <td>テキストが入ります</td>
        </tr>
      </table>



      <table class="e-table e-table--block">
        <tr>
          <th>見出し</th>
          <td>テキストが入ります1</td>
          <th>見出し</th>
          <td>テキストが入ります2</td>
        </tr>
        <tr>
          <th>見出し</th>
          <td>テキストが入ります1</td>
          <th>見出し</th>
          <td>テキストが入ります2</td>
        </tr>
      </table>


    </div>

    <div class="l-unit">

      <h2 class="e-heading2" id="ank5">5. 地図ユニット</h2>


      <div class="e-gmap">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12963.323312243096!2d139.7670516!3d35.6811673!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x277c49ba34ed38!2z5p2x5Lqs6aeF!5e0!3m2!1sja!2sjp!4v1515111619588" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>


      <div class="e-gmap  is-img-w50">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12963.323312243096!2d139.7670516!3d35.6811673!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x277c49ba34ed38!2z5p2x5Lqs6aeF!5e0!3m2!1sja!2sjp!4v1515111619588" width="300" height="225" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>


      <div class="e-gmap  is-img-w33">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12963.323312243096!2d139.7670516!3d35.6811673!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x277c49ba34ed38!2z5p2x5Lqs6aeF!5e0!3m2!1sja!2sjp!4v1515111619588" width="220" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

      <div class="e-gmap is-img-w25">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12963.323312243096!2d139.7670516!3d35.6811673!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x277c49ba34ed38!2z5p2x5Lqs6aeF!5e0!3m2!1sja!2sjp!4v1515111619588" width="150" height="112" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

    </div>

    <div class="l-unit">

      <h2 class="e-heading2" id="ank6">6. ビデオユニット</h2>

      <div class="e-video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/MZyeTk5b4PQ?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="e-video-container is-img-w50">
        <iframe width="280" height="157" src="https://www.youtube.com/embed/MZyeTk5b4PQ?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="e-video-container is-img-w33">
        <iframe width="187" height="105" src="https://www.youtube.com/embed/MZyeTk5b4PQ?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="e-video-container is-img-w25">
        <iframe width="140" height="80" src="https://www.youtube.com/embed/MZyeTk5b4PQ?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

  </div>
</section>

{% endblock %}


