@charset "utf-8";

// Color
// ------------------------------------------------------------


// Primary Colors
// -------------------
$primary-color-light:          #B2EBF2 !default;
$primary-color:                #00BCD4 !default;
$primary-color-dark:           #0097A7 !default;


// Accent Colors
// -------------------
$accent-color:                 #FF9800 !default;


// Text Colors
// -------------------
$primary-text-color:           #212121 !default;
$secondary-text-color:         #757575 !default;
$disabled-text-color:          #9E9E9E !default;

$primary-text-color-white:     rgba(255, 255, 255, 1) !default;
$secondary-text-color-white:   rgba(255, 255, 255, .70) !default;
$disabled-text-color-white:    rgba(255, 255, 255, .30) !default;


// Link Colors
// -------------------
$link-color:                  #477DCA !default;
$link-color-visited:          #4C2C92 !default;
$link-color-hover:            #0096DF !default;


// Dividers Colors
// -------------------
$dividers-color:              #DEDEDE !default;
$dividers-color-light:        rgba(0,0,0,.2) !default;


// Parts Colors
// -------------------
$error-color:                 #cc3e4c !default;
$error-border:                $error-color !default;
$error-bg:                    tint($error-color, 90%) !default;
$error-content:               "warning" !default;

$warning-color:               #f6bb42 !default;
$warning-border:              $warning-color !default;
$warning-bg:                  tint($warning-color, 90%) !default;
$warning-content:             "warning" !default;

$success-color:               #6f9614 !default;
$success-border:              $success-color !default;
$success-bg:                  tint($success-color, 90%) !default;
$success-content:             "check" !default;

$info-color:                  #478fbb !default;
$info-border:                 $info-color !default;
$info-bg:                     tint($info-color, 90%) !default;
$info-content:                "priority_high" !default;


// Other Colors
// -------------------
$twitter:                     #1d9ef0 !default;
$facebook:                    #3b5996 !default;
$line:                        #00b900 !default;
$hatena:                      #5d8ac1 !default;
$instagram:                   #be3449 !default;


