@charset "utf-8";

// Fonts
// ------------------------------------------------------------

$fsize-sp:  14px !default;
$fsize-pc:  16px !default;

$line-height-sp:  1.6 !default;
$line-height-pc:  1.8 !default;

$fsize-h1-sp: 20px !default;
$fsize-h2-sp: 18px !default;
$fsize-h3-sp: 16px !default;
$fsize-h4-sp: 14px !default;
$fsize-h5-sp: 14px !default;
$fsize-h6-sp: 14px !default;

$fsize-h1-pc: 26px !default;
$fsize-h2-pc: 22px !default;
$fsize-h3-pc: 18px !default;
$fsize-h4-pc: 16px !default;
$fsize-h5-pc: 16px !default;
$fsize-h6-pc: 14px !default;


// フォントファミリー
// -------------------------
$font-system-font: -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", MyYuGothicM, Meiryo, sans-serif !default;
$font-family-hiragino: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, helvetica, arial, sans-serif !default;
$font-family-yugothic: YuGothic, -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif !default;
$font-family-monospace: "Inconsolata", Monaco, Menlo, Consolas, "Courier New", monospace !default;
$font-family-noto-sans: "Noto Sans JP", sans-serif !default;

$font-family-base: $font-family-hiragino !default;

// webフォント icon フォント
// -------------------------

$google-icon: "Material Icons" !default;
//@include webfont($google-icon,normal,normal,liga);


/*doc
---
title: fonts
name: fonts
category: variables
---


```

```

*/