@charset "utf-8";

// base-margin
// -------------------------

$margin-xs-sp:     10px !default;
$margin-small-sp:  16px !default;
$margin-medium-sp: 20px !default;
$margin-large-sp:  20px !default;

$margin-xs-pc:     10px !default;
$margin-small-pc:  24px !default;
$margin-medium-pc: 36px !default;
$margin-large-pc:  40px !default;


/*doc
---
title: margin
name: margin
category: variables
---


```

```

*/