@charset "utf-8";

//幅設定
// ------------------------------------------------------------

//レスポシブ基準幅
$screen-max-sp: 700 !default;

$screen-sp:  600 !default;
$screen-tab: 768 !default;
$screen-pc:  1192 !default;

$screen-min: 375 !default;
$screen-max: 1600 !default;

//カラムレイアウトの幅
$screen-main-wide-colum: 1192 !default;
$screen-main-colum: 842 !default;
$screen-sub-colum: 300 !default;

//左右余白
$screen-gap-sp:  16 !default;
$screen-gap-tab: 16 !default;
$screen-gap-pc:  16 !default;


//グリッドの数
$screen-grid: 12!default;

//グリッドのガター
$screen-grid-gap: 16!default;
//--------------------------------------------------------

//--------------------------------------------------------

//カラムレイアウトの幅 px
$width-main-wide-colum: $screen-main-wide-colum + px !default;
$width-main-colum: $screen-main-colum + px !default;
$width-sub-colum: $screen-sub-colum + px !default;


//左右余白 px
$width-gap-sp: $screen-gap-sp + px !default;
$width-gap-tab: $screen-gap-tab + px !default;
$width-gap-pc: $screen-gap-pc + px !default;


//$screen - ではじまる物は数値のみ
//$width -  ではじまる物は数値 + 単位

//ブレークポイント
$screen-sp-min: $screen-min !default;
$screen-sp-max: $screen-sp - .001 !default;
$screen-tab-min: $screen-sp !default;
$screen-tab-max: $screen-tab - .001 !default;
$screen-pc-min: $screen-tab !default;
$screen-pc-max: $screen-pc !default;
$screen-lg-min: $screen-pc + .001 !default;
$screen-lg-max: $screen-max !default;


//ブレークポイント px
$width-min: $screen-min + px !default;
$width-sp-min: $screen-sp-min + px !default;
$width-sp-max: $screen-sp-max + px !default;
$width-tab-min: $screen-tab-min + px !default;
$width-tab-max: $screen-tab-max + px !default;
$width-pc-min: $screen-pc-min + px !default;
$width-pc-max: $screen-pc-max + px !default;
$width-lg-min: $screen-lg-min + px !default;
$width-lg-max: $screen-lg-max + px !default;
$width-max: $screen-max + px !default;


