@charset "utf-8";

/* @  Footer Layout
 * ------------------------------------------------------------ */

.l-footer-v1 {
  background-color: $primary-color-dark;
  padding-top: 29px;
  color: $primary-text-color-white;

  @include media-sp-max {
    padding-top: 8px;

  }

  a,
  button {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  ._primary {
    max-width: $width-pc-max;
    margin-left: auto;
    margin-right: auto;
    padding-right: $width-gap-pc;
    padding-left: $width-gap-pc;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-bottom: 15px;
    @include media-sp-max {
      margin-bottom: 8px;
      padding-right: $width-gap-sp;
      padding-left: $width-gap-sp;

      ._order1-sp {
        order: 1;
      }
      ._order2-sp {
        order: 2;
      }

    }
  }

  ._secondary {
    border-top: 1px solid rgba(255, 255, 255, .2);
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: center;
    padding-right: $width-gap-pc;
    padding-left: $width-gap-pc;

    @include media-sp-max {
      padding-right: $width-gap-sp;
      padding-left: $width-gap-sp;
    }

  }

  //----------------
  // part
  //----------------

  ._description {
    min-width: 320px;
    margin-bottom: 12px;

    @include media-sp-max {
    }

  }
  ._description-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;

    margin-bottom: 9px;
  }
  ._description-text {
    font-size: 14px;
    line-height: 1.7;
  }

  ._nav {
    width: calc(100% - 320px);
    margin-bottom: 12px;

    @include media-sp-max {
      width: 100%;
    }

    ._nav-title {
      display: none;
      @include media-sp-max {
        display: block;
      }

      position: relative;

      overflow: hidden;

      width: 100%;
      margin-right: -$width-gap-sp;
      margin-left: -$width-gap-sp;
      padding: 14px 15px;

      text-align: center;

      border-bottom: 1px solid rgba(255, 255, 255, .2);
      button, a {
        font-size: 14px;
        font-weight: bold;
        line-height: 1.4;

        border: none;
        background-color: transparent;
      }

      &:after {

        font-family: 'Material Icons';
        font-size: 20px;

        position: absolute;
        top: 50%;
        right: 0;

        content: 'add';
        transform: translateY(-50%) translateX(-50%);
        white-space: nowrap;
        word-wrap: normal;
      }
      &[aria-expanded="false"]:after {
        content: "remove";
      }

    }

    ._nav-body {
      display: flex;

      flex-flow: row wrap;
      justify-content: flex-start;
      @include media-sp-max {
        display: block;
      }
    }
    @include media-sp-max {
      ._nav-body[aria-hidden="true"] {
        display: none;
      }
    }

    ul {
      width: 17%;
      margin-left: 3%;

      @include media-tab-max {
        width: 47%;
      }

      @include media-sp-max {
        width: 100%;
        margin-left: 0;
      }
    }
    li {
      font-size: 14px;
      line-height: 1.4;

      margin-bottom: 15px;

      @include media-sp-max {
        margin-bottom: 0;
        a {
          display: block;

          margin-right: -$width-gap-sp;
          margin-left: -$width-gap-sp;
          padding: 14px $width-gap-sp;

          border-bottom: 1px solid rgba(255, 255, 255, .2);

        }
      }
    }

  }

}

