@charset "utf-8";

/*doc
---
title: link
name: link
category: mixins
---


```
@include link();
@include link-dark();

```

*/

@mixin link() {

  &,
  &[href^="tel:"] {
    color: $brand-link;
    text-decoration: underline;
    transition: $animation;
  }

  &:hover,
  &:visited,
  &[href^="tel:"]:hover,
  &[href^="tel:"]:visited {
    transition: $animation;
    color: $brand-link-visited;
  }
  &:hover,
  &[href^="tel:"]:hover {
    color: $brand-link-hover;
    text-decoration: none;
  }

}

@mixin link-dark() {

  &,
  &[href^="tel:"] {
    color: $brand-link-dark;
    text-decoration: underline;
    transition: $animation;
  }

  &:hover,
  &:visited,
  &[href^="tel:"]:hover,
  &[href^="tel:"]:visited {
    transition: $animation;
    color: $brand-link-dark-visited;
  }
  &:hover,
  &[href^="tel:"]:hover {
    color: $brand-link-dark-hover;
    text-decoration: none;
  }

}