@charset "utf-8";

/* ==========================================================================
   #breadcrumb
   ========================================================================== */

/*doc
---
title: breadcrumb
name: breadcrumb
categories: [components, breadcrumb]
---

```html_example
<div class="c-breadcrumb" role="navigation" aria-label="現在地表示">
  <div class="c-breadcrumb__inner">
    <span><a href="/">ホーム</a></span>
        <span><a href="/category/">カテゴリー</a></span>
        <span>ページタイトル</span>
  </div>
</div>


```



<h3 class="styleguide">構造化データ</h3>

```html_example
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement":
  [

    {
      "@type": "ListItem",
      "position": 1,
      "item":
      {
        "@id": "/category/",
        "name": "カテゴリー"
      }
    },

    {
      "@type": "ListItem",
      "position": 2,
      "item":
      {
        "@id": "",
        "name": "ページタイトル"
      }
    }

  ]
}
</script>

```

*/

.c-breadcrumb {

  padding: 0 $width-gap-pc;
  border-bottom: 1px solid $dividers-color;
  @include mb-large;
  @include media-sp-max {
    padding-top: 15px;
  }
  &__inner {

    max-width: $width-pc-max;
    margin: 13px auto 13px;
    font-size: 12px;

    i {
      color: #757575;
      font-size: 1.125rem;
      vertical-align: middle;
      margin-right: -.3em;
    }

    @include media-sp-max {
      white-space: nowrap;
      overflow: scroll;
      -ms-overflow-style: none;
    }

    a {
      text-decoration: none;
      color: $link-color;
    }

    span:before {
      //content: "/";
      //content: ">";
      //padding-right: .5em;
      //padding-left: .5em;
      //color: $dividers-color;

      margin-right: 24px;
      margin-left: 16px;
      display: inline-block;
      width: 4px;
      height: 4px;
      transform: rotate(45deg);
      border-style: solid;
      border-color: $dividers-color;
      border-top-width: 1px;
      border-right-width: 1px;
      border-bottom-width: 0;
      border-left-width: 0;
      content: "";
      vertical-align: middle;

    }

    span:first-child:before {
      display: none;
    }

    a:hover {
      text-decoration: underline;
      transition: $animation;
      color: $link-color-hover;
    }
  }
}

