@charset "utf-8";

/* ==========================================================================
   #BUTTONS
   ========================================================================== */

/* ボタンベース
   ========================================================================== */

/*doc
---
title: button
name: button
categories: [elements, button]
---


<h3 class="styleguide">Default</h3>

```html_example

<div class="e-button-group">
  <button id="button1" class="ripple e-button e-button--primary" type="button"><i class="material-icons is-icon-left">navigate_before</i>もっと見る<i class="material-icons is-icon-right">navigate_next</i></button>
  <button class="ripple e-button e-button--primary is-hover" type="button">もっと見る
  </button>
  <button class="ripple e-button e-button--primary is-disabled" type="button">もっと見る</button>
</div>

```


<h3 class="styleguide">Secondary</h3>

```html_example

<div class="e-button-group">
  <button class="e-button e-button--secondary" type="button"><i class="material-icons is-icon-left">navigate_before</i>もっと見る<i class="material-icons is-icon-right">navigate_next</i></button>
  <button class="e-button e-button--secondary is-hover" type="button">もっと見る</button>
  <button class="e-button e-button--secondary is-disabled" type="button">もっと見る</button>
</div>

```


*/

// .visual-editor 内でもつかるように button のcolor とtext-decoration は 「!important」とします

$button-padding-vertical: 1rem !default;
$button-padding-horizon: 2.5rem !default;


.e-button,
.entry-btn,
.entry-btn-attention {


  a {
    font-weight: inherit;

    text-decoration: inherit;

    color: inherit;
  }

  font-weight: bold;
  line-height: 1.2;

  position: relative;

  display: inline-block;
  overflow: hidden;

  box-sizing: border-box;
  min-width: 64px;
  max-width: 100%;
  padding: $button-padding-vertical $button-padding-horizon;

  user-select: none;
  transition: all $animation;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none !important;

  color: $primary-text-color !important;
  border: 1px solid $dividers-color;
  border-radius: $border-radius-pc;
  outline: none;
  background-color: #fff;

  -webkit-font-smoothing: antialiased;
  appearance: none;
  @include media-sp-max {
    padding: ($button-padding-vertical) ($button-padding-horizon * .8);
  }

  @include elevation(2);
  @include elevation-transition;

  &:hover,
  &:focus,
  &.is-hover {
    // background-color: shade($primary, 10%);
    text-decoration: none;
    @include elevation(4);
  }

  &:active {
    //  background-color: shade($primary, 10%);
    text-decoration: none;
    @include elevation(8);
  }

  &:disabled,
  &.is-disabled {
    cursor: not-allowed;

    color: #666 !important;
    border: 1px solid $dividers-color;
    background-color: #eee;
    @include elevation(0);
  }


  .is-icon-left,
  .is-icon-right {
    position: absolute;
    top: 0;
    bottom: 0;

    width: 1em;
    height: 1em;
    margin: auto;
  }

  .is-icon-left {
    left: .5em;
  }

  .is-icon-right {
    right: .5em;
  }


}




//.e-button--primary {  }

.e-button--primary,
.entry-btn-attention {
  color: #fff !important;
  border-color: $primary-color;
  background-color: $primary-color;

}


.e-button--accent {
  color: #fff !important;
  border-color: $accent-color;
  background-color: $accent-color;

}

/* ボタングループ
   ========================================================================== */
/*doc
---
title: button-group
name: button-group
categories: [elements, button]
parent: button
---

```html_example
<div class="e-button-group">
  <button type="button" class="e-button">もっと見る</button>
  <button type="button" class="e-button">もっと見る</button>
</div>

<div class="e-button-group e-button-group--left">
  <button type="button" class="e-button">もっと見る</button>
  <button type="button" class="e-button">もっと見る</button>
</div>


```

*/

.e-button-group {

  display: flex;

  margin-right: -(($screen-gap-pc / 2) / $screen-main-colum) * 100%;
  margin-left: -(($screen-gap-pc / 2) / $screen-main-colum) * 100%;

  text-align: center;

  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
  @include mb-small;
  @include media-sp-max {
    display: block;

    margin-right: -(($screen-gap-sp / 2) / $screen-main-colum) * 100%;
    margin-left: -(($screen-gap-sp / 2) / $screen-main-colum) * 100%;
  }

  .e-button {
    margin-right: (($screen-gap-pc / 2) / $screen-main-colum) * 100%;
    margin-bottom: $margin-xs-pc;
    margin-left: (($screen-gap-pc / 2) / $screen-main-colum) * 100%;
    @include media-sp-max {
      //width:100%;
      //display: block;
      margin-right: (($screen-gap-sp / 2) / $screen-main-colum) * 100%;
      margin-left: (($screen-gap-sp / 2) / $screen-main-colum) * 100%;
    }
  }

  .e-button--large {
    @include media-sp-max {
      width:100 - ($screen-gap-sp / $screen-main-colum) * 100%;
    }
  }
}

.e-button-group--one-half {
  .e-button {
    width: 50%;
    @include media-sp-max {
      width: 50%;
    }
  }
}
.e-button-group--left {
  justify-content: flex-start;
}
.e-button-group--right {
  justify-content: flex-end;
}



/* ボタンサイズ
   ========================================================================== */

/*doc
---
title: button-size
name: button-size
categories: [elements, button]
parent: button
---

```html_example
<div class="e-button-group">
  <button type="button" class="e-button e-button--small">もっと見る</button>
  <button type="button" class="e-button e-button--medium">もっと見る</button>
  <button type="button" class="e-button e-button--large">もっと見る</button>
</div>

```

*/

.e-button--small {
  padding: ($button-padding-vertical * .5) ($button-padding-horizon * .55);
  font-size: .75em;

  @include elevation(0);
  @include elevation-transition;


}

.e-button--medium {
  //
}

.e-button--large {
  padding: ($button-padding-vertical * 1.4) ($button-padding-horizon);
  font-size: 1.15em;
  font-weight: bold;
  min-width: (100/3) - (($screen-gap-pc) / $screen-main-colum) * 100%;


  @include media-sp-max {
    padding: ($button-padding-vertical * 1.4) ($button-padding-horizon);
    width:100%;

    min-width: (100/3) - (($screen-gap-sp) / $screen-main-colum) * 100%;

  }

}



