@charset "utf-8";

/* ==========================================================================
   #HEADING
   ========================================================================== */

/* 見出し1
   ========================================================================== */

/*doc
---
title: heading
name: heading
categories: [elements, heading]
---

```html_example
<h1 class="e-heading1">情に棹させば流される智に働けば角が立つ</h1>
<h2 class="e-heading2">情に棹させば流される智に働けば角が立つ</h2>
<h3 class="e-heading3">情に棹させば流される智に働けば角が立つ</h3>
<h4 class="e-heading4">情に棹させば流される智に働けば角が立つ</h4>
<h5 class="e-heading5">情に棹させば流される智に働けば角が立つ</h5>
<h6 class="e-heading6">情に棹させば流される智に働けば角が立つ</h6>

```

*/

.visual-editor h1,
.e-heading1 {
  @include fsize-h1;
  margin-bottom: 1rem;
  font-weight: bold;
  overflow: hidden;
  line-height: $line-height-heading;
}


.visual-editor h2,
.e-heading2 {
  @include fsize-h2;
  margin-bottom: 1rem;
  font-weight: bold;
  overflow: hidden;
  line-height: $line-height-heading;
}

.visual-editor h3,
.e-heading3 {
  @include fsize-h3;
  margin-bottom: 1rem;
  font-weight: bold;
  overflow: hidden;
  line-height: $line-height-heading;
}

.visual-editor h4,
.e-heading4 {
  @include fsize-h4;
  margin-bottom: 1rem;
  font-weight: bold;
  overflow: hidden;
  line-height: $line-height-heading;
}

.visual-editor h5,
.e-heading5 {
  @include fsize-h5;
  margin-bottom: 1rem;
  font-weight: bold;
  overflow: hidden;
  line-height: $line-height-heading;

}

.visual-editor h6,
.e-heading6 {
  @include fsize-h6;
  margin-bottom: 1rem;
  font-weight: bold;
  overflow: hidden;
  line-height: $line-height-heading;
}





/*doc
---
title: heading-unit
name: heading-unit
categories: [elements, heading]
parent: heading
---

```html_example


<div class="e-heading-group">
  <h1 class="e-heading1">情に棹させば流される智に働けば角が立つ</h1>
  <p class="e-heading-date"> 6月12日  12:49</p>
   <ul class="e-heading-tag e-list-tag">
    <li><a href="">タグ1</a></li>
    <li><a href="">タグ2</a></li>
    <li><a href="">タグ3</a></li>
    <li><a href="">タグ4</a></li>
    <li><a href="">タグ5</a></li>
    <li><a href="">タグ6</a></li>
  </ul>

</div>

```
*/


.e-heading-date {
  @include mb-small;
}

.e-heading-tag {

}




.e-heading-copy {
  @include mb-small;
  font-size: 14px;
}

.e-heading-group {
  @include mb-large;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include mb-large(.5);
    //margin-bottom: .5em;
  }
}