@charset "utf-8";

/* @  main visual
 * ------------------------------------------------------------ */
/*doc
---
title: main-visual
name: main-visual
categories: [components, main-visual]
---


<h3 class="styleguide">Main Visual Background</h3>

```html_example
  <div class="c-main-visual">
    <div class="c-main-visual__bg-img" style="background-image: url(/assets/img/dummy/1280x450.png)">
       <h1>タイトル</h1>
    </div>
  </div>
```



*/

.c-main-visual {
  text-align: center;
  @include mb-small;

  a {
    display: block;
  }

  &__bg-img {
    background-image: url(../img/common/main_visual.png);
    background-position: center center;
    background-size: cover;
    min-height: 200px;
    max-height: 200px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    @include media-sp-max {
      min-height: 100px;
    }
  }

  &__title {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 3em;
    line-height: 1.2;
    @include media-sp-max {
      font-size: 1.5em;

    }
  }
  &__sub-title {
    display: block;
  }

}


