@charset "utf-8";

/* ==========================================================================
   #headline
   ========================================================================== */

/*doc
---
title: headline
name: headline
categories: [components, headline]
---

```html_example

   <ul class="c-headline">
    <li class="c-headline__item">
      <span class="c-headline__date">2017.10.01 </span>
      <span class="c-headline__label">
        <span class="e-label e-label--blue">カテゴリ</span>
        <span class="e-label e-label--blue">カテゴリ</span>
      </span>
      <p class="c-headline__title"><a href="">ニュースタイトルが入りますニュースタイトルが入ります。ニュースタイトルが入りますニュースタイトルが入ります。</a></p>
    </li>
     <li class="c-headline__item">
      <span class="c-headline__date">2017.10.01 </span>
      <span class="c-headline__label">
        <span class="e-label e-label--blue">カテゴリ</span>
      </span>
      <p class="c-headline__title"><a href="">ニュースタイトルが入りますニュースタイトルが入ります。ニュースタイトルが入りますニュースタイトルが入ります。</a></p>
    </li>
     <li class="c-headline__item">
      <span class="c-headline__date">2017.10.01 </span>
      <p class="c-headline__title"><a href="">ニュースタイトルが入りますニュースタイトルが入ります。ニュースタイトルが入りますニュースタイトルが入ります。</a></p>
    </li>

   </ul>

```
*/

.c-headline {
  @include mb-small;
  &__item {
    margin-bottom: 1em;
    line-height: 1.4;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;

    @include media-sp-max {
      display: block;
    }

    a {
      color: $text-color;
    }
  }

  &__date {
    margin: .1em 1em .1em 0;
    @include fsize(12px);
    color: $text-color-sub;
    min-width: 6em;

  }

  &__label {
    margin-right: 1em;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    @include media-sp-max {
      display: inline;
    }

    span {
      white-space: nowrap;
      margin-right: .3em;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__title {
    @include fsize(14px);
    @include media-sp-max {
      margin-top: .4em;
    }

  }

}


/*doc
---
title: headline-search
name: headline-search
categories: [components, headline]
parent: headline
---

```html_example

   <ul class="c-headline-search">
    <li class="c-headline-search__item">
      <p class="c-headline-search__title"><a href="">ニュースタイトルが入りますニュースタイトルが入ります。ニュースタイトルが入りますニュースタイトルが入ります。</a></p>
      <p class="c-headline-search__url"><a href="">ニュースニュース</a></p>
      <p class="c-headline-search__text">ニュースニュースニュースニュース<span class="c-headline-search__sub-text"> ニュースニュースニュースニュース</span></p>
    </li>
   </ul>

```
*/

.c-headline-search {
  @include mb-small;
  &__item {
    @include mb-medium;

  }
  &__title {
    @include fsize(18px);
    margin-bottom: .5em;
    @include media-sp-max {
      margin-bottom: 0;
    }
  }
  &__url {
    @include fsize(14px);
    color: $brand-light-green;
    line-height: 1;
    a {
      color: inherit;
    }
  }
  &__text {
    @include fsize(14px);
    display: inline;
    margin-right: .5em;

  }
  &__sub-text {
    @include fsize(12px);
    color: $text-color-sub;
    display: inline;
  }

}

