@charset "utf-8";

/* Alerts
   ========================================================================== */

/*doc
---
title: alert
name: alert
categories: [elements, alert]
---

<h3 class="styleguide">Success</h3>

```html_example
<div class="e-box-alert e-box-alert--success">
  <div class="e-box-alert__body">
    <p class="e-box-alert__text">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った</p>
  </div>
</div>
```

<h3 class="styleguide">Warning</h3>
```html_example
<div class="e-box-alert e-box-alert--warning">
  <div class="e-box-alert__body">
    <p class="e-box-alert__text">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った</p>
  </div>
</div>
```

<h3 class="styleguide">Error</h3>
```html_example
<div class="e-box-alert e-box-alert--error" role="alert">
  <div class="e-box-alert__body">
    <p class="e-box-alert__text">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った</p>
  </div>
</div>
```


<h3 class="styleguide">Information</h3>
```html_example
<div class="e-box-alert e-box-alert--info">
  <div class="e-box-alert__body">
    <p class="e-box-alert__text">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った</p>
  </div>
</div>

```


*/

.e-box-alert {
  font-size: 16px;

  position: relative;

  display: inline-block;

  box-sizing: border-box;
  width: 100%;
  padding: .6rem 1.5rem .6rem 3.2rem;

  border: 1px solid $dividers-color;
  border-radius: $border-radius-pc;
  background-color: $dividers-color;
  @include mb-small;

  &:before {
    font-size: 1.5rem;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 1.1rem;

    height: 1em;
    margin: auto;

    content: 'check';
    vertical-align: middle;
    white-space: nowrap;
    @extend .material-icons;

  }

}

.e-box-alert--success {
  color: $success-color;
  border-color: $success-border;
  background-color: $success-bg;

  &:before {
    content: 'check';

    color: $success-border;
  }
}

.e-box-alert--warning {
  color: $warning-color;
  border-color: $warning-border;
  background-color: $warning-bg;

  &:before {
    content: 'warning';

    color: $warning-border;
  }
}

.e-box-alert--error {
  color: $error-color;
  border-color: $error-border;
  background-color: $error-bg;
  &:before {
    content: 'warning';

    color: $error-border;
  }
}

.e-box-alert--info {
  color: $info-color;
  border-color: $info-border;
  background-color: $info-bg;

  &:before {
    content: 'priority_high';

    color: $info-border;
  }
}


