<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <!--#include virtual="/_partials/html-head.html"-->
</head>

<body id="skippy">

<!--#include virtual="/_partials/header.html"-->

<main>
  <div class="c-main-visual">
    <div class="c-main-visual__bg-img" style="background-image: url(/assets/img/dummy/1280x450.png)">
      <h1 class="c-main-visual__title">ユニットテンプレート2</h1>
    </div>
  </div>


  <div class="c-breadcrumb" role="navigation" aria-label="現在地表示">
    <div class="c-breadcrumb__inner">
      <span><a href="/">ホーム</a></span>
      <span>ユニットテンプレート2</span>
    </div>
  </div>

    <section class="l-container">
      <div class="l-block">

        <div class="l-unit c-anchor-nav">
          <div class="c-anchor-nav__body">
            <p class="c-anchor-nav__title">コンテンツ</p>
            <ul data-scroll>
              <li><a href="#ank1">ユニットグループ-1カラム</a></li>
              <li><a href="#ank2">ユニットグループ-1カラム-bg有り</a></li>
              <li><a href="#ank3">ユニットグループ-2カラム</a></li>
              <li><a href="#ank4">ユニットグループ-2カラム-bg有り</a></li>
              <li><a href="#ank5">ユニットグループ-3カラム</a></li>
              <li><a href="#ank6">ユニットグループ-3カラム-bg有り</a></li>
              <li><a href="#ank7">ユニットグループ-2/3カラム</a></li>
              <li><a href="#ank8">ユニットグループ-2/3カラム-bg有り</a></li>
            </ul>
          </div>
        </div>

        <div class="l-unit">
          <h2 class="e-heading2" id="ank1">1. ユニットグループ-1カラム</h2>

          <div class="l-cols">
            <div class="l-col12">
              <figure class="e-img-box">
                <img src="/assets/img/dummy/840x560.png" alt="">
                <figcaption class="e-img-caption">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。</figcaption>
              </figure>
            </div>
          </div>


        </div>

        <div class="l-unit">
          <h2 class="e-heading2" id="ank2">2. ユニットグループ-1カラム-bg有り</h2>

          <div class="l-cols">
            <div class="l-col12">
              <div class="e-box e-box--bg">
                <figure class="e-img-box">
                  <img src="/assets/img/dummy/840x560.png" alt="">
                  <figcaption class="e-img-caption">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。</figcaption>
                </figure>
              </div>
            </div>
          </div>

        </div>

        <div class="l-unit">
          <h2 class="e-heading2" id="ank3">3. ユニットグループ-2カラム</h2>

          <div class="l-cols l-cols--break">
            <div class="l-col6">
              <h2 class="e-heading2">見出し2見出し2見出し2</h2>
              <figure class="e-img-box">
                <img src="/assets/img/dummy/840x560.png" alt="">
                <figcaption class="e-img-caption">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。</figcaption>
              </figure>
              <h3 class="e-heading3">見出し3見出し3見出し3見出し3</h3>
              <p class="e-text">本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え</p>
            </div>
            <div class="l-col6">
              <h2 class="e-heading2">見出し2見出し2見出し2</h2>
              <figure class="e-img-box">
                <img src="/assets/img/dummy/840x560.png" alt="">
                <figcaption class="e-img-caption">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。</figcaption>
              </figure>
              <h3 class="e-heading3">見出し3見出し3見出し3見出し3</h3>
              <p class="e-text">本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え</p>
            </div>
          </div>

        </div>

        <div class="l-unit">
          <h2 class="e-heading2" id="ank4">4. ユニットグループ-2カラム-bg有り</h2>
          <div class="l-cols l-cols--break">
            <div class="l-col6">
              <div class="e-box e-box--bg">
                <h2 class="e-heading2">見出し2見出し2見出し2</h2>
                <figure class="e-img-box">
                  <img src="/assets/img/dummy/840x560.png" alt="">
                  <figcaption class="e-img-caption">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。</figcaption>
                </figure>
                <h3 class="e-heading3">見出し3見出し3見出し3見出し3</h3>
                <p class="e-text">本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え</p>
              </div>
            </div>
            <div class="l-col6">
              <div class="e-box e-box--bg">
                <h2 class="e-heading2">見出し2見出し2見出し2</h2>
                <figure class="e-img-box">
                  <img src="/assets/img/dummy/840x560.png" alt="">
                  <figcaption class="e-img-caption">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。</figcaption>
                </figure>
                <h3 class="e-heading3">見出し3見出し3見出し3見出し3</h3>
                <p class="e-text">本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え</p>
              </div>
            </div>
          </div>

        </div>

        <div class="l-unit">
          <h2 class="e-heading2" id="ank5">5. ユニットグループ-3カラム</h2>
          <div class="l-cols l-cols--break">
            <div class="l-col4">
              <h2 class="e-heading2">見出し2見出し2見出し2</h2>
              <figure class="e-img-box">
                <img src="/assets/img/dummy/840x560.png" alt="">
                <figcaption class="e-img-caption">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。</figcaption>
              </figure>
              <h3 class="e-heading3">見出し3見出し3見出し3見出し3</h3>
              <p class="e-text">本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え</p>
            </div>
            <div class="l-col4">
              <h2 class="e-heading2">見出し2見出し2見出し2</h2>
              <figure class="e-img-box">
                <img src="/assets/img/dummy/840x560.png" alt="">
                <figcaption class="e-img-caption">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。</figcaption>
              </figure>
              <h3 class="e-heading3">見出し3見出し3見出し3見出し3</h3>
              <p class="e-text">本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え</p>
            </div>
            <div class="l-col4">
              <h2 class="e-heading2">見出し2見出し2見出し2</h2>
              <figure class="e-img-box">
                <img src="/assets/img/dummy/840x560.png" alt="">
                <figcaption class="e-img-caption">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。</figcaption>
              </figure>
              <h3 class="e-heading3">見出し3見出し3見出し3見出し3</h3>
              <p class="e-text">本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え</p>
            </div>
          </div>

        </div>

        <div class="l-unit">
          <h2 class="e-heading2" id="ank6">6. ユニットグループ-3カラム-bg有り</h2>

          <div class="l-cols l-cols--break">
            <div class="l-col4">
              <div class="e-box e-box--bg">
                <h2 class="e-heading2">見出し2見出し2見出し2</h2>
                <figure class="e-img-box">
                  <img src="/assets/img/dummy/840x560.png" alt="">
                  <figcaption class="e-img-caption">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。</figcaption>
                </figure>
                <h3 class="e-heading3">見出し3見出し3見出し3見出し3</h3>
                <p class="e-text">本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え</p>
              </div>
            </div>
            <div class="l-col4">
              <div class="e-box e-box--bg">
                <h2 class="e-heading2">見出し2見出し2見出し2</h2>
                <figure class="e-img-box">
                  <img src="/assets/img/dummy/840x560.png" alt="">
                  <figcaption class="e-img-caption">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。</figcaption>
                </figure>
                <h3 class="e-heading3">見出し3見出し3見出し3見出し3</h3>
                <p class="e-text">本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え</p>
              </div>
            </div>
            <div class="l-col4">
              <div class="e-box e-box--bg">
                <h2 class="e-heading2">見出し2見出し2見出し2</h2>
                <figure class="e-img-box">
                  <img src="/assets/img/dummy/840x560.png" alt="">
                  <figcaption class="e-img-caption">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。</figcaption>
                </figure>
                <h3 class="e-heading3">見出し3見出し3見出し3見出し3</h3>
                <p class="e-text">本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え</p>
              </div>
            </div>
          </div>

        </div>


        <div class="l-unit">
          <h2 class="e-heading2" id="ank7">7. ユニットグループ-2/3カラム</h2>
          <div class="l-cols l-cols--break">
            <div class="l-col8">
              <h2 class="e-heading2">見出し2見出し2見出し2</h2>
              <figure class="e-img-box">
                <img src="/assets/img/dummy/840x560.png" alt="">
                <figcaption class="e-img-caption">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。</figcaption>
              </figure>
              <h3 class="e-heading3">見出し3見出し3見出し3見出し3</h3>
              <p class="e-text">本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え</p>
            </div>
            <div class="l-col4">
              <h2 class="e-heading2">見出し2見出し2見出し2</h2>
              <figure class="e-img-box">
                <img src="/assets/img/dummy/840x560.png" alt="">
                <figcaption class="e-img-caption">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。</figcaption>
              </figure>
              <h3 class="e-heading3">見出し3見出し3見出し3見出し3</h3>
              <p class="e-text">本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え</p>
            </div>
          </div>
        </div>

        <div class="l-unit">
          <h2 class="e-heading2" id="ank8">8. ユニットグループ-2/3カラム-bg有り</h2>
          <div class="l-cols l-cols--break">
            <div class="l-col8">
              <div class="e-box e-box--bg">
                <h2 class="e-heading2">見出し2見出し2見出し2</h2>
                <figure class="e-img-box">
                  <img src="/assets/img/dummy/840x560.png" alt="">
                  <figcaption class="e-img-caption">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。</figcaption>
                </figure>
                <h3 class="e-heading3">見出し3見出し3見出し3見出し3</h3>
                <p class="e-text">本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え</p>
              </div>
            </div>
            <div class="l-col4">
              <div class="e-box e-box--bg">
                <h2 class="e-heading2">見出し2見出し2見出し2</h2>
                <figure class="e-img-box">
                  <img src="/assets/img/dummy/840x560.png" alt="">
                  <figcaption class="e-img-caption">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。</figcaption>
                </figure>
                <h3 class="e-heading3">見出し3見出し3見出し3見出し3</h3>
                <p class="e-text">本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え本文左揃え</p>
              </div>
            </div>
          </div>

        </div>


      </div>
    </section>
</main>
<!--#include virtual="/_partials/footer.html"-->
<!--#include virtual="/_partials/html-foot.html"-->

</body>
</html>
