@charset "utf-8";

/* ==========================================================================
   #12 Column Grid System
   ========================================================================== */

/*doc
---
title: grid-12column
name: grid-12column
categories: [layouts, grid-12column]
---

```html_example


<div class="l-cols">
  <div class="l-col12 dummy-box">1/1<br>12 column</div>
</div>
<div class="l-cols">
  <div class="l-col6 is-offset3 dummy-box">1/2<br>6 column, offset3 </div>
</div>

<div class="l-cols l-cols--break">
  <div class="l-col3 dummy-box">1/2<br>3 column</div>
  <div class="l-col3 is-offset6 dummy-box">1/2<br>3 column, offset6 </div>
</div>

<div class="l-cols">
  <div class="l-col6 dummy-box">1/2<br>6 column</div>
  <div class="l-col6 dummy-box">1/2<br>6 column</div>
</div>
<div class="l-cols l-cols--break">
  <div class="l-col4 dummy-box">1/3<br>4 column</div>
  <div class="l-col4 dummy-box">1/3<br>4 column</div>
  <div class="l-col4 dummy-box">1/3<br>4 column</div>
</div>
<div class="l-cols">
  <div class="l-col3 dummy-box">1/4<br>3 column</div>
  <div class="l-col3 dummy-box">1/4<br>3 column</div>
  <div class="l-col3 dummy-box">1/4<br>3 column</div>
  <div class="l-col3 dummy-box">1/4<br>3 column</div>
</div>
<div class="l-cols">
  <div class="l-col2 dummy-box">1/6<br>2 column</div>
  <div class="l-col2 dummy-box">1/6<br>2 column</div>
  <div class="l-col2 dummy-box">1/6<br>2 column</div>
  <div class="l-col2 dummy-box">1/6<br>2 column</div>
  <div class="l-col2 dummy-box">1/6<br>2 column</div>
  <div class="l-col2 dummy-box">1/6<br>2 column</div>
</div>
<div class="l-cols">
  <div class="l-col1 dummy-box">1/12<br>1 column</div>
  <div class="l-col1 dummy-box">1/12<br>1 column</div>
  <div class="l-col1 dummy-box">1/12<br>1 column</div>
  <div class="l-col1 dummy-box">1/12<br>1 column</div>
  <div class="l-col1 dummy-box">1/12<br>1 column</div>
  <div class="l-col1 dummy-box">1/12<br>1 column</div>
  <div class="l-col1 dummy-box">1/12<br>1 column</div>
  <div class="l-col1 dummy-box">1/12<br>1 column</div>
  <div class="l-col1 dummy-box">1/12<br>1 column</div>
  <div class="l-col1 dummy-box">1/12<br>1 column</div>
  <div class="l-col1 dummy-box">1/12<br>1 column</div>
  <div class="l-col1 dummy-box">1/12<br>1 column</div>
</div>
```

*/

/*doc
---
title: Inside - Column
name: grid-12column2-inner
category: grid-12column
---

```html_example


<div class="l-cols l-cols--break">
  <div class="l-col9 dummy-box">3/4<br>9 column
    <div class="l-cols l-cols--inside">
      <div class="l-col6 is-offset3 dummy-box">6 columns(inside), offset3(inside)</div>
     </div>
     <div class="l-cols l-cols--inside l-cols--break">
      <div class="l-col6 dummy-box">6 columns(inside)</div>
      <div class="l-col6 dummy-box">6 columns(inside)</div>
     </div>
      <div class="l-cols l-cols--inside">
      <div class="l-col4 dummy-box">1/3(inside)<br>4 column</div>
      <div class="l-col4 dummy-box">1/3(inside)<br>4 column</div>
      <div class="l-col4 dummy-box">1/3(inside)<br>4 column</div>
     </div>
  </div>
  <div class="l-col3 dummy-box">1/4<br>3 column</div>
</div>
```
*/

/*doc
---
title: grid-12column-gapless
name: grid-12column-gapless
categories: [layouts, grid-12column]
parent: grid-12column
---


```html_example

<div class="l-cols l-cols--gapless l-cols--break">
  <div class="l-col8 dummy-box">2/3<br>8 column  </div>
  <div class="l-col4 dummy-box">1/3<br>4 column
   <div class="l-cols l-cols--gapless">
     <div class="l-col12 dummy-box">12 column  </div>
     <div class="l-col12 dummy-box">12 column  </div>
   </div>
  </div>
</div>

<div class="l-cols l-cols--gapless ">
  <div class="l-col6 is-offset3 dummy-box">1/2<br>6 column, offset3 </div>
</div>

<div class="l-cols  l-cols--gapless  l-cols--break">
  <div class="l-col3 dummy-box">1/2<br>3 column</div>
  <div class="l-col3 is-offset6 dummy-box">1/2<br>3 column, offset6 </div>
</div>

```

*/

$grid: 12 !default;
$grid-gap: 12 !default;
$outside-width: $screen-pc-max !default;
$inside-width: $screen-main-colum !default;
$outside-gap: $grid-gap !default;
$inside-gap: $grid-gap * 1.2 !default;
$outside-bottom: $outside-gap * .16% !default;
$inside-bottom: $inside-gap * .26% !default;

$outside-columns-auto: ($outside-width / $grid) - (2 * $outside-gap) !default;
$outside-grid-auto: ($outside-gap * ($grid * 2)) + ($outside-columns-auto * $grid) !default;

$inside-columns-auto: ($inside-width / $grid) - (2 * $inside-gap) !default;
$inside-grid-auto: ($inside-gap * ($grid * 2)) + ($inside-columns-auto * $grid) !default;

.l-cols,
.l-cols--outside {
  margin-right: - (percentage($outside-gap / $outside-grid-auto));
  margin-left: - (percentage($outside-gap / $outside-grid-auto));

  > .l-col1,
  > .l-col2,
  > .l-col3,
  > .l-col4,
  > .l-col5,
  > .l-col6,
  > .l-col7,
  > .l-col8,
  > .l-col9,
  > .l-col10,
  > .l-col11,
  > .l-col12 {
    margin-left: percentage($outside-gap / $outside-grid-auto);
    margin-right: percentage($outside-gap / $outside-grid-auto);
    margin-bottom: $outside-bottom;

    > *:last-child {
      margin-bottom: 0 !important;
    }

    > .l-cols--inside {
      margin-bottom: -$inside-bottom;
    }

  }
}

.l-cols--inside {
  margin-right: - (percentage($inside-gap / $inside-grid-auto));
  margin-left: - (percentage($inside-gap / $inside-grid-auto));

  > .l-col1,
  > .l-col2,
  > .l-col3,
  > .l-col4,
  > .l-col5,
  > .l-col6,
  > .l-col7,
  > .l-col8,
  > .l-col9,
  > .l-col10,
  > .l-col11,
  > .l-col12 {
    margin-left: percentage($inside-gap / $inside-grid-auto);
    margin-right: percentage($inside-gap / $inside-grid-auto);
    margin-bottom: $inside-bottom;

    > *:last-child {
      margin-bottom: 0 !important;
    }
  }
}

.l-cols--gapless {
  margin-right: 0;
  margin-left: 0;

  > .l-col1,
  > .l-col2,
  > .l-col3,
  > .l-col4,
  > .l-col5,
  > .l-col6,
  > .l-col7,
  > .l-col8,
  > .l-col9,
  > .l-col10,
  > .l-col11,
  > .l-col12 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}

.l-cols,
.l-cols--outside,
.l-cols--inside,
.l-cols--gapless {
  @include clearfix;

  > .l-col1,
  > .l-col2,
  > .l-col3,
  > .l-col4,
  > .l-col5,
  > .l-col6,
  > .l-col7,
  > .l-col8,
  > .l-col9,
  > .l-col10,
  > .l-col11,
  > .l-col12 {
    min-height: 1px;
    float: left;
    box-sizing: border-box;
    max-width: 100%;
  }
}

@include media-sp-max {
  .l-cols--break {

    margin-right: 0;
    margin-left: 0;

    > .l-col1,
    > .l-col2,
    > .l-col3,
    > .l-col4,
    > .l-col5,
    > .l-col6,
    > .l-col7,
    > .l-col8,
    > .l-col9,
    > .l-col10,
    > .l-col11,
    > .l-col12 {
      width: auto;
      float: none;
      @include clearfix;
      clear: both;
      margin-left: 0;
      margin-right: 0;

      margin-bottom: $width-gap-sp !important;
    }

    margin-bottom: 0 !important;

  }
}

@for $i from 1 through 12 {
  .l-cols,
  .l-cols--outside {

    $this-grid: $i;
    $this-width: ((($outside-columns-auto * $this-grid) + ($outside-gap * ($this-grid - 1)) + ($outside-gap * ($this-grid - 1))) / $outside-grid-auto * 100%);

    > .l-col#{$i} {
      width: $this-width;
    }

    > .is-offset#{$i} {
      margin-left: $this-width + (percentage($outside-gap / $outside-grid-auto) * 3);
    }
  }

  .l-cols--inside {

    $this-grid: $i;
    $this-width: ((($inside-columns-auto * $this-grid) + ($inside-gap * ($this-grid - 1)) + ($inside-gap * ($this-grid - 1))) / $inside-grid-auto * 100%);

    > .l-col#{$i} {
      width: $this-width;
    }

    > .is-offset#{$i} {
      margin-left: $this-width + (percentage($inside-gap / $inside-grid-auto) * 3);
    }
  }

  .l-cols--gapless {

    $this-grid: $i;

    > .l-col#{$i} {
      width: 8.333333333% * $i;
    }

    > .is-offset#{$i} {
      margin-left: 8.333333333% * $i;
    }

  }

}

