<footer id="footer" class="l-footer-v1">
  <div class="_primary">
    <div class="_description _order2-sp">
      <h3 class="_description-title">会社名</h3>
      <p class="_description-text">〒000-0000<br>サンプル県サンプル区サンプル1-1-1<br>
        TEL <a href="tel:xxx-xxx-xxxx">123-456-7890</a><br>
        FAX 123-456-7890</p>
    </div>
    <div class="_nav _order1-sp" data-accordion data-device-accordion="sp">
      <h3 class="_nav-title" data-toggle-accordion><button type="button">メニュー</button></h3>
      <nav class="_nav-body" data-body-accordion aria-hidden="true">
        <ul>
          <li><a href="">1ページタイトル</a></li>
          <li><a href="">ページタイトル</a></li>
          <li><a href="">ページタイトル</a></li>
        </ul>
        <ul>
          <li><a href="">2ページタイトル</a></li>
          <li><a href="">ページタイトル</a></li>
          <li><a href="">ページタイトル</a></li>
        </ul>
        <ul>
          <li><a href="">3ページタイトル</a></li>
          <li><a href="">ページタイトル</a></li>
          <li><a href="">ページタイトル</a></li>
        </ul>
        <ul>
          <li><a href="">4ページタイトル</a></li>
          <li><a href="">ページタイトル</a></li>
          <li><a href="">ページタイトル</a></li>
        </ul>

      </nav>
    </div>
  </div>

  <div class="_secondary">
    <div class="_copy"><p>© copyright text</p></div>
  </div>
</footer>
