<noscript>
  <div class="is-prompt">
    <p>お使いのブラウザではJavaScriptが無効に設定されているため、サイトを快適にご利用いただけないかもしれません。</p>
  </div>
</noscript>

<header id="header" class="l-header-v1">

  <div class="_pc">
    <div class="_primary">
      <p class="_logo"><img src="/assets/img/common/logo.png" alt="ロゴ"></p>
      <div>
        <div class="_search" role="search">
          <button type="submit" class="_search-button"><i class="material-icons">search</i></button>
          <input type="text" name="#" class="_search-input" value="" placeholder="" autocomplete="off" aria-autocomplete="list" role="textbox">
        </div>
        <div class="_sub-nav">
          <ul>
            <li><a href="">ヘッダーナビ</a></li>
            <li><a href="">ヘッダーナビ</a></li>
            <li><a href="">ヘッダーナビ</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="_secondary">
      <nav class="_nav" aria-label="デスクトップ用サイト全体のメニュー">
        <ul>
          <li><a href="" class="is-active stay">ナビ</a></li>
          <li><a href="">ナビ</a></li>
          <li><a href="">ナビ</a></li>
          <li><a href="">ナビ</a></li>
          <li><a href="">ナビ</a></li>
          <li><a href="" target="_blank" rel="noopener">ナビ</a></li>
        </ul>
      </nav>
    </div>
  </div>


  <div class="_sp">
    <div class="_primary">
      <div class="_order2">
        <p class="_logo"><img src="/assets/img/common/logo.png" alt="ロゴ"></p>
      </div>
      <div class="_order1">
        <div class="_nav-control">
          <div class="c-control-offcanvas">
            <button
                type="button"
                aria-controls="aria-offcanvas"
                aria-expanded="false"
                aria-label="開く"
                data-toggle-offcanvas>
              <span class="c-control-offcanvas__icon"><span></span><span></span><span></span></span>
            </button>
          </div>
        </div>
      </div>
      <div class="_order3">
        <div class="_search" role="search" data-switch>
          <button type="button" class="_search-switch" data-toggle-switch><i class="material-icons">search</i></button>
          <div class="_search-body" data-body-switch>
            <input type="text" name="#" class="_search-input" value="" placeholder="" autocomplete="off" aria-autocomplete="list" role="textbox">
            <button type="submit" class="_search-button"><i class="material-icons">search</i></button>
            <button type="button" class="_search-switch" data-toggle-switch><i class="material-icons">close</i></button>
          </div>
        </div>




      </div>
    </div>
    <div class="_secondary">
      <div class="c-offcanvas" aria-hidden="true" data-body-offcanvas>
        <div id="aria-offcanvas" class="c-offcanvas__body">
          <nav aria-label="スマートフォン用サイト全体のメニュー">
            <ul class="c-offcanvas__list">
              <li><a href="" class="is-active stay">ナビ</a></li>
              <li><a href="">ナビ</a></li>
              <li><a href="">ナビ</a></li>
              <li><a href="">ナビ</a></li>
              <li><a href="">ナビ</a></li>
              <li><a href="" target="_blank" rel="noopener">ナビ</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div id="js-offcanvas-bg"></div>
    </div>
  </div>

</header>