<meta charset="utf-8">
<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1">
<title>{{page_title}}</title>

<meta name="HandheldFriendly" content="true">
<meta name="MobileOptimized" content="320">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">

<link rel="canonical" href="{{page_url}}">
<meta name="description" content="{{page_description}}">
<meta name="keywords" content="{{page_keywords}}">

<!-- add to ogp -->
<meta property="og:image" content="/img/common/og-image.jpg">
<meta property="og:url" content="https://">
<meta property="og:title" content="{{page_title}}">
<meta property="og:description" content="{{page_description}}">

<!-- add to favicon -->
<link rel="icon" type="image/png" sizes="128x128" href="/assets/img/favicon/icon-128x128.png">


<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="{{page_title}}">
<link rel="icon" sizes="192x192" href="/assets/img/favicon/android-chrome-512x512.png">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="{{page_title}}">
<link rel="apple-touch-icon" href="/assets/img/favicon/apple-touch-icon.png">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage" content="/assets/img/favicon/ms-touch-icon-144x144-precomposed.png">
<meta name="msapplication-TileColor" content="#0e9a91">

<!-- Color the status bar on mobile devices -->
<meta name="theme-color" content="#0e9a91">


<link rel="manifest" href="/manifest.json">


<link rel="stylesheet" href="/assets/css/bundle.css" media="all">
<script src="/assets/js/vendor.js"></script>
<script src="/assets/js/bundle.js"></script>